<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>
<style>
    html,body, .wrap {width:100%; height:100%;}
</style>

<!-- 로딩 -->
<div class="loadingArea" >
    <div class="loadingBox">
        <div class="loading la-2x">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!--// 로딩 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

 