<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb01.ejs', {
                            depth2:1,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->
                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <!-- 콘텐츠 영역 하위 레이아웃 : 윗간격 60  -->
                        <div class="sectionArea cptAbout">
                            <div class="sectionPart">
                                <div class="explainArea">
                                    <div class="explainBox">
                                        <h4>체육인복지사업</h4>
                                        <p>체육인들의 생활안정과 체육활동 증진에 이바지하기 위해 대한민국체육유공자 지정·보상, 국가대표 선수·지도자 복지후생금 및 원로 체육인 지원 등 재정적 지원을 하는 사업을 말합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">체육인복지</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">체육인들의 생활안정과 체육활동 증진에 이바지하기 위하여 복지서비스를 제공합니다.</p>
                                    <p class="bulletTxt light">
                                        태극마크를 달고 국민에게 즐거움과 감동을 선사한 국가대표 선수·지도자와
                                        체육진흥을 위해 힘써주신 생활이 어려운 원로 체육인,
                                        미래의 국가대표를 꿈꾸는 학생 선수 등 체육인 여러분을 지원합니다.
                                    </p>
                                </div>
                            </div>
                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">연도별 지원액</h4>
                                    <div class="right-box">
                                        <span class="unit">단위 : 억 원</span>
                                    </div>
                                </div>
                                <div class="partContainer">
                                    <div class="cptTable">
                                        <table class="tbInfo">
                                            <caption>연도별 지원액 표이며 ’75~’19, ’20, ’21, ’22, ’23, 합계, 계, 비장애 체육인, 장애 체육인 등으로 구성됨</caption>
                                            <colgroup>
                                                <col style="width:auto">
                                                <col style="width:auto">
                                                <col style="width:auto">
                                                <col style="width:auto">
                                                <col style="width:auto">
                                                <col style="width:auto">
                                                <col style="width:auto">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">구분</th>
                                                    <th scope="col">’75~’19</th>
                                                    <th scope="col">’20</th>
                                                    <th scope="col">’21</th>
                                                    <th scope="col">’22</th>
                                                    <th scope="col">’23</th>
                                                    <th scope="col">합계</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th class="tit" scope="row">
                                                        계
                                                    </th>
                                                    <td>
                                                        <span class="mTit">’75~’19</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’20</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’21</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’22</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’23</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">합계</span>
                                                        <span>1,979</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="tit" scope="row">
                                                        비장애 체육인
                                                    </th>
                                                    <td>
                                                        <span class="mTit">’75~’19</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’20</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’21</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’22</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’23</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">합계</span>
                                                        <span>1,979</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="tit" scope="row">
                                                        장애 체육인
                                                    </th>
                                                    <td>
                                                        <span class="mTit">’75~’19</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’20</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’21</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’22</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">’23</span>
                                                        <span>1,979</span>
                                                    </td>
                                                    <td>
                                                        <span class="mTit">합계</span>
                                                        <span>1,979</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <p class="infoTxt">※ 장애체육인 복지사업은 2006년, 체육인재 장학사업 2019년도부터 시행</p>
                                </div>
                            </div>
                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">복지사업 소개</h4>
                                </div>
                                <div class="partContainer">
                                    <div class="introListArea">
                                        <div class="listBox">
                                            <h5 class="tit">경기력 성과포상금</h5>
                                            <p class="bulletTxt">선수 경기력 성과포상금</p>
                                            <ul class="bulletList">
                                                <li>지원대상 : 국제경기대회에서 입상하고 평가점수가 20점 이상인 사람</li>
                                                <li>지원기준 : 국제경기대회 입상 순위별 평가점수 부여</li>
                                                <li>지원금액 : 월정금 기준 30~100만원(평가점수별 상이)</li>
                                            </ul>

                                            <p class="bulletTxt">지도자 경기력 성과포상금</p>
                                            <ul class="bulletList">
                                                <li>지원대상 : 국가대표 훈련에 참여해 선수나 팀을 직접 지도하고 메달 입상에 기여한 지도자</li>
                                                <li>지원기준 : 지도한 선수의 국제경기대회 입상 순위별 평가점수 부여</li>
                                                <li>지원금액 : 점수별 상이</li>
                                            </ul>
                                        </div>

                                        <div class="listBox">
                                            <h5 class="tit">생활지원금</h5>
                                            <p class="bulletTxt">선수 경기력 성과포상금</p>
                                            <ul class="bulletList">
                                                <li>지원대상 : 「국민기초생활 보장법」에 따른 수급자 및 차상위계층 등 경제적으로 어려움이 있는 국가대표 선수·지도자</li>
                                                <li>지원금액 : 1년 이내 월 50만원</li>
                                            </ul>
                                        </div>

                                        <div class="listBox">
                                            <h5 class="tit">교육지원금</h5>
                                            <p class="bulletTxt">국내대학원 교육지원금</p>
                                            <ul class="bulletList">
                                                <li>지원대상 : 국내 대학원 진학을 희망하는 국가대표 선수·지도자</li>
                                                <li>지원금액 : 정규 수업연한 4개 학기 이내 학기당 300만원 이내</li>
                                            </ul>

                                            <p class="bulletTxt">국외유학 교육지원금</p>
                                            <ul class="bulletList">
                                                <li>지원대상 : 국외 교육기관의 교육과정 또는 연수기관의 연수과정을 통한 유학을 희망하는 국가대표 선수·지도자</li>
                                                <li>유학분야 : 체육 관련 전공</li>
                                                <li>지원범위 : 입학금 및 등록금, 항공료 체재비 등</li>
                                            </ul>
                                        </div>

                                        <div class="listBox">
                                            <h5 class="tit">보험지원금</h5>
                                            <ul class="bulletList">
                                                <li>지원대상 : 국제경기대회와 이를 위한 소집훈련에 참여하는 국가대표 선수·지도자</li>
                                                <li>지원범위 : 상해·질병 보험료, 해외여행자 보험료 등</li>
                                            </ul>
                                        </div>

                                        <div class="listBox">
                                            <h5 class="tit">장학사업</h5>
                                            <p class="bulletTxt">체육장학금</p>
                                            <ul class="bulletList">
                                                <li>지원대상 : 대한체육회 및 대한장애인체육회 또는 중앙경기단체가 주관하는 전국 규모의 대회에 출전하여 3위 이상으로 입상한 학생선수</li>
                                                <li>지원금액 : 1인 30만원~200만원 이내, 소속 교육기관에 따라 차등지급</li>
                                            </ul>

                                            <p class="bulletTxt">스포츠꿈나무 특기장려금</p>
                                            <ul class="bulletList">
                                                <li>지원대상 : 「국민기초생활 보장법」에 따른 수급자 및 차상위계층에 속하는 초·중·고 재학 학생선수</li>
                                                <li>지원금액 : 연 400만원 이내(월별지급)</li>
                                            </ul>
                                        </div>

                                        <div class="listBox">
                                            <h5 class="tit">원로 체육인 지원</h5>
                                            <ul class="bulletList">
                                                <li>지원대상 : 국가 및 지역체육 진흥에 뚜렷한 공적이 있는 만 60세 이상의 생활형편이 어려운 원로 체육인</li>
                                                <li>지원범위 : 의료비 또는 생계비</li>
                                            </ul>
                                        </div>

                                        <div class="listBox">
                                            <h5 class="tit">대한민국체육유공자 지원</h5>
                                            <ul class="bulletList">
                                                <li>지원대상 : 국가대표 경기, 훈련 또는 이를 위한 지도 중에 사망 또는 중증장애를 입은 대한민국체육유공자</li>
                                                <li>지원내용 : 연금, 생활안정수당, 간호수당, 사망위로금, 의료지원, 교육지원 등</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

