<%
var url = locals.url ? locals.url : '../../';
%>
<div class="layoutQuick">
    <!-- Top -->
    <%- include('quick.ejs', {
        url: "../"
    }) %>
</div>
<div class="cptFooter">
    <div class="footerTop">
        <div class="inner">
            <div class="affArea">
                <ul>
                    <li><a href="#none" target="_blank" title="새창이동"><img src="../common/images/common/kspoLogo.svg" alt="kspo국민체육진흥공단"></a></li>
                    <li><a href="#none" target="_blank" title="새창이동"><img src="../common/images/common/footerLogo02.png" alt="문화체육관광부"></a></li>
                    <li><a href="#none" target="_blank" title="새창이동"><img src="../common/images/common/footerLogo03.png" alt="대한체육회"></a></li>
                    <li><a href="#none" target="_blank" title="새창이동"><img src="../common/images/common/footerLogo04.png" alt="대한장애인체육회"></a></li>
                    <li><a href="#none" target="_blank" title="새창이동"><img src="../common/images/common/footerLogo05.png" alt="국민신문고"></a></li>
                    <li><a href="#none" target="_blank" title="새창이동"><img src="../common/images/common/footerLogo06.png" alt="기획재정부"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footerBot">
        <div class="inner">
            <div class="linkArea">
                <div class="leftArea">
                    <p>주요서비스</p>
                    <ul>
                        <li><a href="#none">사업소개</a></li>
                        <li><a href="#none">체육인복지신청</a></li>
                        <li><a href="#none">체육인서비스</a></li>
                        <li><a href="#none">공고알림신청</a></li>
                        <li><a href="#none">증명서발급</a></li>
                    </ul>
                </div>
                <div class="rightArea">
                    <ul>
                        <li>
                            <a href="#none" title="열기">패밀리사이트</a>
                            <div class="dropTopBox" style="display: none;">
                                <ul>
                                    <li class="section01">
                                        <p>공단본부</p>
                                        <ul>
                                            <li><a href="#none" target="_blank" title="새창열기">국민체육진흥공단</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">국립체육박물관</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">국민체력100</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">불법스포츠토토신고센터</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">서울국제스포츠레저산업전</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">소마미술관</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">스포츠가치센터</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">스포츠강좌이용권</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">스포츠산업지원</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">에콜리안 골프장</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">올림픽기념관</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">올림픽자료실</a></li>
                                        </ul>
                                    </li>
                                    <li class="section02">
                                        <ul>
                                            <li><a href="#none" target="_blank" title="새창열기">올림픽파크텔</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">장애인스포츠강좌이용권</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">체육시설알리미</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">체육지도자연수원</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">투르드코리아</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">K스포에듀</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">KSPO블로그</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">KSPO페이스북</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">KSPO인스타그램</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">KSPO유튜브</a></li>
                                        </ul>
                                    </li>
                                    <li class="section03">
                                        <p>경륜경정총괄본부</p>
                                        <ul>
                                            <li><a href="#none" target="_blank" title="새창열기">KCYCLE 경륜</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">KBOAT 경정</a></li>
                                        </ul>
                                        <p class="twoTab">한국체육산업개발</p>
                                        <ul>
                                            <li><a href="#none" target="_blank" title="새창열기">올림픽공원</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">올림픽스포츠센터</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">지샘터올림픽공원 도서관</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">한국체육산업개발</a></li>
                                        </ul>
                                    </li>
                                    <li class="section04">
                                        <p>한국스포츠과학원</p>
                                        <ul>
                                            <li><a href="#none" target="_blank" title="새창열기">지역스포츠과학센터</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">한국스포츠과학원</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">한국스포츠과학원 도서관</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#none" title="열기">관련사이트</a>
                            <div class="dropTopBox half">
                                <ul>
                                    <li class="section01">
                                        <ul>
                                            <li><a href="#none" target="_blank" title="새창열기">국무총리실</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">기획재정부</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">대한장애인체육회</a></li>
                                        </ul>
                                        <ul class="twoTab">
                                            <li><a href="#none" target="_blank" title="새창열기">저작권위원회</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">전자민원G4C</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">청와대</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">한국정책지식센터</a></li>
                                        </ul>
                                    </li>
                                    <li class="section02">
                                        <ul>
                                            <li><a href="#none" target="_blank" title="새창열기">대한체육회</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">문화체육관광부</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">문화체육관광부 통계포털</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">복권위원회</a></li>
                                        </ul>
                                        <ul class="twoTab diff">
                                            <li><a href="#none" target="_blank" title="새창열기">사행성산업통합감동위원회</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">도로명주소안내</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#none" title="열기">유용한사이트</a>
                            <div class="dropTopBox half">
                                <ul>
                                    <li class="section01">
                                        <ul>
                                            <li><a href="#none" target="_blank" title="새창열기">공공기관 경영신고센터</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">국민신문고</a></li>
                                        </ul>
                                        <ul class="twoTab">
                                            <li><a href="#none" target="_blank" title="새창열기">KSPO원격지원</a></li>
                                        </ul>
                                    </li>
                                    <li class="section02">
                                        <ul>
                                            <li><a href="#none" target="_blank" title="새창열기">기금지원시스템</a></li>
                                            <li><a href="#none" target="_blank" title="새창열기">체육인연금증명서</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="infoArea">
                <div class="infoBox">
                    <div class="inLink">
                        <ul>
                            <li class="effect"><a href="#none">개인정보처리방침</a></li>
                            <li><a href="#none">이용약관</a></li>
                            <li><a href="#none">홈페이지저작권정책</a></li>
                            <li><a href="#none">자주묻는질문</a></li>
                            <li><a href="#none">사이트맵</a></li>
                        </ul>
                    </div>
                    <div class="infoPart">
                        <ul>
                            <li>05540 서울시 송파구 올림픽로 424 올림픽회관</li>
                            <li>TEL : 02-410-1298</li>
                            <li>FAX : 02-410-1339</li>
                        </ul>
                        <p class="cpRyt">COPYRIGHT ⓒ 2021 국민체육진흥공단. ALL RIGHT RESERVED</p>
                    </div>
                </div>
                <div class="authArea">
                    <!-- 인증마크 영역 -->
                    <!-- <img src="../common/images/common/wa_mark.png" alt="웹접근성 인증마크" /> -->
                </div>
            </div>
        </div>
    </div>
</div>