<%
var url = locals.url ? locals.url : '../../';
%>
<div class="cptHeader">
	<div class="headerTop">
		<div class="inner">
			<div class="kspoLogo">
				<a href="javascript:void(0)" target="_blank" title="새창열림">
					<img src="../common/images/common/kspoLogo.svg" alt="kspo 국민체육진흥공단" class="pcLogo"/>
					<img src="../common/images/common/kspoLogo_mo.svg" alt="kspo 국민체육진흥공단" class="moLogo" />
				</a>
			</div>
			<div class="siteOption">
				<div class="member">
					<!-- 로그인 전 -->
					<div class="beforeLogin">
						<a href="javascript:void(0)" class="login">로그인</a>
						<a href="javascript:void(0)" class="join">체육인 회원가입</a>
					</div>

					<!-- 로그인 후 -->
					<!-- <div class="afterLogin">
						<div class="info">
							<span>홍길동</span>님 (<span>국가대표선수</span>)
						</div>
						<div class="time">
							<span>09:21</span>
						</div>
						<a  href="javascript:void(0)" class="logout">연장</a>
						<a  href="javascript:void(0)" class="logout">로그아웃</a>
					</div> -->
				</div>
				<div class="ratio">
					<a  href="javascript:void(0)" class="minus"><span class="hidden">축소</span></a>
					<span class="ratioRate">100</span>
					<a  href="javascript:void(0)" class="plus"><span class="hidden">확대</span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="headerBot">
		<div class="inner">
			<div class="spowellLogo">
				<a  href="javascript:void(0)">
					<h1 class="pcLogo">
						<img src="../common/images/common/spowellLogo.svg" alt="spowell 체육인복지지원"/>
					</h1>
					<h1 class="moLogo">
						<img src="../common/images/common/spowellLogo_mo.svg" alt="spowell 체육인복지지원"/>
					</h1>
				</a>
			</div>
			<div class="menu">
				<ul>
					<li class="depth01">
						<a  href="javascript:void(0)" class="depth01Title">사업소개</a>
						<div class="depth02">
							<div class="inner">
								<div class="leftArea ico ico01">
									<p class="title">사업소개</p>
								</div>
								<div class="rightArea">
									<ul>
										<li><a href="../about/index.html">체육인복지 사업</a></li>
										<li><a href="../about/law.html">체육인복지법</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="depth01">
						<a  href="javascript:void(0)" class="depth01Title">신청·안내</a>
						<div class="depth02">
							<div class="inner">
								<div class="leftArea ico ico02">
									<p class="title">신청·안내</p>
								</div>
								<div class="rightArea">
									<ul>
										<li>
											<a href="../apply/appWelfare.html">복지신청</a>
											<div class="depth03">
												<ul>
													<li><a href="../apply/playerReward.html">경기력 성과포상금(선수)</a></li>
													<li><a href="../apply/coachReward.html">경기력 성과포상금(지도자)</a></li>
													<li><a href="../apply/socSupport.html">생활지원금</a></li>
													<li><a href="../apply/eduInSupport.html">국내대학원 교육지원금</a></li>
													<li><a href="../apply/eduOutSupport.html">국외유학 교육지원금</a></li>
													<li><a href="../apply/insuranceSupport.html">보험지원금</a></li>
													<li><a href="../apply/spoScollar.html">체육장학금</a></li>
													<li><a href="../apply/prospectScollar.html">스포츠꿈나무 특기장려금</a></li>
													<li><a href="../apply/elderSupport.html">원로체육인지원</a></li>
													<li><a href="../apply/rebuildSupport.html">스포츠클럽 창업지원</a></li>
													<li><a href="../apply/coachEducate.html">국내외 지도자 현장연수</a></li>
													<li><a href="../apply/employmentSupport.html">인턴십 취업지원</a></li>
													<li><a href="../apply/merit.html">대한민국 체육유공자 보상</a></li>
												</ul>
											</div>
										</li>
										<li>
											<a href="../apply/welfareCal.html">복지캘린더</a>
											<!-- <div class="depth03">
												<ul>
													<li><a href="../apply/welfareCal.html">알람신청</a></li>
												</ul>
											</div> -->
										</li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="depth01">
						<a  href="javascript:void(0)" class="depth01Title">체육인서비스</a>
						<div class="depth02">
							<div class="inner">
								<div class="leftArea ico ico03">
									<p class="title">체육인 서비스</p>
								</div>
								<div class="rightArea">
									<ul>
										<li><a href="../service/eduTrain.html">교육훈련</a></li>
										<li><a href="../service/protectRights.html">권리·권익보호</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="depth01">
						<a  href="javascript:void(0)" class="depth01Title">알림·소식</a>
						<div class="depth02">
							<div class="inner">
								<div class="leftArea ico ico04">
									<p class="title">알림·소식</p>
								</div>
								<div class="rightArea">
									<ul>
										<li class="type02"><a href="../board/noticeList.html">공지사항</a></li>
										<li class="type02"><a href="../board/welfareNewsList.html">체육인복지 소식</a></li>
										<li class="type02"><a href="../board/newsList.html">보도자료</a></li>
										<li class="type02"><a href="../board/archiveList.html">서식 자료실</a></li>
										<li class="type02"><a href="../board/faq.html">자주찾는질문</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="depth01">
						<a  href="javascript:void(0)" class="depth01Title">마이페이지</a>
						<div class="depth02">
							<div class="inner">
								<div class="leftArea ico ico05">
									<p class="title">마이페이지</p>
								</div>
								<div class="rightArea">
									<ul>
										<li class="type02"><a href="../mypage/index.html">나의 체육인복지</a></li>
										<li class="type02"><a href="../mypage/wfAppList.html">복지신청 현황</a></li>
										<li class="type02"><a href="../mypage/gameRewardPlayer.html">복지지원 현황</a></li>
										<li class="type02"><a href="../mypage/participation_player.html">대회참여 현황</a></li>
										<li class="type02"><a href="../mypage/certificate01.html">증명서 발급</a></li>
										<li class="type02"><a href="../mypage/chkPersonal.html">회원정보수정</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li class="allMenu"><a  href="javascript:void(0)"><span class="hidden">전체메뉴열기</span></a></li>
				</ul> 
			</div>

			<div class="moMenu">
				<ul>
					<li>
						<a  href="javascript:void(0)"><img src="../common/images/common/mo_hIcon01.svg" alt="회원관련 아이콘 이미지"><span class="hidden">회원관리</span></a>
					</li>
					<li>
						<a  href="javascript:void(0)" class="menu-wrap">
							<span class="line">모바일</span>
							<span class="line">메뉴</span>
							<span class="line">열기</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>