<%
var url = locals.url ? locals.url : '../../';
%>
<div class="memberBot">
    <div class="inner">
        <span>
            <img src="../../common/images/common/kspoLogo.svg" alt="국민체육진흥공단 로고 이미지" />
        </span>
        <span>
            COPYRIGHT ⓒ 체육인복지지원시스템. ALL RIGHT RESERVED.
        </span>
    </div>
</div>