<%
var url = locals.url ? locals.url : '../../';
%>
<div class="memberBot">
    <div class="inner">
        <span>
            <img src="../../common/images/common/kspoLogo.svg" alt="국민체육진흥공단 로고 이미지">
        </span>
        <span>
            COPYRIGHT ⓒ 2025 국민체육진흥공단. ALL RIGHT RESERVED
        </span>
    </div>
</div>