<%
var url = locals.url ? locals.url : '../../';
%>
<!--quick menus structure-->
<div class="quickMenu">
	<button type="button" class="remoteBtn" onclick="popOpen('remote')"></button>
	<div class="qmInner">
		<ul>
			<li>
				<span class="qmIcon tutorial">quickIcon</span>
				<span class="qmTxt">영상제작<br>체험관</span>
			</li>
			<li>
				<span class="qmIcon amount">quickIcon</span>
				<span class="qmTxt">광고비<br>알아보기</span>
			</li>
			<li>
				<span class="qmIcon consult">quickIcon</span>
				<span class="qmTxt">광고 상담<br>신청</span>
			</li>
		</ul>
	</div>
</div>
<!--floating menu structure-->
<div class="quickFloat">
	<ul>
		<li class="chatbot">
			<a href="#none">
				<span class="hidden">챗봇연결</span>
			</a>
		</li>
		<li class="topBtn">
			<a href="#none">
				<span>TOP</span>
			</a>
		</li>
	</ul>
</div>

<!--2024.10.29 시연용-->
<div class="modPopup type01" id="remote">
	<div class="popupDim">딤 영역</div>
	<div class="popupBox lg">
		<!-- 팝업 타이틀 -->
		<div class="popTitArea">
			<div class="tit">바로가기</div>
			<button class="closeBtn" onclick="popClose('remote')">팝업 닫기</button>
		</div>

		<!-- 팝업 컨텐츠 -->
		<div class="popContArea">
			<div class="comClause">
				<div class="box">
					<p style="font-size:16px; color:#333; font-weight:bold; margin-bottom:20px;">메인페이지</p>
					<div class="cptBtnForm "> 
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/index.html" target="_blank" style="display:block; width:100%; height:100%; ">메인페이지</a></button>
					</div>
				</div>

				<!-- 광고만들기 -->
				<div class="box">
					<p style="font-size:16px; color:#333; font-weight:bold; margin-bottom:20px; margin-top:20px;">광고만들기</p>
					<div class="cptBtnForm d-flex gap10"> 
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/createAd/index.html" target="_blank" style="display:block; width:100%; height:100%; ">광고만들기</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/createAd/createTemplate.html" target="_blank" style="display:block; width:100%; height:100%; ">광고만들기(템플릿)</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/createAd/uploadFile.html" target="_blank" style="display:block; width:100%; height:100%; ">광고만들기(업로드)</a></button>
					</div>
				</div>

				<!-- 간편모드 & 전문가모드-->
				<div class="box">
					<p style="font-size:16px; color:#333; font-weight:bold; margin-bottom:20px; margin-top:20px;">간편모드 & 전문가모드</p>
					<div class="cptBtnForm d-flex gap10">
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/createAd/modeSelect.html" target="_blank" style="display:block; width:100%; height:100%; ">간편모드선택</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/createAd/passInfo.html" target="_blank" style="display:block; width:100%; height:100%; ">지역예산입력</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/createAd/modePayment.html" target="_blank" style="display:block; width:100%; height:100%; ">간편결제화면</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/myAd/payment.html#none" target="_blank" style="display:block; width:100%; height:100%; ">전문결제화면</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/myAd/mapAd.html#none" target="_blank" style="display:block; width:100%; height:100%; ">전문지역설정</a></button>
					</div>
				</div>

				<!-- 마이페이지 -->
				<div class="box">
					<p style="font-size:16px; color:#333; font-weight:bold; margin-bottom:20px; margin-top:20px;">마이페이지</p>
					<div class="cptBtnForm d-flex gap10"> 
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/mypage/index.html" target="_blank" style="display:block; width:100%; height:100%; ">마이페이지(대시보드)</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="tn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/myAd/adEffect.html" target="_blank" style="display:block; width:100%; height:100%; ">마이페이지(리포트)</a></button>
					</div>
				</div>

				<!-- 갤러리 -->
				<div class="box">
					<p style="font-size:16px; color:#333; font-weight:bold; margin-bottom:20px; margin-top:20px;">갤러리</p>
					<div class="cptBtnForm d-flex gap10"> 
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/gallery/index.html" target="_blank" style="display:block; width:100%; height:100%; ">갤러리(메인)</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/gallery/detail.html" target="_blank" style="display:block; width:100%; height:100%; ">갤러리(상세)</a></button>
					</div>
				</div>

				<!-- 기타 우측 플로팅 메뉴 -->
				<div class="box">
					<p style="font-size:16px; color:#333; font-weight:bold; margin-bottom:20px; margin-top:20px;">퀵메뉴</p>
					<dv class="cptBtnForm d-flex gap10"> 
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/customer/faq/reservPhoneCs.html" target="_blank" style="display:block; width:100%; height:100%; ">전화상담</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/makeExperience.html" target="_blank" style="display:block; width:100%; height:100%; ">체험관</a></button>
						<button type="button" style="width:calc(50% - 10px); min-width:max-content; font-size:14px;" class="btn scnd"><a href="https://jontnkm.github.io/btv/project/dist/html/adPrice.html" target="_blank" style="display:block; width:100%; height:100%; ">광고비알아보기</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>