<%
var url = locals.url ? locals.url : '../../';
%>

<a href="javascript:void(0)" class="quickOpen">
	<img src="../common/images/common/ico_quick_arr.svg" alt="퀵메뉴열기 화살표 이미지" />
	<span>
		퀵메뉴
	</span>
</a>

<div class="cptQuick">
	<div class="apply">
		<a href="#none">
			<p>창업지원<br>신청하기</p>
			<span>3/10~3/31</span>
			<span class="btnType">온라인 신청</span>
		</a>
	</div>
	<div class="quickMenu">
		<ul>
			<li>
				<a href="#none" class="ico ico01">
					<img src="../common/images/common/ico_quick01.svg" alt="">
					<span>복지 신청</span>
				</a>
			</li>
			<li>
				<a href="#none" class="ico ico02">
					<img src="../common/images/common/ico_quick02.svg" alt="">
					<span>복지 공고</span>
				</a>
			</li>
			<li>
				<a href="#none" class="ico ico03">
					<img src="../common/images/common/ico_quick03.svg" alt="">
					<span>복지 캘린더</span>
				</a>
			</li>
			<li>
				<a href="#none" class="ico ico04">
					<img src="../common/images/common/ico_quick04.svg" alt="">
					<span>지원금 조회</span>
				</a>
			</li>
			<li>
				<a href="#none" class="ico ico05">
					<img src="../common/images/common/ico_quick05.svg" alt="">
					<span>증명서 발급</span>
				</a>
			</li> 
		</ul>
	</div>
	<div class="clsQuick">
		<a href="javascript:void(0)">메뉴닫기</a>
	</div>
</div> 

<div class="topBtn"> 
	<a href="javascript:void(0)">
		<img src="../common/images/common/quickTop.svg" alt="위로이동하는 화살표 이미지">
		<p class="hidden">TOP</p>
	</a>
</div>
