<%
var url = locals.url ? locals.url : '../../';
%>
<!--quick menus structure-->
<div class="quickMenu">
	<div class="qmInner">
		<ul>
			<li>
				<span class="qmIcon tutorial">quickIcon</span>
				<span class="qmTxt">영상제작<br>체험관</span>
			</li>
			<li>
				<span class="qmIcon amount">quickIcon</span>
				<span class="qmTxt">광고비<br>알아보기</span>
			</li>
			<li>
				<span class="qmIcon consult">quickIcon</span>
				<span class="qmTxt">광고 상담<br>신청</span>
			</li>
		</ul>
	</div>
</div>
<!--floating menu structure-->
<div class="quickFloat">
	<ul>
		<li class="chatbot">
			<a href="#none">
				<span class="hidden">챗봇연결</span>
			</a>
		</li>
		<li class="topBtn">
			<a href="#none">
				<span>TOP</span>
			</a>
		</li>
	</ul>
</div>
