<%
var url = locals.url ? locals.url : '../../';
%>
<div class="cptQuick">
	<div class="apply">
		<a href="#none">
			<p>창업지원<br>신청하기</p>
			<span>3/10~3/31</span>
		</a>
	</div>
	<div class="quickMenu">
		<ul>
			<li><a href="#none" class="ico ico01">복지 신청</a></li>
			<li><a href="#none" class="ico ico02">복지 공고</a></li>
			<li><a href="#none" class="ico ico03">복지캘린더</a></li>
			<li><a href="#none" class="ico ico04">지원금조회</a></li>
			<li><a href="#none" class="ico ico05">증명서 발급</a></li>
		</ul>
	</div>
	<div class="top">
		<a href="#none" class="topBtn">
			<p>TOP</p>
		</a>
	</div>
</div> 
