 <!-- Header -->
 <%- include('../../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../../" 
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../../ejs/header.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <!-- 메인 콘텐츠 영역 -->
            <div class="comSubTitle">
                <h3>공지사항</h3>
            </div>
            <div class="modTab">
                <div class="tabInner">
                    <ul class="tabMenu">
                        <li class="tabItem"><button class="tabName active" title="선택 된 탭메뉴" onclick="showTab(0)">전체</button></li>
                        <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab(1)">공지/이벤트</button></li>
                        <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab(2)">서비스</button></li>
                        <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab(3)">운영</button></li>
                        <li class="tabItem"><button class="tabName" title="탭메뉴" onclick="showTab(4)">기타</button></li>
                    </ul>
                </div>
                <div class="tabContainer">
                    <div class="tabCont active">
                        <!-- 전체 -->
                        <div class="cptBoardList">
                            <div class="boardListArea">
                                <ul class="boardItem">
                                    <li class="category">공지/이벤트</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트KB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트KB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">공지/이벤트</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">서비스</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">서비스</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">운영</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">운영</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">기타</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">기타</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                            </div> 
                        </div>
                        <!-- 페이징 -->
                        <div class="comPagination">
                            <a href="#" class="start"></a>
                            <a href="#" class="prev"></a>
                            <ul class="numList">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <a href="#" class="next">
                                <img src="../../../images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘">
                            </a>
                            <a href="#" class="end"></a>
                        </div>
                    </div> 
                    <div class="tabCont">
                        <!-- 공지/이벤트 -->
                        <div class="cptBoardList">
                            <div class="boardListArea">
                                <ul class="boardItem">
                                    <li class="category">공지/이벤트</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트KB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트KB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">공지/이벤트</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                            </div> 
                        </div>
                        <!-- 페이징 -->
                        <div class="comPagination">
                            <a href="#" class="start"></a>
                            <a href="#" class="prev"></a>
                            <ul class="numList">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <a href="#" class="next">
                                <img src="../../../images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘">
                            </a>
                            <a href="#" class="end"></a>
                        </div>
                    </div>
                    <div class="tabCont">
                        <!-- 서비스 -->
                        <div class="cptBoardList">
                            <div class="boardListArea">
                                <ul class="boardItem">
                                    <li class="category">서비스</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">서비스</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                            </div> 
                        </div>
                        <!-- 페이징 -->
                        <div class="comPagination">
                            <a href="#" class="start"></a>
                            <a href="#" class="prev"></a>
                            <ul class="numList">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <a href="#" class="next">
                                <img src="../../../images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘">
                            </a>
                            <a href="#" class="end"></a>
                        </div>
                    </div>
                    <div class="tabCont">
                        <!-- 운영 -->
                        <div class="cptBoardList">
                            <div class="boardListArea">
                                <ul class="boardItem">
                                    <li class="category">운영</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">운영</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                            </div> 
                        </div>
                        <!-- 페이징 -->
                        <div class="comPagination">
                            <a href="#" class="start"></a>
                            <a href="#" class="prev"></a>
                            <ul class="numList">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <a href="#" class="next">
                                <img src="../../../images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘">
                            </a>
                            <a href="#" class="end"></a>
                        </div>
                    </div>
                    <div class="tabCont">
                        <!-- 기타 -->
                        <div class="cptBoardList">
                            <div class="boardListArea">
                                <ul class="boardItem">
                                    <li class="category">기타</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                                <ul class="boardItem">
                                    <li class="category">기타</li>
                                    <li class="boardCont"><a href="#">SKB "더드림 성공팩" 상품 출시기념 홍보지원 이벤트</a></li>
                                    <li class="date">2024.08.30</li>
                                </ul>
                            </div> 
                        </div>
                        <!-- 페이징 -->
                        <div class="comPagination">
                            <a href="#" class="start"></a>
                            <a href="#" class="prev"></a>
                            <ul class="numList">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                            </ul>
                            <a href="#" class="next">
                                <img src="../../../images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘">
                            </a>
                            <a href="#" class="end"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../../ejs/footer.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../../ejs/quick.ejs', {
                url: "../../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('../../ejs/bottom.ejs', { }) %>
<%- include('../../ejs/moBar.ejs', { }) %>