 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer galleryLayout" id="container">
            <!-- 메인 콘텐츠 영역 -->
            <!-- KB 2024.10.24 수정 -->
            <div class="comSubTitle">
                <h3>갤러리</h3>
            </div>
            <div class="cptSubTop galleryTitle">
                <div class="subTopTxt">
                    <p class="subTitle">이달의 광고</p>
                </div>
            </div>
            <!--// KB 2024.10.24 수정 -->
            <div class="galleryBoard">
                <div class="monthAd">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="thumbArea">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thumbArea">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thumbArea">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="thumbArea">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <a href="#none" class="swiper-button-prev03"></a>
                    <a href="#none" class="swiper-button-next03"></a>
                </div>
                <div class="thumbInfoArea">
                    <p class="tit">업체명</p>
                    <p class="addr">서울특별시 강남구 125-4</p>
                    <p class="desc">
                        소개글 테스트소개글 테스트소개글 테스트<br>
                        소개글 테스트소개글 테스트소개글 테스트<br>
                        소개글 테스트소개글 테스트소개글 테스트<br>
                        소개글 테스트소개글 테스트소개글 테스트<br>
                        소개글 테스트소개글 테스트소개글 테스트<br>
                        소개글 테스트소개글 테스트소개글 테스트<br>
                        소개글 테스트소개글 테스트소개글 테스트<br>
                        
                        소개글 테스트소개글 테스트소개글 테스트<br>
                        소개글 테스트소개글 테스트소개글 테스트<br>
                    </p>

                    <div class="miniThumb">
                        <a href="#none" class="link"><img src="../../images/temp/miniThumb.png" alt=""></a>
                        <a href="#none" class="link"><img src="../../images/temp/miniThumb.png" alt=""></a>
                        <a href="#none" class="link"><img src="../../images/temp/miniThumb.png" alt=""></a>
                        <a href="#none" class="link"><img src="../../images/temp/miniThumb.png" alt=""></a>
                        <a href="#none" class="link"><img src="../../images/temp/miniThumb.png" alt=""></a>
                    </div>
                </div>
            </div>

            <div class="locationAd">
                <div class="locationAdTit">
                    <p class="title">
                        <span class="location">중구</span> 인기 광고
                        <span class="addDetail">서울특별시 중구 퇴계로</span>
                    </p>

                    <div class="swiper-button">
                        <a href="#none" class="swiper-button-prev04"></a>
                        <a href="#none" class="swiper-button-next04"></a>
                    </div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cover">
                            <img src="../../images/temp/tmp_thumbnail.png" alt="" />
                            <span class="hoverBg" onclick="popOpen('showAd')">
                                <span class="hidden">마우스오버 효과</span>
                            </span>
                        </div>
                        <div class="adInfo">
                            <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                            <p class="typeInfo">
                                <span class="type">외식업</span>
                                <span class="duration">15초</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="adListArea">
                <div class="adFilterCov">
                    <ul>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil01" checked>
                                <label for="fil01">전체</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil02">
                                <label for="fil02">전통시장</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil03">
                                <label for="fil03">외식업</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil04">
                                <label for="fil04">카페/디저트</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil05">
                                <label for="fil05">패스트푸드</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil06">
                                <label for="fil06">마트/신선식품</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil07">
                                <label for="fil07">PC/통신기기/가전</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil08">
                                <label for="fil08">기타 도/소매업</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil09">
                                <label for="fil09">패션/잡화</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil10">
                                <label for="fil10">미용/뷰티</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil11">
                                <label for="fil11">학원/교육</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil12">
                                <label for="fil12">스포츠/피트니스</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil13">
                                <label for="fil13">취미/레저</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil14">
                                <label for="fil14">자동차관리</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil15">
                                <label for="fil15">하우징/인테리어</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil16">
                                <label for="fil16">기타서비스</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil17">
                                <label for="fil17">공공서비스</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil18">
                                <label for="fil18">브랜드</label>
                            </div>
                        </li>
                        <li>
                            <div class="cptButtonForm">
                                <input type="checkbox" id="fil19">
                                <label for="fil19">분양광고</label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="adSearchCov">
                    <div class="cptBtnForm">
                        <button type="button" class="btn scnd" onclick="popOpen('selectLocation')"><span>지역 설정</span></button>
                    </div>

                    <div class="cptForm">
                        <div class="frmIpt">
                            <input type="text" placeholder="지금 우리동네에 나오는 광고검색">
                            <button type="button" class="searchIcon"><span class="hidden">검색</span></button>
                        </div>
                    </div>
                </div>

                <div class="listCov">
                    <ul>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbCov">
                                <img src="../../images/temp/tmp_thumbnail.png" alt="">
                                <span class="hoverBg" onclick="popOpen('showAd')">
                                    <span class="hidden">마우스오버 효과</span>
                                </span>
                            </div>
                            <div class="info">
                                <p class="title">광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트 / 광고 제목 테스트</p>
                                <p class="typeInfo">
                                    <span class="type">외식업</span>
                                    <span class="duration">15초</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="comPagination">
                <a href="#" class="start"></a>
                <a href="#" class="prev"></a>
                <ul class="numList">
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
                <a href="#" class="next">
                    <img src="../../images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘">
                </a>
                <a href="#" class="end"></a>
            </div>
            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>

    <div class="modPopup type01" id="showAd">
        <div class="popupDim">딤 영역</div>
        <div class="popupBox lg"><!--2024.09.24 팝업사이즈 표기 필수 sm (작은사이즈), lg(큰사이즈)-->
            <!-- 팝업 타이틀 -->
            <div class="popTitArea">
                <div class="tit">타이틀</div>
                <button class="closeBtn" onclick="popClose('showAd')">팝업 닫기</button>
            </div>

            <!-- 팝업 컨텐츠 -->
            <div class="popContArea">
                <div class="tempBox" style="width:100%; height:500px; background:rgba(255,3,3,0.2);">

                </div>
            </div>

            <!-- 팝업 버튼 -->
            <div class="popBtnArea">
                <button type="button" class="popBtn white" onclick="popClose('showAd')">취소</button>
                <button type="button" class="popBtn blue" onclick="popClose('showAd')">확인</button>
            </div>
        </div>
    </div>

    <div class="modPopup type01" id="selectLocation">
        <div class="popupDim">딤 영역</div>
        <div class="popupBox lg"><!--2024.09.24 팝업사이즈 표기 필수 sm (작은사이즈), lg(큰사이즈)-->
            <!-- 팝업 타이틀 -->
            <div class="popTitArea">
                <div class="tit">지역설정</div>
                <button class="closeBtn" onclick="popClose('selectLocation')">팝업 닫기</button>
            </div>

            <!-- 팝업 컨텐츠 -->
            <div class="popContArea">
                <div class="selLoc">
                    <div class="inner">
                        <div class="fieldBox">
                            <p class="fieldTxt">시/도를 선택해주세요.</p>
                            <ul>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf01" />
                                        <label for="city_cbf01">강원도</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf02" />
                                        <label for="city_cbf02">경기도</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf03" />
                                        <label for="city_cbf03">경상남도</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf04" />
                                        <label for="city_cbf04">경상북도</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf05" />
                                        <label for="city_cbf05">광주광역시</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf06" />
                                        <label for="city_cbf06">대구광역시</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf07" />
                                        <label for="city_cbf07">대전광역시</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf08" />
                                        <label for="city_cbf08">서울특별시</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf09" />
                                        <label for="city_cbf09">부산광역시</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf10" />
                                        <label for="city_cbf10">세종특별자치시</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf11" />
                                        <label for="city_cbf11">울산광역시</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf12" />
                                        <label for="city_cbf12">인천광역시</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf13" />
                                        <label for="city_cbf13">전라남도</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf14" />
                                        <label for="city_cbf14">전라북도</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf15" />
                                        <label for="city_cbf15">제주특별자치도</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf16" />
                                        <label for="city_cbf16">충청남도</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="city" id="city_cbf17" />
                                        <label for="city_cbf17">충척북도</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="fieldBox">
                            <p class="fieldTxt">시/군/구를 선택해주세요.</p>
                            <ul>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf01" />
                                        <label for="town_cbf01">전체</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf02" />
                                        <label for="town_cbf02">강남구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf03" />
                                        <label for="town_cbf03">강동구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf04" />
                                        <label for="town_cbf04">강북구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf05" />
                                        <label for="town_cbf05">관악구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf06" />
                                        <label for="town_cbf06">광진구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf07" />
                                        <label for="town_cbf07">구로구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf08" />
                                        <label for="town_cbf08">금천구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf09" />
                                        <label for="town_cbf09">노원구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf10" />
                                        <label for="town_cbf10">도봉구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf11" />
                                        <label for="town_cbf11">동대문구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf12" />
                                        <label for="town_cbf12">동작구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf13" />
                                        <label for="town_cbf13">마포구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf14" />
                                        <label for="town_cbf14">서대문구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf15" />
                                        <label for="town_cbf15">서초구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf16" />
                                        <label for="town_cbf16">성동구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf17" />
                                        <label for="town_cbf17">성북구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf18" />
                                        <label for="town_cbf18">송파구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf19" />
                                        <label for="town_cbf19">양천구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf20" />
                                        <label for="town_cbf20">영등포구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf21" />
                                        <label for="town_cbf21">용산구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf22" />
                                        <label for="town_cbf22">은평구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf23" />
                                        <label for="town_cbf23">종로구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf24" />
                                        <label for="town_cbf24">중구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="radio" name="town" id="town_cbf25" />
                                        <label for="town_cbf25">중랑구</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="fieldBox">
                            <p class="fieldTxt">읍/면/동을 선택해주세요.</p>
                            <ul>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf01" />
                                        <label for="dong_cbf01">전체</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf02" />
                                        <label for="dong_cbf02">세곡동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf03" />
                                        <label for="dong_cbf03">수서동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf04" />
                                        <label for="dong_cbf04">신사동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf05" />
                                        <label for="dong_cbf05">압구정동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf06" />
                                        <label for="dong_cbf06">청담동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf07" />
                                        <label for="dong_cbf07">개포4동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf08" />
                                        <label for="dong_cbf08">개포2동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf09" />
                                        <label for="dong_cbf09">개포1동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf10" />
                                        <label for="dong_cbf10">일원2동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf11" />
                                        <label for="dong_cbf11">논현1동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf12" />
                                        <label for="dong_cbf12">논현2동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf13" />
                                        <label for="dong_cbf13">삼성2동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf14" />
                                        <label for="dong_cbf14">역삼1동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf15" />
                                        <label for="dong_cbf15">대치2동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf16" />
                                        <label for="dong_cbf16">대치4구</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf17" />
                                        <label for="dong_cbf17">삼성1동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf18" />
                                        <label for="dong_cbf18">대치1동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf19" />
                                        <label for="dong_cbf19">도곡2동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf20" />
                                        <label for="dong_cbf20">역삼2동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf21" />
                                        <label for="dong_cbf21">도곡1동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf22" />
                                        <label for="dong_cbf22">일원본동</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="cptButtonForm">
                                        <input type="checkbox" id="dong_cbf23" />
                                        <label for="dong_cbf23">일원1동</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 팝업 버튼 -->
            <div class="popBtnArea">
                <button type="button" class="popBtn white" onclick="popClose('selectLocation')">취소</button>
                <button type="button" class="popBtn blue" onclick="popClose('selectLocation')">확인</button>
            </div>
        </div>
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
<%- include('../ejs/moBar.ejs', { }) %>