 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <!-- 메인 콘텐츠 영역 -->
            <!-- KB 2024.10.24 수정 -->
            <div class="comSubTitle mobileTop">
                <h3>나의 광고 <p class="mobileClick"><span class="img"></span>제작 중 <span class="count">00</span> <span class="arrow"><img src="../../images/common/ico_infoDown.svg" alt=""></span></p></h3>
            </div>
            <!--// KB 2024.10.24 수정 -->

            <!-- KB 2024.10.24 수정 -->
            <!--스탭 영역-->
            <%- include('../ejs/stepBar.ejs', {
                depth2: 1,
                url: "../../"
            }) %>
            <!--//스탭 영역-->
            <!--// KB 2024.10.24 수정 -->

            <!-- KB 2024.10.24 수정 -->
            <div class="cptSubTop">
                <div class="subTopTxt">
                    <p class="subTitle">제작 중인 광고들 입니다.</p>
                </div>
                <div class="cptBtnForm d-flex gap10">
                    <!-- kb 2024-10-29 -->
                    <button type="button" class="btn scnd"><span></span>영상 제작 튜토리얼</button>
                </div>
            </div>
            <!--// KB 2024.10.24 수정 -->

            <div class="cptAdList">
                <div class="noList">
                    <span class="imgBg"><img src="../../images/common/noList01.png" alt="" /></span>
                    <p class="title">광고가 없습니다</p>
                    <p class="desc">
                        지금 바로 광고를 제작해 늘어나는 고객, 높아지는 인지도를 경험해보세요!
                    </p>
                    <div class="cptBtnForm">
                        <button type="button" class="btn prmy">광고 만들기로 바로가기</button>
                    </div>
                </div>
            </div>
            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
<%- include('../ejs/moBar.ejs', { }) %>