 <!-- Header -->
 <%- include('./ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('./ejs/header.ejs', {
                url: "../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 메인 콘텐츠 영역 -->
            <div class="priceResult">
                <div class="inner">
                    <div class="titleArea">
                       <span class="icon"><span class="hidden">견적완료</span></span>
                       <p class="tit">요청하신 견적이 완료되었습니다.</p>
                       <p class="desc">
                           쿠폰, 프로모션 등의 할인이 적용되지 않은 기본 견적입니다.<br>아래 전화상담 예약을 통해 전문 컨설턴트에게 보다 자세한 내용을 상담 받을 수 있어요
                       </p>
                    </div>

                    <div class="estPrice">
                        <div class="estInner">
                            <p class="tit">광고정보</p>
                            <ul>
                                <li>
                                    <span>광고 지역</span>
                                    <p>
                                        <span>서울시 강남구</span>,
                                        <span>서울시 서초구</span>,
                                        <span>서울시 용산구</span>,
                                        <span>서울시 송파구</span>,
                                        <span>서울시 강동구</span>
                                    </p>
                                </li>
                                <li>
                                    <span>희망 광고 기간</span>
                                    <p>
                                        <span>2024-00-00</span> ~
                                        <span>2024-00-00</span> 
                                        (<span>31</span>일간)
                                    </p>
                                </li>
                                <li>
                                    <span>희망 광고 기간</span>
                                    <p>
                                        <span>30</span>초
                                    </p>
                                </li>
                            </ul>

                            <p class="tit">권장예산</p>
                            <div class="estPriceCov">
                                <div>
                                    <p class="cate">최소</p>
                                    <p class="price"><span>588,000</span>원</p>
                                    <p class="adShowCnt">
                                        (총 <span>90,642</span>회 노출)
                                    </p>
                                </div>
                                <div>
                                    <p class="cate">최대</p>
                                    <p class="price"><span>588,000</span>원</p>
                                    <p class="adShowCnt">
                                        (총 <span>130,642</span>회 노출)
                                    </p>
                                </div>
                            </div>

                            <div class="cautionArea">
                                <p>권장예산은 B tv 우리동네광고 예산 최적화 로직을 기준으로 제안됩니다.</p>
                                <p>최소금액 10만원(VAT 별도)부터 광고가 가능하지만, 권장예산을 사용하시면 보다 높은 광고효과를 경험하실 수 있습니다.</p>
                            </div>

                            <div class="cptBtnForm">
                                <button type="button" class="btn scnd">광고 만들기 튜토리얼 보기</button>
                                <button type="button" class="btn prmy">직접 광고 청약</button>
                                <button type="button" class="btn prmy">전화상담 예약</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //메인 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('./ejs/footer.ejs', {
                url: "../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('./ejs/quick.ejs', {
                url: "../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('./ejs/bottom.ejs', { }) %>

<%- include('./ejs/moBar.ejs', { }) %>