 <!-- Header -->
 <%- include('./ejs/top.ejs', {
    title: "SPOWELL-체육인복지지원",
    url: "../",
    page : "main"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('./ejs/header.ejs', {
                url: "../"
            }) %>
        </div>
        <!-- //상단영역 -->
        <div class="mainLayout" id="container">
            <div class="mainCont01">

                <div class="mainVisual">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide pc" tabindex="0"><img src="../common/images/main/mainCont01_vs01.png" alt="국가대표 선수 및 지도자 - 국내대학원 교육지원금 대상자 모집 (국내대학원 진학 시 학기당 300만원 범위내의 입학금 및 등록금 지원) 2025년 03월 10일부터 2025년 03월 31일까지"></div>
                        <div class="swiper-slide pc" tabindex="0"><img src="../common/images/main/mv_empty.png" alt="kspo 이미지 준비중입니다."></div>
                        <div class="swiper-slide pc" tabindex="0"><img src="../common/images/main/mainCont01_vs01.png" alt="국가대표 선수 및 지도자 - 국내대학원 교육지원금 대상자 모집 (국내대학원 진학 시 학기당 300만원 범위내의 입학금 및 등록금 지원) 2025년 03월 10일부터 2025년 03월 31일까지"></div>
                        <div class="swiper-slide mo" tabindex="0"><img src="../common/images/main/mainCont01_vs01_mo.png" alt="국가대표 선수 및 지도자 - 국내대학원 교육지원금 대상자 모집 (국내대학원 진학 시 학기당 300만원 범위내의 입학금 및 등록금 지원) 2025년 03월 10일부터 2025년 03월 31일까지"></div>
                        <div class="swiper-slide mo" tabindex="0"><img src="../common/images/main/mv_empty_mo.png" alt="kspo 이미지 준비중입니다."></div>
                        <div class="swiper-slide mo" tabindex="0"><img src="../common/images/main/mainCont01_vs01_mo.png" alt="국가대표 선수 및 지도자 - 국내대학원 교육지원금 대상자 모집 (국내대학원 진학 시 학기당 300만원 범위내의 입학금 및 등록금 지원) 2025년 03월 10일부터 2025년 03월 31일까지"></div>
                    </div>
                    
                    <div class="pagination_container">
                        <div class="swiper-pagination1"><span class="hidden">이전슬라이드 바로가기</span></div>
                        <div class="swiper-pagination2"><span class="hidden">다음슬라이드 바로가기</span></div>
                    </div>

                    <div class="mainControl">
                        <div class="swiper-button-prev"><span class="hidden">이전슬라이드 바로가기</span></div>
                        <div class="swiper-button-playStop play" tabindex="0">
                            <span class="hidden status">일시정지</span>
                        </div>
                        <div class="swiper-button-next"><span class="hidden">다음슬라이드 바로가기</span></div>
                    </div>
                </div>
                
                <div class="serviceArea">
                    <div class="inner">
                        <div class="title">
                            <p>
                                <span>주요 서비스</span><br>바로가기
                            </p>
                        </div>
                        <div class="list">
                            <ul>
                                <li>
                                    <a href="apply/appWelfare.html" class="ico ico01">
                                        <img src="../common/images/main/mainCont01_ico01.svg" alt="복지 신청하기 아이콘">
                                        <span>복지<br>신청하기</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="apply/welfareCal_list.html" class="ico ico02">
                                        <img src="../common/images/main/mainCont01_ico02.svg" alt="신청기간 알림예약 아이콘">
                                        <span>신청기간<br>알림예약</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="apply/rebuildSupport.html" class="ico ico03">
                                        <img src="../common/images/main/mainCont01_ico03.svg" alt="은퇴선수 창업지원 아이콘">
                                        <span>은퇴선수<br>창업지원</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="board/noticeList.html" class="ico ico04">
                                        <img src="../common/images/main/mainCont01_ico04.svg" alt="체육인복지 공지 아이콘">
                                        <span>체육인복지<br>공지</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mypage/gameRewardPlayer.html" class="ico ico05">
                                        <img src="../common/images/main/mainCont01_ico05.svg" alt="나의 체육인 지원금 조회 아이콘">
                                        <span>나의 체육인<br>지원금 조회</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mypage/certificate01.html" class="ico ico06">
                                        <img src="../common/images/main/mainCont01_ico06.svg" alt="증명서 발급 아이콘">
                                        <span>증명서<br>발급</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="board/archiveList.html" class="ico ico07">
                                        <img src="../common/images/main/mainCont01_ico07.svg" alt="신청 서류 자료실 아이콘">
                                        <span>신청 서류<br>자료실</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mypage/participation_player.html" class="ico ico08">
                                        <img src="../common/images/main/mainCont01_ico08.svg" alt="경기력 성과포상금 아이콘">
                                        <span>누적<br>평가점수</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mainCont02">
                <a href="#none" class="title">체육인 대상별 복지지원</a>
                <div class="remote">
                    <div class="leftArea">
                        <ul>
                            <li><a href="#none" class="tab01 active">국가대표 선수·지도자</a></li>
                            <li><a href="#none" class="tab02">은퇴(예정)선수</a></li>
                            <li><a href="#none" class="tab03">학생선수</a></li>
                            <li><a href="#none" class="tab04">원로체육인·체육유공자</a></li>
                        </ul>
                    </div>
                    <div class="rightArea">
                        <a href="apply/appWelfare.html" class="seeMore">
                            체육인복지 한눈에 보기
                        </a>
                    </div>
                </div>

                <div class="supportSlide">
                    <div class="supportSlideInner">
                        
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="apply/playerReward.html">
                                    <span class="flag type01">국가대표</span>
                                    <span class="title">경기력 성과포상금(선수)</span>
                                    <span class="desc">
                                        주요 국제대회에 참가하여 포상금 평가점수 20점 이상 획득한 선수
                                    </span>
                                    <span class="ammount">
                                        매달 최대 <span>100</span> 만원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/playerReward.html">
                                    <span class="flag type01">국가대표</span>
                                    <span class="title">경기력 성과포상금(지도자)</span>
                                    <span class="desc">
                                        국제대회에서 입상한 국가대표선수를 직접 지도한 감독·코치 등 지도자
                                    </span>
                                    <span class="ammount">
                                        평가점수 10점당 <span>334</span> 만원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/playerReward.html">
                                    <span class="flag type01">국가대표</span>
                                    <span class="title">생활지원금</span>
                                    <span class="desc">
                                        「국민기초생활 보장법」에 따른 수급자 차상위계층 혹은 이에 준하는 사람 중 국가대표 선수·지도자
                                    </span>
                                    <span class="ammount">
                                        사업기간 내 월 <span>50</span> 만원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/playerReward.html">
                                    <span class="flag type01">국가대표</span>
                                    <span class="title">국내대학원 교육지원금</span>
                                    <span class="desc">
                                        국내 대학원의 교육과정을 이수하고자 하는 국가대표 선수·지도자
                                    </span>
                                    <span class="ammount">
                                        학기당 <span>300</span> 만원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/playerReward.html">
                                    <span class="flag type01">국가대표</span>
                                    <span class="title">국외유학 교육지원금</span>
                                    <span class="desc">
                                        국외 교육기관의 교육과정 및 연수기관의 연수과정을 통한 체육분야 국외유학을 희망하는 국가대표 선수·지도자
                                    </span>
                                    <span class="ammount">
                                        <span>등록금, 항공료</span> 등 지원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/playerReward.html">
                                    <span class="flag type01">국가대표</span>
                                    <span class="title">보험지원금</span>
                                    <span class="desc">
                                        국제대회에 참가하거나 국제대회 참가를 위한 훈련에 참여하는 국가대표 선수·지도자
                                    </span>
                                    <span class="ammount">
                                        <span>1년</span> 단위 가입
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/employmentSupport.html">
                                    <span class="flag type02">은퇴선수</span>
                                    <span class="title">스포츠클럽 창업 지원</span>
                                    <span class="desc">
                                        은퇴(예정)선수 중 스포츠클럽 창업으로 경력전환 희망자
                                    </span>
                                    <span class="ammount">
                                        <span>창업지원금</span> 지원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/employmentSupport.html">
                                    <span class="flag type02">은퇴선수</span>
                                    <span class="title">국내외 지도자 현장연수</span>
                                    <span class="desc">
                                        은퇴(예정)선수 중 지도자로 경력전환 희망자
                                    </span>
                                    <span class="ammount">
                                        <span>현장 실무 보조금</span> 지원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/employmentSupport.html">
                                    <span class="flag type02">은퇴선수</span>
                                    <span class="title">인턴십 제공</span>
                                    <span class="desc">
                                        체육인 중 비스포츠분야 취업을 희망하는 자
                                    </span>
                                    <span class="ammount">
                                        매월 약 <span>200</span> 만원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/spoScollar.html">
                                    <span class="flag type03">학생선수</span>
                                    <span class="title">체육장학금</span>
                                    <span class="desc">
                                        대한체육회, 대한장애인체육회, 중앙경기종목단체가 주최하는 전국 규모대회에서 3위 이상으로 상위 입상한 학생선수
                                    </span>
                                    <span class="ammount">
                                        학년별 <span>30~200</span> 만원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/spoScollar.html">
                                    <span class="flag type03">학생선수</span>
                                    <span class="title">스포츠꿈나무 특기장려금</span>
                                    <span class="desc">
                                        · 법정 저소득층 가구 &nbsp;&nbsp;(기초생활수급가구, 차상위계층)<br>· 체육단체 종목 선수로 등록된 학생
                                    </span>
                                    <span class="ammount">
                                        바우처 매월 <span>40</span> 만원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/elderSupport.html">
                                    <span class="flag type04">원로체육인</span>
                                    <span class="title">원로체육인 지원금</span>
                                    <span class="desc">
                                        체육진흥의 공로가 있는 60세 이상의 원로 체육인
                                    </span>
                                    <span class="ammount">
                                        <span>의료비, 생계비</span> 지원
                                    </span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="apply/elderSupport.html">
                                    <span class="flag type05">체육유공자</span>
                                    <span class="title">대한민국 체육유공자 보상</span>
                                    <span class="desc">
                                        국가대표선수나 국가대표선수지도자 국제경기대회의 경기 훈련 또는 이를 위한 지도 중 사망, 심한 장애를 갖게 된 경우
                                    </span>
                                    <span class="ammount">
                                        <span>연금, 간호수당</span> 등 지원
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="suppSlidePg_container">
                            <div class="swiper-pagination01"></div>
                            <!-- <div class="swiper-pagination02"></div> -->
                        </div>
                    </div>

                    <div class="swiper-button prevBtn">
                        <a href="#none" class="swiper-button-prev"><span class="hidden">이전슬라이드 바로가기</span></a>
                    </div>
                    <div class="swiper-button nextBtn">
                        <a href="#none" class="swiper-button-next"><span class="hidden">다음슬라이드 바로가기</span></a>
                    </div>
                </div>
            </div>

            <div class="mainCont03">
                <div class="calendarInner pcType">
                    <div class="leftArea">
                        <p class="title">2025년도<br>연간일정</p>
                        <div class="tabBtn">
                            <ul>
                                <li><a href="javascript:void(0)" class="on" >상반기</a></li>
                                <li><a href="javascript:void(0)">하반기</a></li>
                            </ul>
                        </div>
                        <a href="apply/welfareCal_list.html" class="reservAlarm">신청 알림 예약</a>
                    </div>
                    <div class="rightArea">
                        <div class="tabCont">
                            <!-- 
                            
                                 *공통
                                 - .evtAb = 행사항목 (고정 값)
                                 - .scnd = 2번째줄
                                 - .thrd = 3번째줄
                                 - .frth = 4번째줄
                                 - .ffth = 5번째줄
                                 - .sxth = 6번째줄
                                 - .svth = 7번째줄
                                 - .egth = 8번째줄
                                 - .nith = 9번째줄
                                 - .hideBox = 마우스오버 노출 박스 전용
                                 - .mon2 = 2달치
                                 - .mon3 = 3달치

                                * 연간 상시접수 용
                                 - .year = 연간행사 전용 class
                                 - .title = 연간상시접수 타이틀 용 only
                                 - .evtTit = 행사명 class
                                 - 

                            -->
                            <div class="firstSem">
                                <ul>
                                    <li class="jan">
                                        <div class="month">
                                            <span>1월</span>
                                        </div>
                                    </li>
                                    <li class="feb">
                                        <div class="month">
                                            <span>2월</span>
                                        </div>
                                    </li>
                                    <li class="mar">
                                        <div class="month">
                                            <span>3월</span>
                                        </div>
                                    </li>
                                    <li class="apr">
                                        <div class="month">
                                            <span>4월</span>
                                        </div>
                                    </li>
                                    <li class="may">
                                        <div class="month">
                                            <span>5월</span>
                                        </div>
                                    </li>
                                    <li class="jun">
                                        <div class="month">
                                            <span>6월</span>
                                        </div>
                                    </li>
                                </ul>
                                <!-- 2025.01.08 마크업 추가 -->
                                <ul class="fakeBox" tabindex="-1">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                <ul class="double"> <!--만약 하나의 evtAb에 이중클래스로 egth(8번째)이상으로 추가 될 경우 클래스 ".double 추가 필요"-->
                                    <li class="jan">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <div class="evt year">
                                                    <a href="apply/welfareCal_list.html" class="evtAb" title="복지캘린더 바로가기">
                                                        <div class="inner">
                                                            <span class="title">연간 상시접수</span>
                                                            <div class="yrList">
                                                                <!--2025.01.08 수정-->
                                                                <ul>
                                                                    <li><span>선수 경기력 성과포상금</span></li>
                                                                    <li><span>지도자 경기력 성과포상금</span></li>
                                                                    <li><span>대한민국 체육유공자 지원</span></li>
                                                                    <li><span>보험지원금</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="feb">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <div class="evt">
                                                    <div class="evtAb scnd" tabindex="0">
                                                        <p>국내외 지도자 현장 연수</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>국내외 지도자 현장 연수</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>

                                                <div class="evt">
                                                    <div class="evtAb thrd mon2" tabindex="0">
                                                        <p>생활지원금</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>생활지원금</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>

                                                <div class="evt">
                                                    <div class="evtAb frth mon2" tabindex="0">
                                                        <p>원로 체육인 지원</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>원로 체육인 지원</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>

                                                <div class="evt">
                                                    <div class="evtAb ffth mon2" tabindex="0">
                                                        <p>상반기 국내대학원 교육지원금</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>상반기 국내대학원 교육지원금</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mar">
                                        <div class="eventList" >
                                            <div class="dataBox">
                                                <div class="evt">
                                                    <div class="evtAb scnd" tabindex="0">
                                                        <p>스포츠꿈나무 특기 장려금</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>스포츠꿈나무 특기 장려금</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>
                                                <div class="evt"></div>
                                                <div class="evt"></div>
                                                <div class="evt"></div>
                                                <div class="evt">
                                                    <div class="evtAb sxth" tabindex="0">
                                                        <p>스포츠클럽 창업 지원</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>스포츠클럽 창업 지원</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>
                                                <div class="evt">
                                                    <div class="evtAb svth" tabindex="0">
                                                        <p>스포츠클럽 창업 지원</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>스포츠클럽 창업 지원</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>
                                                <div class="evt botUp"><!--egth 이상부터는 botUp 클래스 추가 필수-->
                                                    <div class="evtAb egth" tabindex="0">
                                                        <p>스포츠클럽 창업 지원</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>스포츠클럽 창업 지원</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>
                                                <div class="evt botUp">
                                                    <div class="evtAb nith mon3" tabindex="0">
                                                        <p>상반기 국내대학원 교육지원금</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>상반기 국내대학원 교육지원금</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="apr">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <div class="evt">
                                                    <div class="evtAb scnd" tabindex="0">
                                                        <p>인턴십 취업지원</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>인턴십 취업지원</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="may">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <!-- no data -->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="jun">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <div class="evt">
                                                    <div class="evtAb scnd" tabindex="0">
                                                        <p>국외유학 교육지원금</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>국외유학 교육지원금</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="secondSem">
                                <ul>
                                    <li class="jul">
                                        <div class="month">
                                            <span>7월</span>
                                        </div>
                                    </li>
                                    <li class="aug">
                                        <div class="month">
                                            <span>8월</span>
                                        </div>
                                    </li>
                                    <li class="sep">
                                        <div class="month">
                                            <span>9월</span>
                                        </div>
                                    </li>
                                    <li class="oct">
                                        <div class="month">
                                            <span>10월</span>
                                        </div>
                                    </li>
                                    <li class="nov">
                                        <div class="month">
                                            <span>11월</span>
                                        </div>
                                    </li>
                                    <li class="dec">
                                        <div class="month">
                                            <span>12월</span>
                                        </div>
                                    </li>
                                </ul>
                                <!-- 2025.01.08 마크업 추가 -->
                                <ul class="fakeBox" tabindex="-1">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                                <ul>
                                    <li class="jul">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <div class="evt year">
                                                    <a href="apply/welfareCal_list.html" class="evtAb" title="복지캘린더 바로가기">
                                                        <div class="inner">
                                                            <span class="title">연간 상시접수</span>
                                                            <div class="yrList">
                                                                <!--2025.01.08 수정-->
                                                                <ul>
                                                                    <li><span>선수 경기력 성과포상금</span></li>
                                                                    <li><span>지도자 경기력 성과포상금</span></li>
                                                                    <li><span>대한민국 체육유공자 지원</span></li>
                                                                    <li><span>보험지원금</span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="aug">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <!-- no data -->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="sep">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <!-- no data -->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="oct">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <div class="evt">
                                                    <div class="evtAb scnd mon2" tabindex="0">
                                                        <p>하반기 국내대학원 교육지원금</p>
                                                    </div>
                                                    <a href="apply/welfareCal_list.html" class="hideBox" title="복지캘린더 바로가기">
                                                        <p>하반기 국내대학원 교육지원금</p>
                                                        <p>2025.02.01 ~ 2025.02.28</p>
                                                    </a> 
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nov">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <!-- no data -->
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dec">
                                        <div class="eventList">
                                            <div class="dataBox">
                                                <!-- no data -->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="calendarInner moType">
                    <div class="tbtitle">
                        <p>2025년도 연간 일정</p>
                    </div>
                    <div class="mainTable">
                        <table class="tbCal">
                            <caption>2025년 각 월별로 행사내용이 구성된 표</caption>
                            <colgroup>
                                <col style="width:70px">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">1월</th>
                                    <td>
                                        <ul>
                                            <li>경기력 성과포상금 상시 접수(상시)</li>
                                            <li>보험지원금 상시 지원(상시)</li>
                                            <li>보험지원금 상시 지원</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2월</th>
                                    <td>
                                        <ul>
                                            <li>생활지원금 공고</li>
                                            <li>국내대학 교육지원금 1차</li>
                                            <li>원로체육인 지원</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3월</th>
                                    <td>
                                        <ul>
                                            <li>스포츠 꿈나무 특기장려금(상시)</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">7월</th>
                                    <td>
                                        <ul>
                                            <li>국외대학 교육지원금</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">8월</th>
                                    <td>
                                        <ul>
                                            <li>국외대학 교육지원금 2차</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">10월</th>
                                    <td>
                                        <ul>
                                            <li>체육장학금</li>
                                        </ul>
                                    </td>
                                </tr>                                
                            </tbody>
                        </table>
                    </div>

                    <a href="apply/welfareCal_list.html" class="reservAlarm">공고알림 예약</a>
                </div>
            </div>

            <div class="mainCont04">
                <div class="inner">
                    <p class="title line01">1970년대부터 지금까지</p>
                    <p class="title line02">10,000여 명 이상의 체육인을 지원하고 있습니다.</p>

                    <div class="countBox">
                        <ul>
                            <li class="col01">
                                <img src="../common/images/main/mainCont04_ico01.svg" alt="트로피 뒤 그래프가 있는 이미지 아이콘">
                                <p class="count">
                                    <span class="counter" data-start="0" data-end="1747">1,747</span> 명
                                </p>
                                <p class="txt">2024년 국가대표선수<br>포상금 지원 인원</p>
                            </li>
                            <li class="col02">
                                <img src="../common/images/main/mainCont04_ico02.svg" alt="책모양의 아이콘">
                                <p class="count">
                                    <span class="counter" data-start="0" data-end="145">145</span> 명
                                </p>
                                <p class="txt">2024년 교육지원금<br>지원 인원</p>
                            </li>
                            <li class="col03">
                                <img src="../common/images/main/mainCont04_ico03.svg" alt="학사모 뒤에 상장이 붙어있는 이미지 아이콘">
                                <p class="count">
                                    <span class="counter" data-start="0" data-end="625">625</span> 명
                                </p>
                                <p class="txt">2024년 체육장학금<br>지원 인원</p>
                            </li>
                            <li class="col04">
                                <img src="../common/images/main/mainCont04_ico04.svg" alt="학사모야 그래프가 있는 이미지 아이콘">
                                <p class="count">
                                    <span class="counter" data-start="0" data-end="1515">1,515</span> 명
                                </p>
                                <p class="txt">2024년 스포츠꿈나무<br>특기장려금 지원 인원</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mainCont05">
                <div class="inner">
                    <div class="titleArea">
                        <p>주요 복지사업</p>
                    </div>
                    <div class="listArea">
                        <div class="businessSlide pc">
                            <div class="bsList">
                                <a href="apply/playerReward.html" class="ico ico01">
                                    <span>경기력<br>성과포상금</span>
                                </a>
                            </div>
                            <div class="bsList">
                                <a href="apply/rebuildSupport.html" class="ico ico02">
                                    <span>스포츠클럽<br>창업지원금</span>
                                </a>
                            </div>
                            <div class="bsList">
                                <a href="apply/socSupport.html" class="ico ico03">
                                    <span>생활<br>지원금</span>
                                </a>
                            </div>
                            <div class="bsList">
                                <a href="apply/eduInSupport.html" class="ico ico04">
                                    <span>교육<br>지원금</span>
                                </a>
                            </div>
                            <div class="bsList">
                                <a href="apply/spoScollar.html" class="ico ico05">
                                    <span>체육<br>장학금</span>
                                </a>
                            </div>
                            <div class="bsList">
                                <a href="apply/apply/insuranceSupport.html" class="ico ico06">
                                    <span>보험<br>지원금</span>
                                </a>
                            </div>
                            <div class="bsList">
                                <a href="apply/prospectScollar.html" class="ico ico07">
                                    <span>스포츠꿈나무<br>특기장려금</span>
                                </a>
                            </div>
                            <div class="bsList">
                                <a href="apply/elderSupport.html" class="ico ico08">
                                    <span>원로<br>체육인</span>
                                </a>
                            </div>
                            <div class="bsList">
                                <a href="apply/merit.html" class="ico ico09">
                                    <span>대한민국<br>체육유공자</span>
                                </a>
                            </div>
                        </div>

                        <div class="businessSlide mo bsSlide">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide bsList">
                                    <a href="apply/playerReward.html" class="ico ico01">
                                        <span>경기력<br>성과포상금</span>
                                    </a>
                                </div>
                                <div class="swiper-slide bsList">
                                    <a href="apply/rebuildSupport.html" class="ico ico02">
                                        <span>스포츠클럽<br>창업지원금</span>
                                    </a>
                                </div>
                                <div class="swiper-slide bsList">
                                    <a href="apply/socSupport.html" class="ico ico03">
                                        <span>생활<br>지원금</span>
                                    </a>
                                </div>
                                <div class="swiper-slide bsList">
                                    <a href="apply/eduInSupport.html" class="ico ico04">
                                        <span>교육<br>지원금</span>
                                    </a>
                                </div>
                                <div class="swiper-slide bsList">
                                    <a href="apply/spoScollar.html" class="ico ico05">
                                        <span>체육<br>장학금</span>
                                    </a>
                                </div>
                                <div class="swiper-slide bsList">
                                    <a href="apply/.html" class="ico ico06">
                                        <span>보험<br>공제</span>
                                    </a>
                                </div>
                                <div class="swiper-slide bsList">
                                    <a href="apply/prospectScollar.html" class="ico ico07">
                                        <span>스포츠꿈나무<br>특기장려금</span>
                                    </a>
                                </div>
                                <div class="swiper-slide bsList">
                                    <a href="apply/elderSupport.html" class="ico ico08">
                                        <span>원로<br>체육인</span>
                                    </a>
                                </div>
                                <div class="swiper-slide bsList">
                                    <a href="apply/merit.html" class="ico ico09">
                                        <span>대한민국<br>체육유공자</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="swiperControl mo">
                            <!-- 2025.01.20 영역간 침범 이슈로 인디케이터 제거 -->
                            <!-- <div class="swiper-prev"><span class="hidden">이전슬라이드 바로가기</span></div>
                            <div class="swiper-next"><span class="hidden">다음슬라이드 바로가기</span></div> -->
                            <div class="swiper-paging"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mainCont06">
                <a href="board/noticeList.html" class="title">새로운 소식</a>

                <div class="topBox">
                    <div class="leftCont">
                        <div class="remote">
                            <div class="leftArea">
                                <ul>
                                    <li><a href="javascript:void(0)" class="tab01 active">전체</a></li>
                                    <li><a href="javascript:void(0)" class="tab02">공지사항</a></li>
                                    <li><a href="javascript:void(0)" class="tab03">체육인복지 소식</a></li>
                                    <li><a href="javascript:void(0)" class="tab03">보도자료</a></li>
                                </ul>
                            </div>
                            <div class="rightArea">
                                <a href="board/noticeList.html" class="seeMore">더보기</a>
                            </div>
                        </div>

                        <div class="listFrame">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <p class="date">
                                            <span>29</span>
                                            <span>2024.11</span>
                                        </p>
                                        <p class="title new"> <!-- 신규게시물 'new' 클래스 추가 -->
                                            스포츠꿈나무 특기장려금 사업 운영 사업자 선정선정선정선정선정선정
                                            <span class="newIco">
                                                <img src="../common/images/common/ico_new.svg" alt="신규게시글 아이콘 이미지">
                                            </span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <p class="date">
                                            <span>29</span>
                                            <span>2024.11</span>
                                        </p>
                                        <p class="title new">
                                            스포츠 현안과 진단 191호 발간 안내
                                            <span class="newIco">
                                                <img src="../common/images/common/ico_new.svg" alt="신규게시글 아이콘 이미지">
                                            </span>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <p class="date">
                                            <span>29</span>
                                            <span>2024.11</span>
                                        </p>
                                        <p class="title">스포츠꿈나무 특기장려금 사업 운영 사업자 선정스포츠꿈나무 특기장려금 사업 운영 사업자 선정스포츠꿈나무 특기장려금 사업 운영 사업자 선정</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <p class="date">
                                            <span>29</span>
                                            <span>2024.11</span>
                                        </p>
                                        <p class="title">스포츠꿈나무 운영 사업자 선정</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="rightCont">
                        <div class="newsSlide">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" tabindex="0"><img src="../common/images/main/mainCont06_01.jpg" alt="한눈에 보는 체육인복지 체육인복지지원 서비스 SPOwell 서비스 복지신청 바로가기"></div>
                                <div class="swiper-slide" tabindex="0"><img src="../common/images/main/news_empty.png" alt="kspo 이미지 준비중입니다."></div>
                                <div class="swiper-slide" tabindex="0"><img src="../common/images/main/mainCont06_01.jpg" alt="한눈에 보는 체육인복지 체육인복지지원 서비스 SPOwell 서비스 복지신청 바로가기"></div>
                                <div class="swiper-slide" tabindex="0"><img src="../common/images/main/news_empty.png" alt="kspo 이미지 준비중입니다."></div>
                                <div class="swiper-slide" tabindex="0"><img src="../common/images/main/mainCont06_01.jpg" alt="한눈에 보는 체육인복지 체육인복지지원 서비스 SPOwell 서비스 복지신청 바로가기"></div>
                            </div>
                        </div>
                        <div class="controllBox">
                            <div class="slideInfo">
                                <div class="swiper-pagination03"></div>
                                <div class="slideRemote">
                                    <div class="swiper-button-prev03"><span class="hidden">이전슬라이드 바로가기</span></div>
                                    <div class="swiper-button-playStop02 play" tabindex="0">
                                        <span class="hidden status">일시정지</span>
                                    </div>
                                    <div class="swiper-button-next03"><span class="hidden">다음슬라이드 바로가기</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="botBox">
                    <div class="inner">
                        <div class="informCover">
                            <div class="service01">
                                <p class="title">교육훈련<br>서비스</p>
                                <p class="desc">
                                    스포츠분야 취창업교육부터 체육인재 양성을 위한 온·오프라인 강의
                                </p>
                                <a href="https://edu.kspo.or.kr/main/main.do" title="새창열림" target="_blank" class="direct">K스포에듀 바로가기</a>
                            </div>
                            <div class="service02">
                                <p class="title">체육인 권리·<br>권익보호</p>
                                <p class="desc">
                                    스포츠 인권침해·비리<br>도움이 필요할 때 익명 상담·신고
                                </p>
                                <a href="https://www.k-sec.or.kr/" title="새창열림" target="_blank" class="direct">스포츠윤리센터 바로가기</a>
                            </div>
                            <div class="service03">
                                <p class="title">스포츠꿈나무 특기장려금 카드지원 현황 조회</p>
                                <p class="infoTel">
                                    <span class="ico">
                                        <span class="hidden">전화모양 아이콘</span>
                                    </span>
                                    <span class="txt">
                                        <span>하나카드 고객센터</span>
                                        <span>1800-1111</span>
                                    </span>
                                </p>
                                <a href="https://www.hanacard.co.kr/OSA60000000D.web?schID=scd&mID=OSA60000000D" title="새창열림" target="_blank" class="direct">하나카드 고객센터 바로가기</a>
                            </div>
                            <div class="serviceOptions">
                                <ul>
                                    <li class="item01">
                                        <a href="about/index.html">체육인복지 사업 소개</a>
                                    </li>
                                    <li class="item02">
                                        <a href="about/law.html">체육인복지법 조회</a>
                                    </li>
                                    <li class="item03">
                                        <a href="board/faq.html">자주묻는질문</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 20250115 추가 -->
        <div class="mobileFloating">
            <div class="inner">
                <p>쉽고 간편한 <span>체육인복지 서비스</span></p>
                <a href="javascript:void(0)">신청하기</a>
            </div>
        </div>

        <!-- 하단영역 -->
        <div class="layoutFooter main">
            <!-- Footer -->
            <%- include('./ejs/footer.ejs', {
                url: "../"
            }) %>
        </div>
        <!-- //하단영역 -->
    </div>
</div>
<!-- Bottom -->
<%- include('./ejs/bottom.ejs', { }) %>