<%- include('../../layout/type_spowell/header.ejs', {
    url: "../../../"
}) %>


<!-- 컨텐츠 내용 -->
<div class="layoutContArea">
    
    <!-- h2 타이틀 -->
    <%- include('../../layout/type_spowell/topTitle.ejs', {
        url: "../../../"
    }) %>

    <!-- 검색조건 -->
    <div class="cptSearchArea">
        <table>
            <caption></caption>
            <colgroup>
                <col style="width:150px;" />
                <col style="width:auto;" />
                <col style="width:150px;" />
                <col style="width:auto;" />
            </colgroup>
            <tbody>
                <tr>
                    <th>사업년도</th>
                    <td>
                        <select name="" id="" class="iptSlt frmSm">
                            <option value="">1</option>
                        </select>
                    </td>
                    <th>장애여부</th>
                    <td>
                        <div class="frmChoBox"><input id="rdo001" type="radio" class="iptRdo" name="rdo001"><label for="rdo001" class="iptLbl">비장애</label></div>
                        <div class="frmChoBox"><input id="rdo002" type="radio" class="iptRdo" name="rdo001"><label for="rdo002" class="iptLbl">장애</label></div>
                    </td>
                </tr>
                <tr>
                    <th>종목구분</th>
                    <td>
                        <select name="" id="" class="iptSlt">
                            <option value="">1</option>
                        </select>
                    </td>
                    <td colspan="2" class="right">
                        <button type="button" class="btnSearch">조회</button>
                        <button type="button" class="btnReset">초기화</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- 그리드/테이블 상단 -->
    <div class="cptGroupTop">
        <div class="alignL">
            <div class="unit"><span class="text">사업년도 : <span class="total">2024 / 비장애 / 올림픽</span></span></div>
        </div>
        <div class="alignR">
            <div class="comSideOpt">
                <ul class="opList">
                    <!-- <li class="item">
                        <button type="button" class="viewBtn on">10건</button>
                        <button type="button" class="viewBtn">20건</button>
                        <button type="button" class="viewBtn">50건</button>
                        <button type="button" class="viewBtn">100건</button>
                    </li> -->
                    <li class="item">
                        <button type="button" class="srhBtn bLine">엑셀다운로드</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 그리드 -->
    <div class="cptGrid">
        <table class="gridTb">
            <colgroup>
                
            </colgroup>
            <thead>
                <tr>
                    <th colspan="2">구간구분</th>
                    <th colspan="3">계</th>
                    <th colspan="3">남자</th>
                    <th colspan="3">여자</th>
                </tr>
                <tr class="scndLine">
                    <th>점수(점)</th>
                    <th>월정금(천원)</th>
                    <th>인원</th>
                    <th>비율(%)</th>
                    <th>평균연령</th>
                    <th>인원</th>
                    <th>비율(%)</th>
                    <th>평균연령</th>
                    <th>인원</th>
                    <th>비율(%)</th>
                    <th>평균연령</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>20 ~ 29</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
                <tr>
                    <td>30 ~ 39</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
                <tr>
                    <td>40 ~ 49</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
                <tr>
                    <td>50 ~ 59</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
                <tr>
                    <td>60 ~ 69</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
                <tr>
                    <td>70 ~ 79</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
                <tr>
                    <td>80 ~ 89</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
                <tr>
                    <td>90 ~ 99</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
                <tr>
                    <td>100 ~ 109</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
                <tr>
                    <td>110 ~</td>
                    <td>300</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                    <td>000</td>
                    <td>00.0%</td>
                    <td>00.0 세</td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="2">합계</td>
                <td>000</td>
                <td>00.0%</td>
                <td>00.0 세</td>
                <td>000</td>
                <td>00.0%</td>
                <td>00.0 세</td>
                <td>000</td>
                <td>00.0%</td>
                <td>00.0 세</td>
            </tfoot>
        </table>
    </div>
    <!-- //그리드 -->

</div>
<!-- //컨텐츠 내용 -->


<%- include('../../layout/type_spowell/bottom.ejs', {
    url: "../../../"
}) %>