<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb03.ejs', {
                            depth2:1,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->
                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <!-- 콘텐츠 영역 하위 레이아웃 : 윗간격 60  -->
                        <div class="sectionArea cptService">
                            <div class="sectionPart">
                                <div class="bannerArea">
                                    <div class="bannerTop imgEdu">
                                        <h4 class="tit">교육훈련 서비스</h4>
                                        <p class="txt">
                                            배우고 싶은 체육, 여기 다 있다! <br>
                                            체육인 및 체육분야 관심자의 직무 능력 향상 및 직업 능력 개발을 위해 K스포에듀와 함께 맞춤 교육을 제공합니다. <br>
                                            자세한 사항은 K스포에듀에서 확인 및 교육 신청이 가능합니다.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">스포츠인재 양성</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt">교육대상</p>
                                    <ul class="bulletList">
                                        <li>체육분야 취 · 창업준비자, 체육행정 및 스포츠산업 재직자 등</li>
                                    </ul>

                                    <p class="bulletTxt">교육내용</p>
                                    <ul class="bulletList">
                                        <li>체육분야 전문인력 육성 및 체육분야 현장전문가 역량 강화</li>
                                    </ul>

                                    <p class="bulletTxt">교육과정</p>
                                    <div class="cptTable">
                                        <table class="tbMoType">
                                            <caption>교육과정에 관한 표로써 분야,교육과정,방식으로 구성됨</caption>
                                            <colgroup>
                                                <col style="width:24%">
                                                <col style="width:60%">
                                                <col style="width:16%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">분야</th>
                                                    <th scope="col">교육과정</th>
                                                    <th scope="col">방식</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="tit" rowspan="6">예비인재</td>
                                                    <td>
                                                        <span>스포츠 예비행정가과정</span>
                                                    </td>
                                                    <td class="tit" rowspan="8">
                                                        <span>대면</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>스포츠 예비마케터과정</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>스포츠 창업지원과정</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>스포츠 진로특강</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>스포츠 인턴십과정</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>스포츠 행정실무자과정</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="tit" rowspan="6">행정인재</td>
                                                    <td>
                                                        <span>체력측정 · 관리행정과정</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>여성스포츠리더과정</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <span>스포츠정책 과정</span>
                                                    </td>
                                                    <td class="tit" rowspan="4">
                                                        <span>온라인<br>(콘텐츠)</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>스포츠시설 안전관리과정</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>레저스포츠 안전관리과정</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>레저스포츠 안전관리과정</span>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="tit" rowspan="3">산업인재</td>
                                                    <td>
                                                        <span>스포츠 데이터분석과정</span>
                                                    </td>
                                                    <td class="tit" rowspan="3">
                                                        <span>대면</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>스포츠 미디어과정</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>스포츠 영상분석과정</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <p class="bulletTxt">모집기간</p>
                                    <ul class="bulletList">
                                        <li>매년 5~6월 중(K스포에듀 홈페이지 내 신청)</li>
                                    </ul>

                                    <p class="bulletTxt">교육기간</p>
                                    <ul class="bulletList">
                                        <li>
                                            매년 6~12월 중
                                            <p class="bulletSign">과정별 모집 및 교육기간 상이</p>
                                            <p class="bulletSign">온라인 콘텐츠의 경우, 상시 신청 및 수강 가능</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">국제스포츠인재 양성</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt">교육대상</p>
                                    <ul class="bulletList">
                                        <li>[미래인재] 취업준비생</li>
                                        <li>[도전인재] 국내 현직자 및 국제기구 경력자</li>
                                        <li>[진출인재] 국제스포츠기구 현직자</li>
                                    </ul>

                                    <p class="bulletTxt">교육내용</p>
                                    <ul class="bulletList">
                                        <li>국제스포츠 전문인력 양성을 위한 역량강화 교육 및 워크숍 운영</li>
                                    </ul>


                                    <p class="bulletTxt">교육과정</p>
                                    <ul class="bulletList">
                                        <li>[미래인재] 진로탐색 과정</li>
                                        <li>[도전인재] 도전 과정, 재진출 과정, 해외학위 취득 지원</li>
                                        <li>
                                            [진출인재] 진출인재 과정
                                            <p class="bulletSign">해외학위 취득지원 : AISTS(IOC 설립), FIFA Master(FIFA 설립) 석사과정 입학 허가서 취득자 대상 학비, 항공료 등 인당 20백만원 정액 지원(3명 이내)</p>
                                        </li>
                                    </ul>

                                    <p class="bulletTxt">모집기간</p>
                                    <ul class="bulletList">
                                        <li>매년 5~6월 중(K스포에듀 홈페이지 내 신청)</li>
                                    </ul>

                                    <p class="bulletTxt">교육기간</p>
                                    <ul class="bulletList">
                                        <li>
                                            매년 6~12월 중
                                            <p class="bulletSign">과정별 모집 및 교육기간 상이</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">국제스포츠행정가 양성</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt">교육대상</p>
                                    <ul class="bulletList">
                                        <li>스포츠행정 경력자, 선수 경력자 등(연간 6명 이내)</li>
                                    </ul>

                                    <p class="bulletTxt">교육내용</p>
                                    <ul class="bulletList">
                                        <li>글로벌 스포츠매니지먼트 석사 과정 지원</li>
                                    </ul>


                                    <p class="bulletTxt">교육과정</p>
                                    <ul class="bulletList">
                                        <li>글로벌 스포츠매니지먼트 석사 과정(서울대), 사후관리 프로그램(공단)</li>
                                    </ul>

                                    <p class="bulletTxt">교육기간</p>
                                    <ul class="bulletList">
                                        <li>2년(총 4학기 과정)</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">국제심판 양성</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt">교육대상</p>
                                    <ul class="bulletList">
                                        <li>국제심판 및 국제심판 자격 취득 희망자</li>
                                    </ul>

                                    <p class="bulletTxt">교육내용</p>
                                    <ul class="bulletList">
                                        <li>경쟁력 있는 국제심판 양성으로 국제스포츠무대에서의 영향력 제고</li>
                                    </ul>

                                    <p class="bulletTxt">교육과정</p>
                                    <ul class="bulletList">
                                        <li>
                                            국제심판 역량강화 교육과정, 국제심판 자격취득 지원 등
                                            <p class="bulletSign">국제심판 자격취득 지원</p>
                                        </li>
                                    </ul>
                                    <ul class="eduSupList">
                                        <li>
                                            <strong>지원대상</strong>
                                            <p>올림픽, 아시안게임 정식종목의 국제심판 자격취득, 승급, 유지를 위해 국제연맹에서 주관하는 해외 강습회 등 참가자</p>
                                        </li>
                                        <li>
                                            <strong>지원내용</strong>
                                            <p>항공료 및 체재비 한도 내 지원</p>
                                            <b>
                                                아시아 : 300만원 <br>
                                                그 외 : 400만원
                                            </b>
                                        </li>
                                        <li>
                                            <strong>지원인원</strong>
                                            <p>24명 내외</p>
                                            <b>분기별 6명 내외 선정</b>
                                        </li>
                                    </ul>

                                    <p class="bulletTxt">모집기간</p>
                                    <ul class="bulletList">
                                        <li>매년 3~12월(K스포에듀 홈페이지 내 신청)</li>
                                    </ul>

                                    <p class="bulletTxt">교육기간</p>
                                    <ul class="bulletList">
                                        <li>
                                            매년 3~12월 중
                                            <p class="bulletSign">과정별 모집 및 교육기간 상이</p>
                                        </li>
                                    </ul>
                                </div>

                                <div class="partFooter">
                                    <div class="comButton">
                                        <button type="button" class="btn h56 f-dg">K스포에듀 바로가기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

 