<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb03.ejs', {
                            depth2:2,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->
                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <!-- 콘텐츠 영역 하위 레이아웃 : 윗간격 60  -->
                        <div class="sectionArea cptService">
                            <div class="sectionPart">
                                <div class="bannerArea">
                                    <div class="bannerTop imgPro">
                                        <h4 class="tit">권리·권익보호 서비스</h4>
                                        <p class="txt">
                                            체육인권리 및 권익보장을 위해 스포츠윤리센터와 함께 상담·신고 및 조사, 피해자 보호·지원, 예방교육 등 권리·권익 서비스를 제공합니다.
                                            체육인 권리·권익에 관한 내용은 스포츠 윤리센터 홈페이지에서 확인할 수 있으며, <br>
                                            체육인 권리 및 권익보장지원 신청을 할 수 있습니다.
                                        </p>
                                    </div>

                                    <ul class="serviceProtectList">
                                        <li>
                                            <strong>상담·신고센터</strong>
                                            <p>체육계 인권침해 및 비리 피해 상담 및 신고접수</p>
                                        </li>
                                        <li>
                                            <strong>사전조사</strong>
                                            <p>사후관리</p>
                                        </li>
                                        <li>
                                            <strong>스포츠 윤리교육</strong>
                                            <p>체육계 인권침해 및 비리 예방교육</p>
                                        </li>
                                        <li>
                                            <strong>피해자 지원제도</strong>
                                            <p>법률지원, 심리상담, 의료지원 등 인권침해·비리 피해자 지원</p>
                                        </li>
                                        <li>
                                            <strong>실태조사 및 제도 개선</strong>
                                            <p>체육인(장애인·비장애인) 대상 실태조사 및 스포츠윤리 정책개발</p>
                                        </li>
                                        <li>
                                            <strong>징계정보시스템</strong>
                                            <p>체육계 인권침해 및 비리 선제적 예방을 위한 징계 이력 관리</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">체육계 인권침해</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">체육인(감독, 코치, 선수 등)에 대한 성폭력, 폭력, 괴롭힘, 차별을 포함한 인권침해 행위를 말합니다.</p>
                                    <div class="borderColArea">
                                        <ul class="bulletList">
                                            <li>때리거나 돈을 빼앗는 행위</li>
                                            <li>겁을 먹게 하는 행위</li>
                                            <li>강제적인 심부름, 따돌림 행위</li>
                                            <li>원하지 않는 신체접촉이나 성적인 말 등</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">스포츠비리</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">운동경기 중 발생하는 승부조작 또는 편파판정, 체육 관련 입시비리, 체육단체 등의 횡령·배임 및 뇌물수수 등 체육계의 투명성과 공정성에 해를 끼치는 행위를 말합니다.</p>
                                    <div class="borderColArea col4">
                                        <ul class="bulletList">
                                            <li>승편파판정</li>
                                            <li>승부조작</li>
                                            <li>부정입학</li>
                                            <li>횡령·배임</li>
                                            <li>금품수수</li>
                                            <li>인사비리</li>
                                            <li>심판매수</li>
                                            <li>입시비리</li>
                                            <li>사문서위조</li>
                                            <li>회계부정</li>
                                            <li>조직사유화</li>
                                            <li>권한남용</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="partFooter">
                                    <div class="comButton">
                                        <button type="button" class="btn h56 f-dg">스포츠 윤리센터 바로가기</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

 