<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb04.ejs', {
                            depth2:1,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->
                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <div class="cptBoardDetail">
                            <div class="inner">
                                <div class="titleArea">
                                    <p class="title">2024년 하반기 국내대학원 교육지원금 신청안내</p>
                                    <p class="dtView">
                                        <span class="date">2024.01.01</span>
                                        <span class="view">3,715</span>
                                    </p>
                                </div>
                
                                <div class="detailCont">
                                    [체육인 복지 지원사업] 2024년도 하반기 국내대학원 교육지원금 신청안내<br>
                                    •지원대상 : 국가대표 선수·지도자로서 국내의 대학원에 진학하고자 하는 사람<br>
                                    •지원과정 : 석사, 박사 또는 석박사 통합 과정<br>
                                    •지원금액 : 학기당 300만원 범위의 입학금 및 등록금<br>
                                    •지원기간 : 대학원 과정 2년(4개 학기) 이내 
                                    - 학위과정 당 정규수업연한을 기준으로 2년(4개 학기) 정규등록에 한하여 지급
                                    * 설명자료 내 ‘②사업개요’ 참조<br>
                                    •접수기간 : 8.9(금) ~ 9.9(월) 
                                    * 대한체육회 및 대한장애인체육회 접수마감 기한이며, 종목단체별 마감기한 상이<br>
                                    ※ 접수 마감일인 9.9(월)은 체육회 추천 마감일로, 각 경기단체·체육회 별 마감기한이 상이합니다.<br>
                                    반드시 종목단체별 공지사항을 확인하여 주시기 바랍니다.
                                </div>
                
                                <div class="fileBox">
                                    <p>첨부파일</p>
                                    <div>
                                        <ul>
                                            <li><a href="#none" class="fileDownload">2024년도 하반기 국내대학원 교육지원금 설명자료.hwp</a></li>
                                            <li><a href="#none" class="fileDownload">2024년도 하반기 국내대학원 교육지원금 설명자료.hwp</a></li>
                                            <li><a href="#none" class="fileDownload">2024년도 하반기 국내대학원 교육지원금 설명자료.hwp</a></li>
                                        </ul>
                                    </div>
                                </div>
                
                                <div class="comButton">
                                    <button type="button" class="btn h56 l-g">목록</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

 