 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 메인 콘텐츠 영역 -->
            <div class="memberPageArea register">
                <!-- KB 2024.10.24 수정 -->
                <p class="memberTitle mtMargin">
                    회원가입(에이전시회원)
                </p>
                <!--// KB 2024.10.24 수정 -->

                <div class="regBox">
                    <div class="titArea">
                        <span class="tit">회원정보</span>
                        <span class="desc"><span class="required">*</span>는 필수 입력해야 하는 정보입니다.</span>
                    </div>

                    <!-- KB 2024.10.24 수정 -->
                    <div class="cptForm">
                        <div class="frmIpt withBtn">
                            <label for="ipt01">아이디 <span class="required">*</span></label>
                            <div class="iptArea">
                                <input type="text" placeholder="아이디를 입력해주세요." id="ipt01" />
                                <div class="cptBtnForm">
                                    <button type="button" class="btn scnd">중복확인</button>
                                </div>
                            </div>
                        </div>

                        <div class="frmIpt">
                            <label for="ipt02">비밀번호 <span class="required">*</span></label>
                            <input type="text" placeholder="비밀번호를 입력해주세요." id="ipt02" />
                        </div>

                        <div class="frmIpt">
                            <label for="ipt03">비밀번호 확인 <span class="required">*</span></label>
                            <input type="text" placeholder="비밀번호를 한번 더 입력해주세요." id="ipt03" />
                        </div>

                        <div class="cptBtnForm">
                            <button type="button" class="btn prmy">본인 인증하기</button>
                        </div>

                        <div class="frmIpt"><!--본인 인증 후 데이터 표기-->
                            <label for="ipt08">이름 <span class="required">*</span></label>
                            <input type="text" placeholder="본인인증을 완료해주세요." id="ipt08" disabled/>
                        </div>

                        <div class="frmIpt"><!--본인 인증 후 데이터 표기-->
                            <label for="ipt09">휴대폰 번호 <span class="required">*</span></label>
                            <input type="text" placeholder="본인인증을 완료해주세요." id="ipt09" disabled/>
                        </div>

                        <div class="frmIpt">
                            <label for="ipt10">이메일 주소 <span class="required">*</span></label>
                            <input type="text" placeholder="이메일 주소를 입력해주세요." id="ipt10" />
                        </div>

                        <div class="frmIpt withBtn">
                            <label for="ipt11">추천인 아이디 <span class="required">*</span></label>
                            <div class="iptArea">
                                <input type="text" placeholder="추천인 아이디를 입력해주세요." id="ipt11" />
                                <div class="cptBtnForm">
                                    <button type="button" class="btn scnd">추천인 확인</button>
                                </div>
                            </div>
                        </div>

                        <!--2024.10.10 미사용처리 (에이전시)-->
                        <!-- <div class="frmIpt withBtn">
                            <label for="ipt07">소상공인증명서 <span class="infoMsg type02">※ 소상공인증명서를 등록하시면 향후 프로모션 혜택을 받으실 수 있습니다.</span></label>
                            <div class="iptArea">
                                <input type="text" placeholder="소상공인증명서를 첨부해주세요." id="ipt07" />
                                <div class="cptBtnForm">
                                    <button type="button" class="btn scnd">첨부하기</button>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    
                    <div class="titArea">
                        <span class="tit">사업자 정보</span>
                    </div>


                    <div class="cptForm">
                        <div class="frmIpt">
                            <label for="ipt04">업체명</label>
                            <input type="text" placeholder="업체명을 입력해주세요." id="ipt04" />
                        </div>

                        <div class="frmIpt">
                            <label for="ipt04">업종</label>
                            <div class="frmCombo">
                                error case
                                <div class="drpCov">
                                    <button type="button" class="drpBtn">text</button>
                                    <div class="listBox">
                                        <ul class="drpList">
                                            <li><a href="#none">text</a></li>
                                            <li><a href="#none">text</a></li>
                                            <li><a href="#none">text</a></li>
                                            <li><a href="#none">text</a></li>
                                            <li><a href="#none">text</a></li>
                                            <li><a href="#none">text</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="frmIpt withBtn address">
                            <label for="popipt03">주소</label>
                            <div class="iptArea small">
                                <input type="text" id="popipt03" placeholder="우편번호">
                                <div class="cptBtnForm">
                                    <button type="button" class="btn scnd">검색</button>
                                </div>
                            </div>
    
                            <label for="popipt04" class="hidden">주소2</label>
                            <input type="text" placeholder="주소를 입력해주세요." id="popipt04">
    
                            <label for="popipt05" class="hidden">주소3</label>
                            <input type="text" placeholder="상세주소를 입력해주세요." id="popipt05">
                        </div>

                        <div class="frmIpt withBtn">
                            <label for="ipt05">사업자등록번호</label>
                            <div class="iptArea">
                                <input type="text" placeholder="사업자등록번호를 입력해주세요." id="ipt05" />
                                <div class="cptBtnForm">
                                    <button type="button" class="btn scnd">번호확인</button>
                                </div>
                            </div>
                        </div>

                        <div class="frmIpt withBtn">
                            <label for="ipt06">사업자등록증 <span class="infoMsg type01">※ 광고 청약 시 사업자등록증 등록이 필요합니다.</span></label>
                            <div class="iptArea">
                                <input type="text" placeholder="사업자등록증을 첨부해주세요." id="ipt06" />
                                <div class="cptBtnForm">
                                    <button type="button" class="btn scnd">첨부하기</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="titArea">
                        <span class="tit">이용약관 동의 <span class="required">*</span></span>
                    </div>

                    <div class="cptForm">
                        <label class="frmChk">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                            <span class="labelTxt">모두 동의합니다.</span>
                        </label>

                        <div class="withMore">
                            <label class="frmChk">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                                <span class="labelTxt">서비스 이용약관 동의(필수)</span>
                            </label>
                            <button type="button">자세히</button>
                        </div>

                        <div class="withMore">
                            <label class="frmChk">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                                <span class="labelTxt">개인정보 수집 및 이용 동의(필수)</span>
                            </label>
                            <button type="button">자세히</button>
                        </div>

                        <label class="frmChk">
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                            <span class="labelTxt">만 14세 이상 가입 동의(필수)</span>
                        </label>

                        <div class="withMore">
                            <label class="frmChk">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                                <span class="labelTxt">마케팅/프로모션을 위한 개인정보 수집/활용 동의(필수)</span>
                            </label>
                            <button type="button">자세히</button>
                        </div>                            
                        <div class="withMore">
                            <label class="frmChk">
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                                <span class="labelTxt">마케팅/프로모션을 위한 광고성 첩보 수신동의(필수)</span>
                            </label>
                            <button type="button">자세히</button>
                        </div>                        
                    </div>

                    <div class="cptBtnForm">
                        <button type="button" class="btn prmy">회원가입하기</button>
                    </div>
                </div>
                <!-- KB 2024.10.24 수정 -->
            </div>
            <!-- //메인 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>


<%- include('../ejs/moBar.ejs', { }) %>