 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 메인 콘텐츠 영역 -->
            <div class="memberPageArea">
                <!-- KB 2024-10-24 수정 -->
                <p class="memberTitle loginTitle">
                    아이디 찾기
                </p>
                <!--// KB 2024-10-24 수정 -->
                <p class="memberDesc">
                    본인 인증 완료 후 아이디를 찾을 수 있습니다.
                </p>

                <div class="resultArea">
                    <div class="inner">
                        <!--2024.10.09 조회결과 유-->
                        <div class="result">
                            <p>회원님의 아이디입니다.</p>
                            <p class="idRst">
                                a1234!@34
                            </p>
                        </div>
                        <!--2024.10.09 조회결과 무-->
                        <!-- <div class="result">
                            <p>조회 결과 일치하는 정보가 없습니다.<br>다시 한번 확인해 주세요.</p>
                        </div> -->
                    </div>
                </div>
                <div class="cptBtnForm">
                    <button type="button" class="btn prmy">로그인 하기</button>
                </div>

                <div class="pwOption">
                    <a href="#none" class="recom">비밀번호를 잊으셨나요?</a>
                    <a href="#none" class="pwSch">비밀번호 찾기</a>
                </div>
            </div>
            <!-- //메인 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

<%- include('../ejs/moBar.ejs', { }) %>