<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<button type="button" onclick="popOpen('clause01')" style="border:1px solid #dfdfdf; border-radius:5px; line-height:35px; padding:0 20px; text-align:center; font-size:14px; font-weight:bold;">공통팝업 열기</button>
<div class="modPopup type01" id="clause01">
    <div class="popupDim">딤 영역</div>
    <div class="popupBox sm"><!--2024.09.24 팝업사이즈 표기 필수 sm (작은사이즈), lg(큰사이즈)-->
        <!-- 팝업 타이틀 -->
        <div class="popTitArea">
            <div class="tit">비밀번호 변경 안내</div>
            <button class="closeBtn" onclick="popClose('clause01')">팝업 닫기</button>
        </div>

        <!-- 팝업 컨텐츠 -->
        <div class="popContArea">
            <p class="withBox">
                회원님의 개인정보보호를 위해<br>
                90일 이상 비밀번호를 변경하지 않은 경우<br>
                비밀번호 변경을 안내하고 있습니다.
            </p>
        </div>

        <!-- 팝업 버튼 -->
        <div class="popBtnArea">
            <button type="button" class="popBtn sub" onclick="popClose('clause01')">다음에</button>
            <button type="button" class="popBtn main" onclick="popClose('clause01')">비밀번호 변경</button>
        </div>
    </div>
</div>

<%- include('../ejs/bottom.ejs', { }) %>
