 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">

            <!-- 메인 콘텐츠 영역 -->
            <div class="memberPageArea register regiComp">
                <span class="ico"><span class="hidden">회원가입완료</span></span>
                <p class="tit">회원가입 완료</p>
                <p class="desc">
                    축하합니다! 회원가입을 성공적으로 완료되었습니다.<br>
                    이제부터 Btv 우리동네광고의 서비스를 이용할 수 있습니다.
                </p>

                <!--케이스별 구분 필요-->
                <!--모든 항목 동의 경우-->
                <p class="desc">
                    서비스 이용 쿠폰이 발급되었습니다.
                </p>

                <!--일부항목 동의하지 않은 경우 안내 문구 처리 필요-->
                <!-- <p class="desc">
                    Btv우리동네광고의 마케팅 정보 수신을 거부하셨습니다.
                    [마이페이지 > 회원정보] 메뉴에서 마케팅 수신 정보 동의 설정을 변경하실 수 있습니다.
                </p> -->

                <div class="cptBtnForm">
                    <button type="button" class="btn scnd">메인으로 가기</button>
                    <button type="button" class="btn prmy">로그인 하기</button>
                </div>
            </div>
            <!-- //메인 콘텐츠 영역 -->

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

<%- include('../ejs/moBar.ejs', { }) %>