/*회원페이지*/
.cptMember {
    /*공통*/
    width:100%; max-width:900px; margin:0 auto; padding: 60px; background:var(--bg3); border-radius:24px;
    &.ty01 {
        max-width:540px; padding:60px 70px;
    }
    
    @include media ('mobile') { 
        width:calc(100% - 40px); max-width:100%; padding: 40px; 

        &.ty01 {
            max-width:100%; padding:40px;
        }   
    }

    &-process {
        max-width:900px; margin:0px auto 50px; padding-top:20px;
        @include media ('tablet') {
            width:100%;
        }
        > ul {
            display:flex; flex-flow: row nowrap; align-items: center; justify-content: center;

            > li {
                position:relative; width:max-content; padding-right:88px; display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:9px;
                @include media ('mobile') {
                    padding-right:20px;
                }
                &::after {
                    content:''; position:absolute; top:50%; right:14px; width:60px; height:2px; background:var(--tbg3); transform:translateY(-50%);
                    @include media ('mobile') {
                        width:10px; right:4px;
                    }
                }

                &:last-of-type {
                    padding-right:0;

                    &::after {
                        display:none;
                    }
                }

                > .step {
                    display:inline-block; width:40px; height:40px; background:var(--tbg3); border-radius:50%; font-size:20px; color:var(--bg3); font-weight:600; text-align:center; line-height:40px;
                    @include media ('mobile') {
                        width:30px; height:30px; line-height:30px; font-size:18px;
                    }
                    & + span {
                        font-size:18px; color:var(--tbg2); font-weight:700;
                        @include media ('mobile') {
                            font-size:16px; display:none;
                        }
                    }
                }

                &.ongoing {
                    > .step {
                        background:var(--prm1);
    
                        & + span {
                            color:var(--prm1);
                            @include media ('mobile') {
                                display:block;
                            }
                        }
                    }
                }

                &.complete {
                    > .step {
                        background:var(--prm1) url(../../common/images/sub/ico_process_chk.svg)50% 50% no-repeat; text-indent:-99999px;
    
                        & + span {
                            color:var(--tbg2);
                            @include media ('mobile') {
                                display:none;
                            }
                        }
                    }
                }
            }
        }
    }
    
    > .title {
        font-size:36px; color:var(--t1); font-weight:800; text-align:center;
        @include media ('mobile') {
            font-size:26px; word-break:keep-all;
        }
    }

    > .desc {
        font-size:18px; color:var(--t1); font-weight:500; line-height:1.5; margin:14px 0 50px; text-align:center;

        @include media ('mobile') {
            font-size:16px; word-break:keep-all;
        }

        &.withInfo {
            margin:14px 0 0 0 ;
        }

        & + .desc02 {
            margin:8px 0 50px; font-size:16px; color:var(--tbg1); font-weight:400; line-height:1.5; text-align:center;
            @include media ('mobile') {
                font-size:14px; word-break:keep-all;
            }
        }

        > span {
            display:block; margin-top:8px;
        }
    }

    > .cptAccordion {margin-top:14px;}
    /*로그인 페이지*/
    .loginBox {
        > .title {
            font-size:36px; color:var(--t1); font-weight:800; text-align:center;
            @include media ('mobile') {
                font-size:34px;
            }
        }
    
        > .desc {
            font-size:18px; color:var(--t1); font-weight:500; line-height:1.5; margin:14px 0 30px; text-align:center;
            @include media ('mobile') {
                font-size:16px;
            }
        }
    }

    .loginOption {
        display:flex; flex-flow: row nowrap; align-items: center ;justify-content: space-between; margin:16px 0 40px;

        > .options { 
            display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:16px;

            > a {
                width:max-content; font-size:16px; color:var(--prm3); font-weight:400; position:relative; display:inline-block; 

                &:first-of-type {
                    padding-right:16px; 
                    &::after {
                        content:''; position:absolute; top:50%; right:0; width:1px; height:12px; background:var(--lbg1); transform:translateY(-50%);
                    }
                }
            }
        }
    }

    .loginBtn {
        > button {
            width:100%; padding: 0 50px; background:var(--prm1); text-align:center; height:60px; line-height:60px; color:var(--bg3); font-size:18px; font-weight:600; border-radius:90px;

            &:disabled {
                background:var(--bg2); color:var(--tbg3);
            }
        }

        > p {
            font-size:18px; color:var(--tbg1); font-weight:400; text-align:center; margin:24px 0 20px;

            & + div {
                display:flex; flex-flow: row nowrap; align-items: center; justify-content: center; gap:20px; padding-bottom:24px; border-bottom:1px solid var(--l1);

                > a {
                    display:inline-block; position:relative; width:60px; height:60px;

                    &:first-of-type { background:url(../../common/images/sub/ico_naver.svg)50% 50% no-repeat;}

                    &:last-of-type {background:url(../../common/images/sub/ico_kakao.svg)50% 50% no-repeat;}

                }
            }
        }
    }

    .goMember {
        width:100%; margin-top:24px; display:flex; flex-flow:row nowrap; align-items: center; justify-content: center; gap:14px; 

        > p {
            font-size:16px; color:var(--prm3); font-weight:400;
        }

        > a {
            display:inline-block; font-size:16px; color:var(--prm1); width:max-content; font-weight:500; position:relative;

            &::before {
                content:''; position:absolute; bottom:2px; left:0; width:100%; height:1px; background:var(--prm1);
            }
        }
    }

    /*아이디찾기*/
    .authBox {
        width:100%; display:flex; flex-flow: row nowrap; align-items: center; justify-content: center; gap:16px; margin-bottom:50px;
        @include media ('tablet') {
            flex-flow:column; 
        }
        > a {
            width:382px; border:1px solid var(--lbg1); border-radius:14px; padding:40px 120px 40px 40px; position:relative;
            @include media ('mobile') {
                width:100%; padding:20px ;
            }
            > .title {
                font-size:18px; color:var(--t1); font-weight:700; margin-bottom:8px;
            }

            > .desc {
                font-size:16px; color:var(--prm3); font-weight:400;line-height:1.5;
            }

            @media (hover: hover) {   
                &:hover {
                    border:3px solid var(--snd1); box-sizing: border-box; padding:37px 118px 37px 38px;
                    &::after {
                        bottom:37px; right:38px;
                    }
                }
            }
        }

        .phone {
            &::after {
                content:''; position:absolute; bottom:40px; right:40px; width:80px; height:80px; background:url(../../common/images/sub/ico_auth_phone.svg)50% 50% no-repeat;
                @include media ('mobile') {
                    bottom:20px; right:20px; width:60px; height:60px; background-size:100% 100%;
                }
                @include media ('mobileDeep'){
                    width:40px; height:40px;
                }
            }
        }

        .ipin {
            &::after {
                content:''; position:absolute; bottom:40px; right:40px; width:80px; height:80px; background:url(../../common/images/sub/ico_auth_ipin.svg)50% 50% no-repeat;
                @include media ('mobile') {
                    bottom:20px; right:20px; width:60px; height:60px;  background-size:100% 100%;
                }
                @include media ('mobileDeep'){
                    width:40px; height:40px;
                }
            }
        }
    }

    /*비밀번호 찾기*/

    .cptForm.forAuth {
        width:350px; margin:0 auto 30px;
        @include media ('mobile') {
            width:100%; 
        }
        & + .comButton {
            margin-bottom:24px;
            button {
                width:auto !important;
            }
        }
    }
    
    /*아이디찾기 - 결과*/
    .resultBox {
        width:100%; position:relative; border:1px solid var(--lbg1); border-radius:20px; margin:50px 0; padding:60px 40px;
        @include media ('mobile'){
            min-height:auto;
        }
        &.round {
            border:0; border-radius:50%; margin:40px auto 40px; padding:0; width:240px; height:240px; background: var(--bg1);
            @include media ('mobile'){
                width:150px; height:150px;
            }
            > .symbol {
                position:absolute; top:50%; left:50%; transform: translate(-50%,-50%);
                @include media ('mobile'){
                    img {max-width:100%;}
                }
            }
        }
        > .resultValue {
            font-size:26px; color:var(--t1); font-weight:700; text-align:center;

            &:not(:first-of-type) {
                margin-top:10px;
            }
        }
    }

    /*비밀번호 재설정*/
    .resetArea {
        width:100%; display:flex; flex-flow: row nowrap; align-items: flex-start; justify-content: flex-start; gap:40px; margin-top:50px;
        @include media ('mobile') {
            flex-flow: column; gap:20px;
        }
        > .leftArea {
            padding-right:40px; border-right:1px solid #eee;
            @include media ('mobile') {
                padding-right:0; border-right:0;
            }
            .comButton {
                margin-top:30px;

                button {
                    width:100%;
                }

                &:last-of-type {
                    margin-top:16px;
                }
            }
        }
        
        .rightArea {
            width:397px;
            @include media ('mobile') {
                width:100%;
            }
            .inner {
                background:#f8f9fa; padding:26px; border-radius:12px;
                @include media ('mobile') {
                    padding:16px;
                }

                > .title {
                    position:relative; padding-left:24px; font-size:16px; color:var(--prm3); font-weight:700; line-height:1.5; margin-bottom:14px;

                    &::before {
                        content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:18px; height:18px; background:url(../../common/images/sub/ico_exclamatory.svg)50% 50% no-repeat;
                    }
                }

                > ul {
                    display:flex; flex-flow:column; align-items: flex-start; justify-content: flex-start; gap:10px;

                    > li {
                        padding-left:9px; position:relative; font-size:16px; color:var(--prm3); font-weight:400;  word-break:keep-all;

                        &::before {
                            content:''; position:absolute; top:8px; left:0; width:4px; height:4px; border-radius:50%; background:var(--tbg3);
                        }
                    }
                }
            }
        }
    }
    
    /*회원가입*/
    /*체육인 자격조회*/
    .chkQualification {
        width:100%; border-radius:14px; border:1px solid var(--lbg1); padding:40px;
        @include media ('mobile') {
            padding:20px;
        }
        > .inner {
            width:100%; max-width:350px; margin:0 auto;
            @include media ('mobile') {
                max-width:100%;
            }
            > .comButton {
                margin-top:30px;
            }
        }
    }

    .chkResult {
        width:100%; position:relative; margin-top:40px;
        .title {
            font-size:18px; color:var(--t1); font-weight:700; margin-bottom:16px;
            @include media ('mobile') {
                font-size:16px;
            }
        }

        .noData {
            font-size:16px; color:var(--t1); font-weight:400; line-height:1.5;
            @include media ('mobile') {
                font-size:14px;
            }
            > span {
                display:inline-block; margin-top:8px;
            }
        }
    }

    .qualResult {
        width:100%; position:relative; padding:14px 0; margin:30px 0; background:var(--bg7); border-radius:14px;
        @include media ('mobile') {
            padding:14px;
        }
        .msgBox {
            > p {
                font-size:16px; color:var(--prm1); font-weight:400; line-height:1.5; text-align:center;
                @include media ('mobile') {
                    font-size:14px;
                }
                > span {
                    font-weight:700;
                }
            }
        }
    }
    /*회원정보 입력 페이지*/
    .spoInfoArea {
        width:100%; position:relative; padding:20px 40px; border:1px solid var(--lbg1); border-radius:14px; margin-bottom:16px; margin-top:50px; background:var(--bg3);
        display:flex; flex-flow: column; align-items: flex-start; justify-content: flex-start;
        @include media ('mobile') {
            padding:20px;
        }
        > div {
            width:100%; display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;
            @include media ('mobile') {
                flex-flow:column;
            }
            > div {
                width:50%; display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;
                @include media ('mobile') {
                    flex-flow:column; width:100%;
                }

                > .infoTit {
                    width:130px;
                    @include media ('mobile') {
                        width:100%; margin-bottom:5px;
                    }

                    > p {
                        font-size:16px; color:var(--t1); font-weight:700; line-height:50px;
                        @include media ('mobile') {
                            font-size:14px; line-height:22px;
                        }
                    }
                }

                > .infoData {
                    width:calc(100% - 130px);
                    @include media ('mobile') {
                        width:100%; margin-bottom:10px; border-bottom: 1px solid var(--lbg1); padding-bottom:10px;
                    }

                    > p {
                        padding:0 14px; font-size:16px; color:var(--t1); font-weight:400; line-height:50px;
                        @include media ('mobile') {
                            padding:0; font-size:16px; line-height:22px;
                        }
                    }
                }
            }
        }

        &.guardian {
            margin-top:16px;
        }
    }

    .infoIptArea {
        width:100%; position:relative; padding:60px 130px; border:1px solid var(--lbg1); border-radius:14px;
        @include media ('mobile') {
            padding: 20px;
        }
        > div:first-of-type {
            border-bottom:1px solid #eee; padding-bottom:16px; margin-bottom:30px;
        }
    }
}


/*공통없이 일회성 용*/
.cptEtc {
    .dataView {
        border:1px solid #eee; border-radius:8px; padding:24px;
        @include media ('mobile') {
            padding:10px;
        }
        > p {
            font-size:16px; color:var(--t1); font-weight:500; line-height:1.5; text-align:center;
            @include media ('mobile') {
                font-size:14px;
            }
        }
    }
}

/*===============================================================================*/
/*===============================================================================*/
/*===============================================================================*/

/*마이페이지*/

.cptMyPage {
    width:100%; position:relative;

    /*타이틀 요소*/
    .mpTitle {
        font-size:24px; color:var(--t1); font-weight:800; margin-bottom:40px;
        @include media ('mobile') {
            text-align:center;
        }
        > span.innerDesc {
            display:block; margin-top:10px; font-size:18px; color:var(--prm3); font-weight:500; line-height:1.5; word-break:keep-all;
            @include media ('mobile') {
                text-align:center;
            }
        }
    }

    .mptbTitle {
        font-size:18px; color:var(--t1); font-weight:700; margin-bottom:16px;
        &:not(:first-of-type) {
            margin-top:40px;
        }

        &.flex {
            display:flex; flex-flow: row nowrap; align-items: center ;justify-content: space-between;

            .ico01 {
                widtH:20px; height:20px;
            }
        }
    }

    .staticBox {
        width:100%;

        > ul {
            display:flex; flex-flow: row nowrap; align-items: flex-start; justify-content: flex-start; gap:6px;
            @include media ('tablet') {
                flex-flow:wrap;
            }
            > li {
                width:calc(25% - 3px); background:var(--prm3); padding: 24px 30px;
                @include media ('tablet') {
                    width:calc(50% - 3px); padding:20px 18px;
                }
                > p {
                    text-align:center; 
                    &.title {
                        font-size:16px; color:var(--bg3); font-weight:700;
                    }
                    &.count {
                        font-size:24px; color:var(--snd1); font-weight:800; margin: 16px 0 22px; letter-spacing:-0.48px;
                    }
                    &.detail {
                        font-size:16px; color:var(--bg3); font-weight:700; line-height:40px; height:40px; background:rgba(0,0,0,0.2); border-radius:8px;
                    }
                }

                &:first-of-type {border-radius:24px 0 0 0;}
                &:last-of-type {border-radius:0 0 24px 0;}
            }
        }
    }

    .dataGroup {
        width:100%; position:relative;

        .areaGroup {
            width:100%; margin-top:40px;
            > .titleArea {
                width:100%; display:flex; flex-flow:row nowrap; align-items: center; justify-content: space-between; margin-bottom:16px;
                > a {
                    display:inline-block; position:relative; font-size:18px; color:var(--t1); font-weight:700; padding-right:27px;
                    > span {
                        color:var(--prm1);
                    }

                    &::after {
                        content:''; position:absolute; top:50%; right:0; transform:translateY(-50%); width:22px; height:22px; border-radius:50%; background:#D5DAE4 url(../../common/images/sub/ico_more_plus.svg)50% 50% no-repeat;
                    }
                }

                > p {
                    display:inline-block; position:relative; font-size:18px; color:var(--t1); font-weight:700; padding-right:27px;
                }
            }
        }
    }

    .certificate {
        width:100%; position:relative; margin-top:40px;

        > .title {
            font-size:18px; color:var(--t1); font-weight:700; margin-bottom:16px;
        }

        > ul {
            display:flex; flex-flow: row nowrap; align-items: center ;justify-content: flex-start; gap:14px;
            @include media ('mobile') {
                flex-flow:column; gap:12px;
            }
            > li {
                width:calc(50% - 7px); padding:30px 40px; border:1px solid var(--lbg1); border-radius:14px; display:flex;flex-flow: row nowrap; align-items: center ;justify-content: space-between;
                @include media ('mobile') {
                    width:100%; padding:26px;
                }
                > p {
                    padding-left:32px; font-size:18px; color:var(--t1); font-weight:700; position:relative;
                    @include media ('mobile') {
                        padding-left:0;
                    }
                    &::before {
                        content:''; position:absolute; top:50%; left:0; width:26px; height:26px; transform:translateY(-50%); background:url(../../common/images/sub/ico_certi01.svg)50% 50% no-repeat;
                        @include media ('mobile') {
                            display:none;
                        }
                    }
                }

                &:last-of-type {
                    > p {
                        &::before {
                            background:url(../../common/images/sub/ico_certi02.svg)50% 50% no-repeat;
                        }
                    }
                }
            }
        }
    }

    .completeInner {
        text-align:center; padding: 40px 0;

        .title {
            font-size:36px; color:var(--t1); font-weight:800; line-height:1.2; margin-bottom:14px; word-break:keep-all;
        }

        .desc {
            font-size:18px; color:var(--t1); font-weight:500; line-height:1.5;
            > span {
                color:var(--prm1); font-weight:700;
            }
        }

        .icoBox {
            width:240px; height:240px; margin:50px auto; background:var(--bg1); border-radius:50%; position:relative;
            > img {
                position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
            }
        }
    }

    /*상단 금액*/
    .priceOption {
        display:flex; flex-flow: row nowrap; align-items: center ;justify-content: space-between; margin:40px 0 24px;
        @include media ('mobile') {
            flex-flow:column; gap:16px; align-items: flex-start;
        }
        > p {
            font-size:18px; color:var(--t1); font-weight:600;
            > span {
                display:inline-block; margin-left:14px; font-size:32px; color:#F29600; vertical-align:middle;
                @include media ('mobile') {
                    display:block; margin:0;
                }
                > span {
                    display:inline-block; vertical-align:middle; font-size:18px; color:var(--t1); font-weight:600;
                }
            }
        }
    }

    .filter {
        padding :14px 20px; background:var(--bg1); border-radius:10px; display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; margin-bottom:24px;
        @include media ('mobile'){
            flex-flow:column; gap:14px; align-items: flex-start;
        }
        > .dateArea {
            display:flex; flex-flow: row nowrap; align-items:center; justify-content: flex-start; gap:16px;
            @include media ('mobile'){
                flex-flow:column; gap:14px; align-items: flex-start;
            }
            > p {
                font-size:16px; color:var(--t1); font-weight:700; line-height:1.5; white-space:nowrap;
            }
        }

        .frmGroup {min-height:auto;}
    }

    .certInfo {
        width:100%; position:relative; padding:50px; background:var(--bg1) url(../../common/images/sub/img_cert01.svg)bottom 50px right 50px no-repeat; border-radius:30px 0; margin-bottom:40px;
        &.cert02 {
            background:var(--bg1) url(../../common/images/sub/img_cert02.svg)bottom 50px right 50px no-repeat;
        }
        @include media('tablet02') {
            background:var(--bg1); margin-top:24px; padding:30px;
            &.cert02 {
                background:var(--bg1);    
            }
        }

        > p.title {
            font-size:26px; color:var(--t1); font-weight:700;
        }

        > p.desc {
            font-size:16px; color:var(--t1); font-weight:400; line-height:1.5; margin:10px 0 14px;
        }
        
        > p.caution {
            font-size:16px; color:var(--prm1); font-weight:400; margin-bottom:24px;
            > span {
                display:inline-block; margin-top:5px;
            }
        }

        > p {
            @include media('tablet02') {
                text-align:center; word-break:keep-all;
            }
        }

        >.comButton {
            align-items: flex-start; justify-content: flex-start;
            @include media('mobile') {
                align-items: center; justify-content: center;
            }
        }
    }

    .qualResult {
        width:100%; position:relative; padding:14px 0; margin:30px 0; background:var(--bg7); border-radius:14px;
        @include media ('mobile') {
            padding:14px;
        }
        .msgBox {
            > p {
                font-size:16px; color:var(--prm1); font-weight:400; line-height:1.5; text-align:center;
                @include media ('mobile') {
                    font-size:14px;
                }
                > span {
                    font-weight:700;
                }
            }
        }
    }

    .personalAuth {
        width:100%; padding :40px 0; border:1px solid var(--lbg1); border-radius:20px; position:relative; margin-bottom:40px;
        
        @include media ('mobile') {
            padding: 40px;
        }
        
        > .inner {
            width:514px; margin:0 auto;

            &.ty02 {
                width:384px;
            }
            @include media ('mobile') {
                width:100%;
            }

            > .cptForm {
                &:not(:first-of-type) {
                    margin-top:10px;
                }

                @include media ('mobile') {
                    .comButton {width:120px;}
                }
            }
        }
    }
}

/*본인인증 팝업 용*/
.popAuthBox {
    width:100%; position:relative;

    > .title {
        font-size:32px; color:var(--t1); font-weight:800; text-align:center; margin-bottom:14px;
    }

    > .desc {
        font-size:18px; color:var(--t1); font-weight:500; line-height:1.5; text-align:center; margin-bottom:30px;
    }

    > .authOption {
        width:100%; position:relative;

        > ul {
            display:flex; flex-flow: row nowrap; align-items: center ; justify-content: center; gap:16px;

            @include media ('mobile') {
                flex-flow:column;
            }
            > li {
                width:calc(50% - 8px);
                @include media ('mobile') {
                    width:100%;
                }   
                > a {
                    position:relative; display:block; padding:40px 125px 40px 40px; border:1px solid var(--lbg1); border-radius:14px;
                    
                    > .optTit {
                        font-size:18px; color:var(--t1); font-weight:700; margin-bottom:8px;
                    }

                    > .optDesc {
                        font-size:16px; color:var(--prm3); font-weight:400; line-height:1.5;
                    }

                    &:hover {
                        border:3px solid var(--snd1); padding:38px 123px 38px 38px;
                        
                    }
                }

                &:first-of-type {
                    > a {
                        &::after {
                            content:''; position:absolute; bottom:40px; right:40px; width:80px; height:80px; background:url(../../common/images/sub/ico_auth_phone.svg)50% 50% no-repeat;
                            @include media ('mobile') {
                                bottom:auto; top:50%; right:40px; transform:translateY(-50%);
                            }
                        }

                        &:hover {
                            &::after {
                                bottom:38px; right:38px;
                                @include media ('mobile') {
                                    bottom:auto; right:38px;
                                }
                            }
                        }
                    }
                }

                &:last-of-type {
                    > a {
                        &::after {
                            content:''; position:absolute; bottom:40px; right:40px; width:80px; height:80px; background:url(../../common/images/sub/ico_auth_ipin.svg)50% 50% no-repeat;
                            @include media ('mobile') {
                                bottom:auto; top:50%; right:40px; transform:translateY(-50%);
                            }
                        }

                        &:hover {
                            &::after {
                                bottom:38px; right:38px;
                                @include media ('mobile') {
                                    bottom:auto; right:38px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .idResult {
        border:1px solid var(--lbg1); border-radius:20px; padding: 40px 36px;
        > ul {
            display:flex; flex-flow: column; align-items: center ; justify-content: center; gap:20px;

            > li {
                width:max-content;
            }
        }
    }
}

/*에러페이지*/
.cptMidCont {
    width:100%; height:100%; position:relative; background:var(--bg1);

    > .innerBox {
        width:100%; height:100%; position:relative;

        > .contBox {
            position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:900px;

            @include media ('tablet') {
                width:93.75%;
            }

            > .logoArea {
                width:100%; text-align:center; margin-bottom:40px;

                > img {display:inline;}
            }

            > .contInnerArea {
                width:100%; padding:60px; background:var(--bg3); border-radius:24px;

                > .error_icon {
                    display:block; text-align:center; margin-bottom:10px;

                    > img {
                        display:inline;
                    }
                }

                > .txt {
                    font-size:18px; color:var(--t1); font-weight:500; line-height:1.5; text-align:center;  margin-bottom:50px;

                    > .hglt {
                        display:block; margin-top:8px; color:var(--snd3);
                    }
                }
            }
        }

        > .cpRyt {
            position:absolute; bottom:40px; left:50%; transform:translateX(-50%); width:max-content;
            
            > .inner {
                display:flex; flex-flow: row nowrap; align-items: baseline; justify-content: flex-start; gap:9px;
                
                @include media ('mobile') {
                    flex-flow:column; align-items:center; 
                }

                span {
                    font-size:16px; color:var(--tbg1); font-weight:400; line-height:1.5;
                }
            }
        }
    }
}

/*2024.12.20 회원관련 페이지 레이아웃 정의*/
.memberTop {
    width:100%; position:relative; padding-top:140px; text-align:center;

    > img {
        display:inline;
    }
}

.memberBot {
    width:100%; position:relative; padding-bottom:40px;
    > .inner {
        display:flex; flex-flow: row nowrap; align-items: baseline; justify-content: center; gap:9px;
        
        @include media ('mobile') {
            flex-flow:column; align-items:center; 
        }

        span {
            font-size:16px; color:var(--tbg1); font-weight:400; line-height:1.5;
        }
    }
}