.cptLnb {
    width:100%; position:relative; 
    > .inner {
        @include media ('tablet') {
            display:none;
        }
        > .titleArea {
            width:100%; padding:50px 0 84px; background:var(--prm1); border-radius:40px 0 0 0 ;
            > h2 {
                font-size:26px; color:var(--bg3); font-weight:700; line-height:1.4; text-align:center;
            }
        }

        >.menuBox {
            width:100%; position:relative; margin-top: -34px; background:var(--bg3); border-radius:34px 0 34px 34px ; padding:20px 30px; border:1px solid #DEE2EA; border-top:0;

            > ul {
                display:flex; flex-flow: column; align-items: flex-start; justify-content: flex-start;

                > li {
                    width:100%;
                    > h3 {
                        > a {
                            position:relative; width:100%; display:block; padding:14px 30px 14px 0; font-size:18px; color:#000; font-weight:700; border-bottom:1px solid #DEE2EA; transition:all 0.4s;

                            &::after {
                                content:''; position:absolute; top:50%; right:0; width:0px; height:20px; transform:translateY(-50%); background:url(../../images/common/ico_lnb_on.svg); transition:all 0.4s;
                            }

                            &:hover {
                                color:var(--prm1); border-bottom:1px solid var(--prm1);
                                &::after {
                                    width:20px; transform:translateY(-50%) rotate(360deg);
                                }
                            }
                        }
                    }
                    &.active {
                        > h3 {
                            > a {
                                color:var(--prm1); border-bottom:1px solid var(--prm1);
                                &::after {
                                    width:20px;
                                }
                                &:hover {
                                    &::after {
                                        width:20px; transform:translateY(-50%) rotate(0deg);
                                    }
                                }
                            }
                        }
                    }
                    &:last-of-type {
                        > h3 {
                            > a {
                                border-bottom:0 !important;
                            }
                        }
                    }
                    > .depth3Group {
                        padding:20px 8px; border-bottom:1px solid #DEE2EA;
                        > li {
                            width:100%; margin-bottom:12px;
                            > h4 {
                                > a {
                                    display:block; width:max-content; padding-left:9px; position:relative; font-size:16px; color:var(--prm3); font-weight:500; line-height:1.5;

                                    &::before {
                                        content:''; position:absolute; top:50%; left:0; width:4px; height:4px; border-radius:50%; background:#DEE2EA; transform:translateY(-50%); transition:all 0.2s;
                                    } 
                                    &::after {
                                        content:''; position:absolute; bottom:0; left:9px; width:0; height:2px; background:var(--prm1); transition:all 0.2s
                                    }

                                    &:hover {
                                        color:var(--prm1);
                                        &::before {
                                            background:var(--prm1);
                                        }
                                        &::after {
                                            width:calc(100% - 9px);
                                        }
                                    }
                                }
                            }

                            &.active {
                                a {
                                    color:var(--prm1);
                                    &::before {
                                        background:var(--prm1);
                                    }
                                    &::after {
                                        width:calc(100% - 9px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .moInner {
        display:none;
        @include media ('tablet') {
            display:block;
        }

        .subMenuBox {
            display:flex; flex-flow: row nowrap; align-items: flex-start ;justify-content: flex-start;
            &.active {
                .depth01 {
                    button {
                        h2 {
                            &::after {
                                display:none;
                            }
                        }
                    }
                }
            }
            > div {
                width:50%; position:relative;
                > button {
                    background:var(--bg1); padding: 11px 20px; width:100%; border-left:1px solid var(--bg1); border-right:1px solid var(--bg1);
                    > h2,h3 {
                        font-size:16px; color:var(--prm3); font-weight:500; line-height:22px; text-align:left;
                    }

                    &::after {
                        content:''; position:absolute; top:50%; right:20px; transform:translateY(-50%); width:20px; height:20px; background:url(../../images/common/ico_sub_drop.svg)50% 50% no-repeat;
                    }

                    &.active {
                        &::after {
                            transform:translateY(-50%) rotate(180deg);
                        }
                    }
                }

                &.depth01 {
                    button {
                        h2 {
                            &::after {
                                content:''; position:absolute; top:50%; right:0; width:1px; height:16px; background:var(--lbg1); transform:translateY(-50%);
                            }
                        }
                    }
                }

                &.active {
                    button {
                        background:var(--bg1); border-left:1px solid var(--lbg1); border-right:1px solid var(--lbg1);
                    }
                }

                > div {
                    display:none; position:absolute; top:100%; left:0; width:100%; background:var(--bg1); border-radius:0 0 6px 6px; padding:10px 20px 20px 20px; z-index:2; border:1px solid var(--lbg1); border-top:0;

                    .inner {
                        > ul {
                            display:flex; flex-flow: column; align-items: flex-start; justify-content: flex-start; gap:10px;
                            > li {
                                a {
                                    position:relative; display:inline-block; width:max-content; font-size:16px; color:var(--prm3); font-weight:400; line-height:1.4;
                                    &:hover {
                                        color:var(--prm1); font-weight:600;
                                    }
                                }

                                &.active {
                                    a {
                                        color:var(--prm1); font-weight:600;
                                        &::after {
                                            content:''; position:absolute; bottom:2px; left:0; width:100%; height:2px; background:var(--prm1);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.cptSubTop {
    width:100%; position:relative; margin-bottom:40px;
    @include media ('tablet') {
        margin:30px auto;
    }
    > .inner {
        width:100%;

        > .titleArea {
            width:100%; display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; padding-bottom:24px; border-bottom:1px solid #DEE2EA;
            @include media ('tablet') {
                display:block; padding-bottom:0; border-bottom:0;
            }
            > p.pageTitle {
                font-size:32px; color:var(--prm3); font-weight:800; line-height:1.4; letter-spacing:-0.064px;
                @include media ('tablet') {
                    text-align:center; font-size:26px;
                }
            }

            > .breadCrumb {
                @include media ('tablet') {
                    display:none;
                }
                > ul {
                    display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:5px;

                    > li {
                        > .home {
                            display:block; width:20px; height:20px; background:url(../../images/common/ico_bread_home.svg)50% 50% no-repeat;
                        }
                        &.nxtArr {
                            > span {
                                display:block; width:20px; height:20px; background: url(../../images/common/ico_bread_arr.svg)50% 50% no-repeat;
                            }
                        }
                        > a.depthTxt {
                            display:block; width:max-content; font-size:14px; color:var(--prm3); font-weight:500; line-height:1.4;
                        }
                    }
                }
            }
        }
    }
}