
.mainCont01 {
    width:100%; max-width:1920px; margin:0 auto; position:relative; z-index:1;

    > .mainVisual {
        width:100%; position:relative; border-radius: 0 0 0 250px; background:var(--bg3); overflow:hidden;
        @include media ('tablet03') {
            border-radius:0;
        }
        .swiper-wrapper {
            .swiper-slide {
                &.pc {
                    display:block;
                    @include media ('tablet02') {
                        display:none;
                    }
                }

                &.mo {
                    display:none;
                    @include media ('tablet02') {
                        display:block;
                    }
                }
                height:600px; overflow:hidden;
                @include media ('tablet02') {
                    height:auto;
                }
                img {
                    position:absolute; top:50%; left:50%; width:1920px; height:100%; transform:translate(-50%,-50%);
                    @include media ('tablet03') {
                        position:relative;
                    }
                    @include media ('tablet02') {
                        width:100%; 
                    }
                }
                @include media ('tablet03') {
                    border-radius:0;
                }
            }
        }
        > .pagination_container {
            position:absolute; bottom:206px; left:50%; transform:translateX(-50%); display: flex; align-items: center; z-index:3; gap:12px; margin-left:-485px;
            @include media ('tablet03') {
                margin-left:0;
            }
            @include media ('tablet') {
                bottom:30px; width:100%; padding: 0 20px; display:flex; flex-flow :row-reverse nowrap; align-items: center; justify-content: flex-start;
            }
            > .swiper {
                
                &-pagination1 {
                    position: relative; width: 33px; bottom: auto; font-size:16px; color:var(--bg3); font-weight:400;
                    @include media ('tablet') {
                        white-space:nowrap;
                    }
                    .swiper-pagination-current {font-weight:bold;}
                    
                }
                &-pagination2 {
                    position: relative; width: 145px; height: 2px; bottom : auto; background: rgba(217, 217, 217, 0.50);
                    @include media ('tablet') {
                        width:100%;
                    }
                    .swiper-pagination-progressbar-fill { background: var(--bg3); }
                }
            }
        }
        >.mainControl {
            position:absolute; bottom:207px; left:50%; transform:translateX(-50%); display: flex; align-items: center; z-index:3; margin-left:-350px; width:72px; height:24px;
            @include media ('tablet03') {
                display:none;
            }
            > .swiper-button-prev {
                width:24px; height:24px; top:auto; margin-top:0; left:0; right:auto;
                &::after {
                    content:''; width:24px; height:24px; background:url(../../common/images/main/visualLeft.svg)50% 50% no-repeat;
                }
            }
            > .swiper-button-playStop {
                width:24px; height:24px; position:absolute; display:flex; align-items: center; justify-content: center; left:50%; transform:translateX(-50%);
                &::after {
                    content:''; width:24px; height:24px; background:url(../../common/images/main/visualStop.svg)50% 50% no-repeat;
                }
            }
            > .swiper-button-next {
                width:24px; height:24px; top:auto; margin-top:0; left:auto; right:0;
                &::after {
                    content:''; width:24px; height:24px; background:url(../../common/images/main/visualRight.svg)50% 50% no-repeat;
                }
            }
        }
    }

    > .serviceArea {
        position:absolute; bottom:0; right:0; width:calc(50% + 640px); background:rgba(37, 47, 62, 0.80); z-index:2; padding:14px 0 14px 80px; border-radius:80px 0 0 0 ;
        @include media ('tablet03') {
            width:100%; border-radius:0; padding:20px;
        }
        @include media ('tablet') {
            position:relative; background:var(--prm3); padding:30px 20px;
        }
        .inner {
            width:100%; max-width:1280px; display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:40px;
            @include media ('tablet03') {
                display:block;
            }
            > .title {
                > p {
                    font-size:26px; color:var(--bg3); font-weight:400;
                    @include media ('tablet03') {
                        display:none;
                    }
                    span{font-weight:bold;}
                }
            }

            > .list {
                > ul {
                    display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;
                    @include media ('tablet03') {
                        flex-flow: row wrap; justify-content: space-around;
                    }
                    @include media ('mobile') {
                        gap:26px 10px; justify-content: flex-start;
                    }
                    > li {
                        @include media ('mobile') {
                            width:calc(33.3333% - 7px);
                        }
                        > a {
                            display:block; width:100%; height:100%; width:132px; height:128px; position:relative; border-radius: 20px; overflow:hidden;  text-align:center; padding:12px 0;
                            @include media ('tablet') {
                                border-radius:0;
                            }
                            > img {
                                display:inline-block; position:relative; z-index:2;
                            }
                            > span {
                                font-size:16px; color:var(--bg3); font-weight:500; z-index:2; display:block; position:relative; text-align:center; margin-top:10px;
                                @include media ('tablet03') {
                                    font-size:14px;
                                }
                            }
                            &::before {
                                content:''; position:absolute; top:50%; left:50%; width:0; height:0; background:linear-gradient(324deg, #FF8000 3.51%, #FFB348 92.03%); z-index:1; transition:all 0.2s; transform:translate(-50%,-50%);
                            }

                            &:hover {
                                &::before {
                                    width:100%; height:100%;
                                }
                                @include media ('tablet03') {
                                    &::before {
                                        display:none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mainCont02 {
    width:100%; max-width:1280px; margin:80px auto; position:relative;
    @include media ('tablet03'){
        margin:40px auto 90px; width: calc(100% - 40px);
    }

    > .title {
        position:relative; display:block; font-size:40px; color:var(--t1); font-weight:700; text-align:center; margin-bottom:60px; pointer-events: none;

        @include media ('tablet'){
            font-size:26px; width: max-content; padding-right:30px; pointer-events: all; margin-bottom:30px;
            &::after {
                content:''; position:absolute; top:50%; right:0; transform:translateY(-50%); width:26px; height:26px; background:url(../../common/images/main/ico_mo_more.svg)50% 50% no-repeat;
            }
        }
        
    }

    > .remote {
        width:100%; position:relative; display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; margin-bottom:40px;
        @include media ('tablet') {
            overflow-x:scroll;

            &::-webkit-scrollbar {display:none;}
        }
        > .leftArea {
            position:relative;

            > ul {
                display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:12px;

                > li {
                    > a {
                        display:inline-block; width:max-content; padding: 0 30px; line-height:50px; height:50px; font-size:20px; color:var(--prm3); font-weight:500; background:#EAECEF; border-radius:90px;
                        &.active {
                            background:var(--prm3); color:var(--bg3);
                        }
                    }
                }
            }
        }
        > .rightArea {
            position:relative;
            @include media ('tablet') {
                display:none;
            }
            
            > a {
                display:inline-block; position:relative; width:max-content; padding-right:18px; font-size:16px; color:var(--prm3); font-weight:500; 
                &::after {
                    content:''; position:absolute; top:50%; right:0; width:16px; height:16px; background: url(../../common/images/main/mainCont02_ico01.svg)50% 50% no-repeat; transform: translateY(-50%);
                }
            }
        }
    }

    > .supportSlide {
        position:relative;
        .supportSlideInner {
            overflow:hidden;

            > .suppSlidePg_container {
                display:none;
                @include media ('tablet') {
                    display:block; position:absolute; bottom:220px; left:50%; transform:translateX(-50%); display: flex; align-items: center; z-index:3; gap:12px; margin-left:-485px;
                    @include media ('tablet') {
                        margin-left:0;
                    }
                    @include media ('tablet') {
                        bottom:-50px; width:100%; padding: 0 20px; display:flex; flex-flow :row-reverse nowrap; align-items: center; justify-content: flex-start;
                    }
                    > .swiper {
                        
                        &-pagination01 {
                            position: relative; width: 33px; bottom: auto; font-size:16px; color:var(--prm3); font-weight:400;
                            @include media ('tablet') {
                                white-space:nowrap;
                            }
                            .swiper-pagination-current {font-weight:bold;}
                            
                        }
                        &-pagination02 {
                            position: relative; width: 145px; height: 4px; bottom : auto; background:var(--lbg1);
                            @include media ('tablet') {
                                width:100%;
                            }
                            .swiper-pagination-progressbar-fill { background: var(--prm3); }
                        }
                    }
                }
            }
        }
        .swiper-wrapper {
            > .swiper-slide {
                padding:40px; background:var(--bg3); border-radius:30px; 
                @include media ('mobile') {
                    min-height:290px;
                }
                
                .flag {
                    display:block; width:max-content; padding: 0 14px; height:30px; line-height:30px; text-align:center; font-size:14px; color:var(--bg3); text-align:center; border-radius:90px;
                    &.type01 { background:var(--prm1)}
                    &.type02 { background:var(--prm2)}
                    &.type03 { background:#752CF2}
                    &.type04 { background:#007C8A;}
                }

                .title {display:block; font-size:24px; color:var(--t1); font-weight:800; line-height:1.4; margin:14px 0 6px;}

                .desc {
                    display:block; font-size:16px; color:var(--tbg1); font-weight:400; line-height:1.5; word-break:keep-all; margin-bottom:30px;
                }

                .ammount {
                    display:block; font-size:16px; color:var(--t1); font-weight:500; line-height:1.2; text-align:right;
                    > span {
                        font-size:36px; font-weight:700;
                    }
                }

                > a {
                    display:block; width:100%; height:100%;
                }

                &:hover {
                    border:2px solid var(--prm1); padding: 38px;

                    .title {
                        color: var(--prm1);
                    }

                    .desc {
                        color: var(--prm1);
                    }

                    .ammount {
                        color: var(--prm1);
                    }
                }
            }
        }

        > .swiper-button {
            @include media ('tablet') {
                display:none;
            }
            &.prevBtn {
                position:absolute; top:50%; left:-40px; transform:translateY(-50%); width:60px; height:60px;  z-index:2;
                > a {
                    display:block; width:100%; height:100%; background:var(--prm1); border-radius:50%;
                    &::after {
                        content:''; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:60px; height:60px; background: url(../../common/images/main/suppPrev.svg)50% 50% no-repeat; z-index:2;
                    }
                }

                > .swiper-button-disabled {
                    background:var(--bg3); border:1px solid var(--lbg1); opacity:1;
                    &::after {
                        background: url(../../common/images/main/suppPrev_disabled.svg)50% 50% no-repeat; z-index:2;
                    }
                }
            }

            &.nextBtn {
                position:absolute; top:50%; right:-40px; transform:translateY(-50%); width:60px; height:60px; z-index:2;
                > a {
                    display:block; width:100%; height:100%; background:var(--prm1); border-radius:50%;
                    &::after {
                        content:''; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:60px; height:60px; background: url(../../common/images/main/suppNext.svg)50% 50% no-repeat; z-index:2;
                    }
                }

                > .swiper-button-disabled {
                    background:var(--bg3); border:1px solid var(--lbg1); opacity:1;
                    &::after {
                        background: url(../../common/images/main/suppNext_disabled.svg)50% 50% no-repeat; z-index:2;
                    }
                }
            }
        }
    }
}

.mainCont03 {
    width:100%; max-width:1280px; margin:0 auto; position:relative;

    .calendarInner {
        width:100%; position:relative; display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start;
        
        >.leftArea {
            position:relative; padding:50px 40px; background:var(--prm1); border-radius:30px 0 0 30px; width:245px; min-height:382px;

            // > .cal-pagination {
            //     display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:12px;

            //     > .swiper-pagination-bullet {
            //         width:10px; height:10px; opacity:1; background:var(--tbg3); transition:all 0.2s;
            //         &.swiper-pagination-bullet-active {
            //             background:var(--snd1); width:30px; border-radius:90px;
            //         }
            //     }
            // }

            > .title {
                font-size:36px; color:var(--bg3); font-weight:800; margin-bottom:24px;
            }

            > a {
                position:relative; display:inline-block; width:100%; padding:0 26px; height:56px; line-height:56px; font-size:16px; color:var(--bg3); font-weight:700; border-radius:30px; background:#00207D;
                &::after {
                    content:''; position:absolute; top:50%; right:24px; width:16px; height:16px; transform:translateY(-50%); background:url(../../common/images/main/cal_ico.svg)50% 50% no-repeat;
                }
            }

            &::after {
                content:''; position:absolute; bottom:-15px; left:-65px; width:198px; height:168px; background:url(../../common/images/main/calCharacter.svg)50% 50% no-repeat;
            }
        }
        > .rightArea {
            width:calc(100% - 269px); border:1px solid var(--prm1); border-radius:0 30px 30px 0; overflow:hidden;
            > .inner {
                width:100%;

                .swiper-slide {

                    .schedule {
                        display:flex; flex-flow: row nowrap; align-items: flex-start; justify-content: flex-start; padding: 0 60px; background:var(--bg3);
                        &::before {
                            content:''; position:absolute; width:100%; height:54px; border-bottom:1px solid var(--prm1); top:0; left:0;
                        }

                        > div {
                            position:relative; width:calc(100% / 6 );
                            
                            > .month {
                                width:100%; height:54px; position:relative;
                                > span {
                                    position:absolute; top:50%; left:-10px; transform:translateY(-50%); font-size:16px; color:var(--t1); line-height:54px; font-weight:700;
                                }
                            }

                            > .calBox {
                                width:100%; height:calc(382px - 54px); position:relative; padding:20px 0; background:var(--bg1); border-top:1px solid var(--prm1);
                                > .post {
                                    position:absolute; width:max-content; left:0px; z-index:3;

                                    &.type01 {
                                        padding:6px; border-radius:14px 14px 14px 0; font-size:14px; color:var(--bg3); font-weight:600; text-align:left; background:var(--prm1); 
                                    }

                                    &.type02 {
                                        padding:6px 14px; border-radius:10px 10px 10px 0; font-size:16px; color:var(--bg3); font-weight:700; text-align:left; background:var(--snd2);

                                        > span {
                                            display:block; font-size:16px; color:var(--bg3); font-weight:700; line-height:1.5;
                                        }
                                    }

                                    &.alltime {
                                        width:600% !important; display:flex; flex-flow: row nowrap; align-items: center ;justify-content: flex-start; gap:24px;

                                        .atFlag {
                                            width:67px; display:inline-block; padding:4px 8px; border:1px solid var(--bg3); border-radius:8px; font-size:14px; color:var(--bg3); font-weight:700; line-height:1.2;
                                        }

                                        .atList {
                                            width:calc(100% - 67px); display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start ; gap:20px;

                                            > li {
                                                position:relative; padding-right:20px; min-width:237px;
                                                &::after {
                                                    content:''; position:absolute; top:50%; right:0; width:1px; height:36px; transform:translateY(-50%); background:rgba(255,255,255,0.4);
                                                }
                                                &:last-of-type {
                                                    padding-right:0;
                                                    &::after {display:none;}
                                                }

                                                > span {
                                                    display:block; font-size:16px; color:var(--bg3); font-weight:700; line-height:1.5;
                                                }

                                            }
                                        }
                                    }
                                    &.first {top:20px;}
                                    &.second {top:90px;}
                                    &.third {top:160px;}
                                    &.fourth {top:230px;}
                                    &.fifth {top:300px}
                                    &.sixth {top:370px}

                                    &.mon3 {width:300%}
                                }
                            }
                        }
                    }
                }
            }
        }

        &.moType {
            display:none;
        }

        @include media ('tablet') {
            &.pcType {
                display:none;
            }
            &.moType {
                display:block; padding: 20px;

                .tbtitle {
                    padding:16px 24px; position:relative; border-radius:0 30px 0 0; background:var(--prm1);
                    > p {
                        font-size:20px; color:var(--bg3); font-weight:700;
                    }
                    &::after {
                        content:''; position:absolute; bottom:0; right:24px; width:118px; height:90px; background:url(../../common/images/main/calcharacter_mo.svg)50% 50% no-repeat;
                    }
                }

                .mainTable {
                    height:330px; overflow-y:scroll;
                    .tbCal {
                        width:100%; border-collapse: collapse; height:330px;
                        
                        tbody {
                            tr {
                                th {
                                    text-align:center; padding:10px 0; font-size:16px; color:var(--bg3); font-weight:600; background:var(--prm3); border-bottom:1px solid var(--lbg1);
                                }

                                td {
                                    padding:16px 14px; background:var(--bg3); border-bottom:1px solid var(--lbg1);

                                    ul {
                                        display:flex; flex-flow: column; align-items: flex-start; justify-content: flex-start; gap:5px;
                                        
                                        li {
                                            padding-left:15px; position:relative; font-size:16px; color:var(--prm3); font-weight:400; line-height:1.5;

                                            &::before {
                                                content:''; position:absolute; top:50%; left:0; width:5px; height:5px; border-radius:50%; transform:translateY(-50%); background:var(--snd1);
                                            }
                                        }
                                    }
                                }

                                &:nth-of-type(even) {
                                    td {
                                        ul {
                                            li {
                                                &::before {
                                                    background:var(--prm1);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .reservAlarm {
                    width:100%; height:56px; line-height:56px; border:1px solid var(--lbg2); border-radius:90px; text-align:center; font-size:18px; color:var(--prm3); font-weight:600; background:var(--bg3); margin-top:30px;
                }
            }
        }
    }
}

.mainCont04 {
    width:100%; max-width:1920px; margin:120px auto 0;
    @include media ('tablet') {
        margin:10px auto 0;
    }
    .inner {
        width:100%; min-height:602px;  padding: 90px 0; position:relative; background:url(../../common/images/main/maincont04_img01.png)100% 100% no-repeat;
        @include media ('tablet') {
            padding:40px 20px; background-position:center top; min-height:auto; background:var(--prm3);
        }

        > p {
            font-size:32px; color:var(--bg3); font-weight:800; line-height:1; text-align:center; word-break: keep-all;
            &.line02 {
                margin-top:15px;
            }

            @include media ('tablet') {
                font-size:20px; line-height:1.4;
                &.line02 {
                    margin-top:0;
                }
            }
        }

        > .countBox {
            > ul {
                display:flex; flex-flow: row nowrap; align-items: center; justify-content: center; margin-top:50px; gap:40px;
                @include media ('tablet') {
                    margin-top:30px; flex-flow:row wrap; gap:14px;
                }
                > li {
                    background:var(--prm3); padding:40px 30px; width:290px; border-radius:30px; text-align:center;
                    @include media ('tablet03') {
                        min-height:286px;
                    }
                    @include media ('tablet') {
                        width:calc(50% - 7px); padding:24px; min-height:auto;
                    }
                    > p {
                        @include media ('tablet') {
                            font-size:16px;
                        }
                        &.txt {
                            font-size:18px; font-weight:500; color:var(--bg3);
                        }
                        &.count {
                            font-weight:800; margin:10px 0; font-size:24px; color:var(--snd1);
                            > span {
                                font-size:46px;  font-weight:700; line-height:1;
                                @include media ('tablet') {
                                    font-size:28px;
                                }
                            }
                        }   
                    }
                    > img {
                        display:inline;
                    }
                }
            }
        }
    }
}

.mainCont05 {
    width:100%; background:var(--bg3); position:relative; 
    @include media ('tablet') {
        padding: 40px 20px;
    }
    > .inner {
        width:100%; max-width:1280px; margin:0 auto; padding:60px 0;
        @include media ('tablet') {
            flex-flow :column; padding:0;
        }
        .titleArea {
            @include media ('tablet') {
                width:100%;
            }
            > p {
                font-size:40px; color:var(--t1); font-weight:700; text-align:center; margin-bottom:50px;
                @include media ('tablet') {
                    font-size:24px; text-align:center;
                    > br {
                        display:none; 
                    }
                }
                > span {
                    font-weight:700;
                    @include media ('tablet') {
                        display:inline-block; margin-right:10px;
                    }
                }
            }
        }

        .listArea {
            width:100%;
            @include media ('tablet') {
                width:100%;
            }
            .businessSlide {
                position:relative; width:100%; display:flex; flex-flow: row nowrap; align-items: center; justify-content: center; gap:55px; overflow:hidden;
                &.pc {
                    display:flex;

                    @include media ('tablet03'){
                        display:none;
                    }
                }

                &.mo {
                    display:none; width:310px; margin:0 auto; overflow:hidden;

                    @include media ('tablet03'){
                        display:block;
                    }
                }

                .bsList {
                    > a {
                        position:relative; display:block; text-align:center; font-size:18px; color:var(--t1); width:94px; padding-top:104px; line-height:1.5; font-weight:500;
                        &::after {content:''; position:absolute; top:0; left:50%; transform:translateX(-50%); width:94px; height:94px; border-radius:50%;}

                        &.ico01 {
                            &::after {
                                background:var(--bg1) url(../../common/images/main/mainCont05_ico01.svg)50% 50% no-repeat;
                            }
                        }
                        &.ico02 {
                            &::after {
                                background:var(--bg1) url(../../common/images/main/mainCont05_ico02.svg)50% 50% no-repeat;
                            }
                        }
                        &.ico03 {
                            &::after {
                                background:var(--bg1) url(../../common/images/main/mainCont05_ico03.svg)50% 50% no-repeat;
                            }
                        }
                        &.ico04 {
                            &::after {
                                background:var(--bg1) url(../../common/images/main/mainCont05_ico04.svg)50% 50% no-repeat;
                            }
                        }
                        &.ico05 {
                            &::after {
                                background:var(--bg1) url(../../common/images/main/mainCont05_ico05.svg)50% 50% no-repeat;
                            }
                        }
                        &.ico06 {
                            &::after {
                                background:var(--bg1) url(../../common/images/main/mainCont05_ico06.svg)50% 50% no-repeat;
                            }
                        }
                        &.ico07 {
                            &::after {
                                background:var(--bg1) url(../../common/images/main/mainCont05_ico07.svg)50% 50% no-repeat;
                            }
                        }
                        &.ico08 {
                            &::after {
                                background:var(--bg1) url(../../common/images/main/mainCont05_ico08.svg)50% 50% no-repeat;
                            }
                        }
                        &.ico09 {
                            &::after {
                                background:var(--bg1) url(../../common/images/main/mainCont05_ico09.svg)50% 50% no-repeat;
                            }
                        }
                    }
                }
            }

            .swiperControl {
                &.mo {
                    display:none;

                    @include media ('tablet03'){
                        display:block;
                    }
                }
                .swiper {
                    &-prev {
                        position:absolute; top:50%; left:50px; transform:translateY(-50%); width:26px; height:26px; background:url(../../common/images/main/bsSlidePrev.svg)50% 50% no-repeat; cursor:pointer;

                        &.swiper-button-disabled {
                            background:url(../../common/images/main/bsSlidePrev_disabled.svg)50% 50% no-repeat;
                        }
                    }

                    &-next {
                        position:absolute; top:50%; right:50px; transform:translateY(-50%); width:26px; height:26px; background:url(../../common/images/main/bsSlideNext.svg)50% 50% no-repeat; cursor:pointer;
                        
                        &.swiper-button-disabled {
                            background:url(../../common/images/main/bsSlideNext_disabled.svg)50% 50% no-repeat;
                        }
                    }

                    &-paging {
                        width:max-content; margin:30px auto 0;

                        > .swiper-pagination-bullet {
                            width:10px; height:10px; background:var(--tbg3);
                        }

                        > .swiper-pagination-bullet-active {
                            width:30px; height:10px; background:var(--snd1); border-radius:180px;
                        }
                    }
                }
            }
        }
    }
}

.mainCont06 {
    width:100%; max-width:1280px; margin:0 auto; padding: 80px 0 120px;
    @include media ('tablet') {
        padding:40px 20px;
    }
    > .title {
        position:relative; display:block; font-size:40px; color:var(--t1); font-weight:700; text-align:center; margin-bottom:60px; pointer-events: none;

        @include media ('tablet'){
            font-size:26px; width: max-content; padding-right:30px; pointer-events: all; margin-bottom:30px;
            &::after {
                content:''; position:absolute; top:50%; right:0; transform:translateY(-50%); width:26px; height:26px; background:url(../../common/images/main/ico_mo_more.svg)50% 50% no-repeat;
            }
        }
        
    }

    > .topBox {
        display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:34px;
        @include media ('tablet') {
            display:block;
        }
        .leftCont {
            width:calc(100% - 360px); background:var(--bg3); padding:30px 40px 40px 40px; border-radius:30px;
            @include media ('tablet') {
                width:100%; background:transparent; padding:0; border-radius:0; 
            }
            > .remote {
                width:100%; position:relative; display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; margin-bottom:20px;
                @include media ('tablet') {
                    overflow-x:scroll;
        
                    &::-webkit-scrollbar {display:none;}
                }
                > .leftArea {
                    position:relative;
        
                    > ul {
                        display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:12px;
        
                        > li {
                            > a {
                                display:inline-block; width:max-content; padding: 0 30px; line-height:50px; height:50px; font-size:20px; color:var(--prm3); font-weight:500; background:#EAECEF; border-radius:90px;
                                &.active {
                                    background:var(--prm3); color:var(--bg3);
                                }
                            }
                        }
                    }
                }
                > .rightArea {
                    position:relative;
                    @include media ('tablet') {
                        display:none;       
                    }
                    > a {
                        display:block; position:relative; padding-right:16px; font-size:16px; color:var(--prm3); font-weight:500;
                        &::after {
                            content:''; position:absolute; top:50%; right:0; width:14px; height:14px; background:url(../../common/images/main/mainCont06_arr.svg)50% 50% no-repeat; transform:translateY(-50%);
                        }
                    }
                }
            }

            .listFrame {
                width:100%; position:relative;

                > ul {
                    display:flex; flex-flow:row wrap; align-items: flex-start; justify-content: flex-start; gap:16px;
                    @include media ('tablet') {
                        flex-flow:column; gap:12px; margin-bottom:30px;
                    }
                    > li {
                        width:calc(50% - 8px);
                        @include media ('tablet') {
                            width:100%;
                        }
                        > a {
                            display:flex; flex-flow: row nowrap; align-items: flex-start; justify-content: flex-start; gap:30px; width:100%; padding:26px 30px; background:var(--bg3); border-radius:14px; border:1px solid var(--lbg1);
                            
                            > p {

                                &.date {
                                    font-size:12px; color:var(--tbg1); font-weight:600; line-height:1.5;

                                    > span {
                                        display:block; text-align:center;
                                        &:first-of-type  {
                                            font-size:30px; color:var(--t1); font-weight:700;
                                        }
                                    }
                                }

                                &.title {
                                    position:relative; font-size:18px; color:var(--t1); font-weight:700; overflow:hidden; text-overflow:ellipsis; word-break: break-word;  display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; letter-spacing:-0.036px;
                                    &.new {
                                        img {
                                            display:inline-block; vertical-align: middle; margin-top:-5px;
                                        }
                                    }
                                }
                            }
                            > .time {
                                position:relative; display:inline-block; padding-left:22px; font-size:16px; color:var(--tbg2);
                                &::after {
                                    content:''; position:absolute; top:50%; left:0; width:18px; height:18px; transform:translateY(-50%); background: url(../../common/images/common/ico_clock.svg)50% 50% no-repeat;
                                }
                            }

                            &:hover {
                                padding:25px 29px; border:2px solid  var(--prm1);
                                > p {
                                    color:var(--prm1);
                                    > span {
                                        color:var(--prm1) !important;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        .rightCont {
            width:326px; border-radius:30px; overflow:hidden; position:relative;
            @include media ('tablet') {
                width:100%;
            }

            .swiper-slide {
                img {
                    width:100%;
                }
            }
            .controllBox {
                position:absolute; bottom:0; right:0; padding:12px 24px 12px 30px; background:var(--prm3); z-index:3; border-radius:30px 0;

                .slideInfo {
                    display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:12px;

                    .swiper {
                        &-pagination03 {
                            font-size:16px; color:var(--bg3); font-weight:600; line-height:1.5; align-self: stretch;

                            > .swiper-pagination-current {color: var(--snd1);}
                        }
                    }
                }

                .slideRemote {
                    display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;
                    .swiper {
                        &-button-prev03 {
                            display:block; width:24px; height:24px; background:url(../../common/images/main/mainCont06_arr01.svg)50% 50% no-repeat; transform:rotate(180deg); cursor:pointer;
                            &.swiper-button-disabled {
                                opacity:0.5;
                            }
                        }

                        &-button-next03 {
                            display:block; width:24px; height:24px; background:url(../../common/images/main/mainCont06_arr01.svg)50% 50% no-repeat; cursor:pointer;
                        }

                        &-button-playStop02 {
                            display:block; width:24px; height:24px; background:url(../../common/images/main/mainCont06_pause.svg)50% 50% no-repeat; cursor:pointer;
                        }
                    }
                }
            }            
        }
    }

    > .botBox {
        width:100%; position:relative; margin-top:36px;
        @include media ('tablet') {
            margin-top:30px;                   
        }

        > .inner {
            width:100%;

            > .informCover {
                width:100%; display:flex; flex-flow: row nowrap; align-items: flex-start; justify-content: flex-start; gap:34px; 
                @include media ('tablet') {
                    flex-flow:column; gap:0;
                }
                > div {
                    border-radius:30px; overflow:hidden; padding: 36px 40px; background:var(--bg3); min-height:268px; position:relative;

                    > p.title {
                        position:relative; width:100%; margin-bottom:17px; font-size:22px; color:var(--t1); font-weight:700; letter-spacing:-0.1px;
                        &::after {
                            content:''; position:absolute; top:50%; right:0; width:70px; height:70px; transform:translateY(-50%); 
                        }

                        @include media ('tablet') {
                            > br {
                                display:none;
                            }
                            word-break:keep-all;
                        }
                    }

                    > p.desc {
                        font-size:16px; color:var(--prm3); font-weight:400; word-break:keep-all; margin-bottom:16px;
                    }

                    > a {
                        position:absolute; display:block; width:max-content; padding-right:16px; background:var(--bg3); border-radius:30px; font-size:16px; color:var(--prm1); font-weight:500; bottom:36px; left:40px;
                        &::after {
                            content:''; position:absolute; top:50%; right:0; width:14px; height:14px; transform:translateY(-50%); background:url(../../common/images/main/mainCont06_arr02.svg)50% 50% no-repeat;
                        }
                    }

                    .infoTel {
                        display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:16px;
                        .ico {
                            display:block; padding:11px; background:var(--bg1); border-radius:14px; position:relative; width:58px; height:58px;

                            &::after {
                                content:''; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); widtH:24px; height:24px; background:url(../../common/images/main/mainCont06_ico03.svg)50% 50% no-repeat;
                            }
                        }

                        .txt {
                            text-align:center;
                            span {
                                display:block;

                                &:first-of-type {
                                    font-size:16px; color:var(--t1); font-weight:700; line-height:1.5;
                                }

                                &:last-of-type {
                                    font-size:24px; color:var(--prm1); font-weight:800; letter-spacing:-0.48px;
                                }
                            }
                        }
                    }

                    &.service01 {
                        width:285.5px;
                        @include media ('tablet') {
                            width:100%; margin-bottom:20px;
                        }
                        > .title {
                            &::after {
                                background:url(../../common/images/main/mainCont06_ico01.svg)50% 50% no-repeat;
                            }
                        }
                    }

                    &.service02 {
                        width:285.5px;
                        @include media ('tablet') {
                            width:100%; margin-bottom:20px;
                        }
                        > .title {
                            &::after {
                                background:url(../../common/images/main/mainCont06_ico02.svg)50% 50% no-repeat;
                            }
                        }
                    }

                    &.service03 {
                        width:281px;
                        @include media ('tablet') {
                            width:100%;  margin-bottom:30px;
                        }
                        > .title {
                            letter-spacing:-2px;
                            &::after {
                                display:none;
                            }
                        }
                    }

                    &.serviceOptions {
                        width:326px; padding:0; border-radius:0;
                        @include media ('tablet') {
                            width:100%;
                        }

                        > ul {
                            display:flex; flex-flow: column; align-items: flex-start; justify-content: flex-start; gap:14px;

                            > li {
                                width:100%; border-radius:20px; overflow:hidden;
                                > a {
                                    display:block; width:100%; padding: 0 30px 0 68px; line-height:80px; position:relative; background:var(--prm1);
                                    font-size:18px; color:var(--bg3); font-weight:700; letter-spacing:-0.36px;
                                    @include media ('tablet') {
                                        line-height:70px;
                                    }
                                    > .desc {
                                        margin-top:5px; font-size:14px; color:var(--bg3); font-weight:500; line-height:1.4;
                                    }

                                    &::before {
                                        content:''; position:absolute; top:50%; left:30px; transform:translateY(-50%); width:24px; height:24px;
                                    }

                                    &::after {
                                        content:''; position:absolute; top:50%; right:30px; transform:translateY(-50%); width:24px; height:24px;
                                    }
                                }

                                &.item01 {
                                    a {
                                        &::before {
                                            background: url(../../common/images/main/mainCont06_ico04.svg)50% 50% no-repeat;
                                        }
                                        &::after {
                                            background: url(../../common/images/main/mainCont06_ico07.svg)50% 50% no-repeat;
                                        }
                                    }
                                }

                                &.item02 {
                                    a {
                                        &::before {
                                            background: url(../../common/images/main/mainCont06_ico05.svg)50% 50% no-repeat;
                                        }
                                        &::after {
                                            background: url(../../common/images/main/mainCont06_ico07.svg)50% 50% no-repeat;
                                        }
                                    }
                                }

                                &.item03 {
                                    a {
                                        &::before {
                                            background: url(../../common/images/main/mainCont06_ico06.svg)50% 50% no-repeat;
                                        }
                                        &::after {
                                            background: url(../../common/images/main/mainCont06_ico07.svg)50% 50% no-repeat;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}