/* 박문영 스타일 */

/* 공통 컴포넌트 : 불릿 */
.bulletList{
    margin-top:10px;
    & + .boldTxt{margin-top:10px; margin-left:10px; margin-bottom:8px; }
    & > li{
        position:relative; margin-left:10px; padding-left:8px; font-size:16px; font-weight:400; line-height:24px; text-align:left;
        &:before{position:absolute; top:11px; left:0; content:'';display:block; width:3px; height:2px; border-radius:50%; background:var(--t1); }
        & + li{margin-top:8px;}
        span{font-size:16px; font-weight:400; line-height:24px;}

        .bulletSign:first-child{margin-top:8px;}
    }

    /* bullet type - hypen */
    &.hypen{
        & > li{
            margin-left:0; padding-left:10px;
            &:before{width:5px; height:1px;}
        }
    }

}
.bulletTxt{
    position:relative; margin-top:20px; padding-left:10px; line-height:25px; font-size:18px; font-weight:700;
    &:before{position:absolute; top:10px; left:0; content:''; display:block; width:5px; height:5px; border-radius:50%; background:var(--snd2); }
    &.light{line-height:27px; font-weight:500;}

    & + .cptTable{margin-top:10px;}
    & + .boldTxt{margin-top:10px; margin-left:10px; margin-bottom:8px; }
}
.bulletSign {
    position:relative; margin-top:12px; padding-left:20px; line-height:24px; font-size:16px; font-weight:400; color:var(--tbg1);
    &:before{position:absolute; top:0; left:0; content:'※';display:block; line-height:24px; font-size:16px; font-weight:400; color:var(--tbg1); }

    & + .bulletSign{margin-top:6px;}
    & + .grayTxt{margin-top:6px;}

    & + .bulletList.hypen{
        margin:0;
        li{
            margin:0 0 0 20px; line-height:24px; font-size:16px; font-weight:400; color:var(--tbg1);
        }
    }
}
.grayTxt{position: relative; margin-top:8px; line-height: 24px;font-size: 16px;font-weight: 400;color: var(--tbg1);}
.boldTxt{line-height:24px; font-size:16px; font-weight:700; }
.roundBox{
    padding:24px; border:1px solid var(--lbg1); border-radius:14px; line-height:32px; font-size:16px; word-break: keep-all;
}

/* 테이블 스타일 커스텀 */
.customTable{
    td{border:1px solid var(--lbg1) !important;}
    .bdt0{border-top:0 !important;}
    .bdb0{border-bottom:0 !important;}
    .bdr0{border-right:0 !important;}
    .bdl0{border-left:0 !important;}

    @include media('mobile') {
        td{border:0 !important;}
        .tit{line-height:28px !important;}
        .mMb0{margin-bottom:0 !important;}
        .mMb4{margin-bottom:4px !important;}
    }
}

/* 공통 컴포넌트 : 배너 */
.bannerArea{
    padding:50px; background:var(--prm3); border-top-left-radius:30px; border-bottom-right-radius:30px; background:var(--bg1);
    .bannerTop{
        position:relative;
        & > .tit{line-height:36px; font-size:26px; font-weight:700; }
        & > .txt{margin-top:10px; line-height:24px; word-break: keep-all; font-size:16px; font-weight:400; }
    }
}

/* 공통 레이아웃 : 콘텐츠 영역 하위 */
.sectionArea {
    /* pc */
    .sectionPart{
        & + .sectionPart{margin-top:60px;}
        .partHeader{
            display:flex; align-items: center; margin-bottom:20px;
            .partTit{
                position:relative; display:inline-block; font-size:24px; font-weight:800; 
                &:after{position:absolute; top:0; right:-14px; content:'';display:block;width:10px;height:10px; border-top-left-radius:3px; border-bottom-right-radius:3px; background: linear-gradient(321.01deg, #FF8000 3.73%, #FFB348 67.76%);}
            }
            .right-box{
                margin-left:auto;
                .unit{font-size:14px; font-weight:500; color:var(--tbg1);}
            }
        }
        .partContainer{
            .tbTitArea{
                display:flex; justify-content: space-between; align-items: center; margin:20px 0 16px;
                .tit{display:inline-block; line-height:25px; font-size:18px; font-weight:700; }
                .unit{line-height:19.6px; font-size:14px; font-weight:500; color:var(--tbg1);}
            }
        }
        .partFooter{
            & > .comButton{margin-top:60px;}
        }
    }

    /* tablet */
    @include media('tablet') {
        .sectionPart{
            & + .sectionPart{margin-top:40px;}
        }
    }

    /* mobile */
    @include media('mobile') {
        .sectionPart{
            & + .sectionPart{margin-top:30px;}

            .partFooter{
                & > .comButton{
                    flex-direction:column; margin-top:40px;
                    .btn{width:100%;}
                }
            }
        }
    }
}

/* 공통 팝업 : 콘텐츠 */
.popContBox {
    .explainTxt{
        margin-bottom:20px; line-height:27px; font-size:18px; font-weight:500;
        b{font-weight:700; color:var(--prm1); }
    }
    .grayBox{
        margin-top:20px; padding:24px; background:var(--bg1);
        .tit{line-height:24px; font-size:16px; font-weight:500;}
        .bulletList {
            margin-top:0;
            & > li {margin-top:0; line-height:24px; font-weight:500;}
        }
    }
    .agreeArea{display:flex; justify-content: center; margin-top:20px; }
}

/* 사업소개 : cptAbout */
.cptAbout{
    /* pc */
    .explainArea {
        position:relative; padding-bottom:45px;
        .explainBox{
            padding:50px; padding-right:500px; background:var(--prm3); border-top-left-radius:30px; border-bottom-right-radius:30px;
            &:after{position:absolute; bottom:0; right:50px; content:'';display:block; width:503px; height:332px; background:url(../../common/images/sub/about/img_about_01.svg) no-repeat 40px 44px/contain;}
            h4{font-size:32px; font-weight:800; color:var(--snd1);}
            p{margin-top:14px; line-height:27px; word-break: keep-all; font-size:18px; font-weight:500; color:var(--bg3); }
        }
    }
    .cptTable table.tbInfo th.tit{border-top:1px solid var(--lbg1);}
    .infoTxt{margin-top: 10px; font-size: 16px;color: var(--tbg2);font-weight: 400;}
    .introListArea{
        border-top:2px solid var(--prm1);
        .listBox{
            position:relative; padding:40px 30px; padding-left:170px; border-bottom:1px solid var(--lbg1);
            &:before{position:absolute; top:40px; left:30px; content:'';display:block;width:100px;height:100px;border-radius:50%; background-repeat: no-repeat; background-position: center; background-size:50px 50px; background-color:var(--bg1);}
            &:first-child:before{background-image: url(../../common/images/sub/about/img_about_icon_08.svg);}
            &:nth-child(2):before{background-image: url(../../common/images/sub/about/img_about_icon_09.svg);}
            &:nth-child(3):before{background-image: url(../../common/images/sub/about/img_about_icon_10.svg);}
            &:nth-child(4):before{background-image: url(../../common/images/sub/about/img_about_icon_11.svg);}
            &:nth-child(5):before{background-image: url(../../common/images/sub/about/img_about_icon_12.svg);}
            &:nth-child(6):before{background-image: url(../../common/images/sub/about/img_about_icon_13.svg);}
            &:nth-child(7):before{background-image: url(../../common/images/sub/about/img_about_icon_14.svg);}
            
            .tit{margin-bottom:20px; line-height:28px; font-size:20px; font-weight:700; }
            & > .bulletList.black{padding-left:10px;}
        }
    }
    .aboutLawArea{
        text-align:left;
        h5{line-height:34px; font-size:24px; font-weight:800;}
        p{margin-top:10px; line-height:27px; font-size:18px; font-weight:500;}

        .aboutLawList{
            display:grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap:0 16px; margin-top:40px;
            & > li{
                position:relative; padding:124px 40px 34px 40px; width:100%; text-align:center; background:var(--bg1); border-radius:14px;
                &:before{position:absolute; top:34px; left:50%; transform:translateX(-50%); content:'';display:block;width:80px; height:80px;}
                &:first-child:before{background:url(../../common/images/sub/about/img_about_li_01.svg) no-repeat center/contain;}
                &:nth-child(2):before{background:url(../../common/images/sub/about/img_about_li_02.svg) no-repeat center/contain;}
                &:nth-child(3):before{background:url(../../common/images/sub/about/img_about_li_03.svg) no-repeat center/contain;}
                &:nth-child(4):before{background:url(../../common/images/sub/about/img_about_li_04.svg) no-repeat center/contain;}

                h6{line-height:25px; font-size:18px; font-weight:700;}
                .comButton{
                    flex-direction: column; margin-top:24px; gap:8px;
                    .btn{width:100%;}
                }
            }
        }
    }

    /* tablet02 */
    @include media('tablet02') {
        .explainArea {
            padding-bottom:0;
            .explainBox {padding-right:50px;}
            .explainBox:after {display:none;}
        }

        .aboutLawArea {
            .aboutLawList{grid-template-columns: 1fr 1fr; gap:16px; margin-top:30px;}
        }
    }

    /* tablet */
    @include media('tablet') {

    }

    /* mobile */
    @include media('mobile') {
        .cptTable table.tbInfo th.tit {
            margin-bottom:12px; order:0; padding:0; width:100%; text-align:left; border:0; font-size:20px; color:var(--t1); font-weight:700; background: var(--bg3); 
        }
        .introListArea {
            //.listBox {padding:20px 15px; padding-left:85px;}
            //.listBox:before{top:20px; left:15px; width:50px;height:50px; background-size:25px 25px; }
            .listBox {padding:20px 15px;}
            .listBox:before{display:none;}
            .listBox .tit{margin-bottom:10px;}
        }
        .aboutLawArea {
            .aboutLawList{grid-template-columns: 1fr; gap:16px; margin-top:20px;}
        }
    }
}

/* 체육인서비스 : cptService */
.cptService{
    /* pc */
    .bannerTop{
        &.imgEdu{
            padding-right:125px; 
            &:after{position:absolute; top:50%; right:0; transform:translateY(-50%); content:'';display:block;width:120px;height:120px; background:url(../../common/images/sub/service/img_svc_banner_01.svg) no-repeat center/contain; }
        }
        &.imgPro{
            padding-right:125px; 
            &:after{position:absolute; top:50%; right:0; transform:translateY(-50%); content:'';display:block;width:120px;height:120px; background:url(../../common/images/sub/service/img_svc_banner_02.svg) no-repeat center/contain; }
        }
    }

    .eduSupList{
        display:grid; grid-template-columns: 1fr 1fr 1fr; gap:14px; margin-top:20px;

        & > li{
            position:relative; padding:30px; min-height:232px; border-radius:12px; background:var(--bg1);
            strong{display:block; margin-bottom:10px; line-height:25px; font-size:18px; font-weight:700; }
            p{line-height:24px; font-size:16px; }
            b{display:block; margin-top:6px; line-height:22px; font-size:16px; color:var(--prm1);}

            &:after{position:absolute; bottom:30px; right:30px; content:'';display:block;width:40px;height:40px; }
            &:first-child:after{background:url(../../common/images/sub/service/icon_service_li_01.svg) no-repeat center/contain; }
            &:nth-child(2):after{background:url(../../common/images/sub/service/icon_service_li_02.svg) no-repeat center/contain; }
            &:nth-child(3):after{background:url(../../common/images/sub/service/icon_service_li_03.svg) no-repeat center/contain; }
        }
    }

    .serviceProtectList{
        display:grid; grid-template-columns: 1fr 1fr 1fr; gap:14px; margin-top:30px; 
        li{
            position:relative; padding:30px 34px 30px 30px; border-radius:12px; background:var(--bg3);
            strong{display:block; margin-bottom:10px; line-height:25px; font-size:18px; font-weight:700; }
            p{
                position:relative; padding-right:44px; line-height:24px; font-size:16px; 
                &:after{position:absolute; top:50%; right:0; transform:translateY(-50%); content:'';display:block; width:40px; height:40px; }
            }

            &:first-child p:after{background:url(../../common/images/sub/service/img_service_pro_li_01.svg) no-repeat center/contain;}
            &:nth-child(2) p:after{background:url(../../common/images/sub/service/img_service_pro_li_02.svg) no-repeat center/contain;}
            &:nth-child(3) p:after{background:url(../../common/images/sub/service/img_service_pro_li_03.svg) no-repeat center/contain;}
            &:nth-child(4) p:after{background:url(../../common/images/sub/service/img_service_pro_li_04.svg) no-repeat center/contain;}
            &:nth-child(5) p:after{background:url(../../common/images/sub/service/img_service_pro_li_05.svg) no-repeat center/contain;}
            &:nth-child(6) p:after{background:url(../../common/images/sub/service/img_service_pro_li_06.svg) no-repeat center/contain;}
        }
    }

    .borderColArea{
        margin-top:20px; padding:24px; border-radius:14px; border:1px solid var(--lbg1);
        .bulletList{
            display:grid; grid-template-columns: 1fr 1fr; gap:8px 6px;margin:0; padding:0; 
            li{margin:0; }
        }

        &.col4{
            .bulletList{
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }

    /* tablet02 1160px */
    @include media('tablet02') {
        .serviceProtectList{
            grid-template-columns: 1fr 1fr;
        }
    }

    /* tablet 1023px */
    @include media('tablet') {
    }

    /* mobile 767px */
    @include media('mobile') {
        .bannerTop{
            &.imgEdu{
                padding-right:0;
                &:after{display:none;}
            }
            &.imgPro{
                padding-right:0;
                &:after{display:none;}
            }
        }

        .eduSupList{
            grid-template-columns: 1fr;
            li{min-height:200px;}
        }

        .serviceProtectList{
            grid-template-columns: 1fr;
            li{padding:20px;}
        }

        .borderColArea{
            .bulletList{grid-template-columns: 1fr; }
    
            &.col4{
                .bulletList{grid-template-columns: 1fr 1fr; gap:10px 6px;}
            }
        }
    }

}

/* 신청.안내 : cptApply */
.cptApply{
    .cptTable {
        td{word-wrap: break-word;}
        table td.left{text-align:left;}
        .cellTxt{line-height:32px; text-align:left; }
        .tbBdTop{border-top:1px solid var(--lbg1) !important;}
        .tbBdRight{border-right:1px solid var(--lbg1) !important;}
    }
    /* 공통 엘리먼트 */
    .status{
        position:relative; padding-left:15px; font-size:14px; font-weight:600; color:var(--tbg1);
        &:before{position:absolute; top:50%; left:0; margin-top:-5px; content:'';display:block;width:10px;height:10px;border-radius:50%; background:black;}
        &.alarm:before{background:#008A4E;}
        &.always:before{background:var(--snd2);}
        &.ing:before{background:var(--snd2);}
        &.end:before{background:#888888;}
    }

    /* pc */
    .applyListWrap{
        .applyListArea{
            display:flex; flex-wrap:wrap; margin-left:-20px; margin-top:-20px;

            .list{
                margin-left:20px; margin-top:20px; width:calc(33.3% - 20px); height:256px;
                .link{
                    position:relative; display:block; padding:30px 30px 0px 30px; width:100%; height:100%; border-radius:20px; background:var(--bg1);
                    .classifyBox{
                        display:flex; justify-content: space-between; align-items: center;
                        .targeting{
                            display:inline-block; padding:0 14px; line-height:30px; border-radius:90px; text-align:center; background:var(--prm1);
                            font-size:14px; font-weight:600; color:var(--bg3);

                            &.national{background:var(--prm1);}
                            &.retire{background:var(--prm2);}
                            &.student{background:#752CF2;}
                            &.elder{background:#007C8A;}
                            &.major{background:var(--prm3);}
                        }
                    }

                    .tit{display:block; margin-top:14px; line-height:33.6px; font-size:24px; font-weight:800; }
                    .txt{margin-top:8px; max-height:72px; line-height:24px; font-size:16px; color:var(--t1);}
                    .hash{
                        position:absolute; bottom:30px; left:30px; display:inline-block; padding:0 8px; line-height:26px; border-radius:6px; border:1px solid var(--prm1); color:var(--prm1); font-size:14px;
                        &:before{content:'#'; margin-right:2px;}
                    }
                }
            }
        }
    }

    .bannerArea{
        padding:40px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        .bannerTop{
            .status{display:inline-block; margin-bottom:12px;}
            & > .tit{line-height:33.6px; font-size:24px;}
            & > .txt{margin-top:10px; line-height:27px; font-size:18px;}
        }
        .bannerList{
            display:flex; flex-wrap:nowrap; margin-top:30px; padding-top:30px; border-top:1px solid var(--lbg1);
            & > li{
                position:relative; display:flex; flex-direction: column; justify-content: center; padding:0 10px 0 92px; width:100%; 
                & + li{margin-left:12px; }
                &:before{position:absolute; top:50%; left:0; margin-top:-36px; content:'';display:block;width:72px; height:72px; border-radius:50%; border:1px solid var(--lbg2); background:var(--bg3);}
                &.applyTarget:before{background:url(../../common/images/sub/apply/img_banner_target.svg) no-repeat center/32px 32px; }
                &.applyPeriod:before{background:url(../../common/images/sub/apply/img_banner_period.svg) no-repeat center/32px 32px; }
                &.applyType:before{background:url(../../common/images/sub/apply/img_banner_type.svg) no-repeat center/32px 32px; }
                &.applyHow:before{background:url(../../common/images/sub/apply/img_banner_how.svg) no-repeat center/32px 32px; }
                &.applyStandard:before{background:url(../../common/images/sub/apply/img_banner_standard.svg) no-repeat center/32px 32px; }
                &.applyText:before{background:url(../../common/images/sub/apply/img_banner_text.svg) no-repeat center/32px 32px;}

                .tit{display:block; line-height:24px; font-size:16px; font-weight:700; }
                .txt{line-height:24px; font-size:16px; word-break: keep-all;}
            }
        }

        &.addBtn{
            position:relative;
            .bannerTop{padding-right:200px;}
            &.addBtnApply .bannerTop{padding-right:265px;}
            
            .comButton{
                position:absolute; top:80px; right:40px;
                button{
                    padding:0 26px;
                    .ico{
                        display:block; margin-left:4px; width:18px; height:18px;
                        &.icoApply{background:url(../../common/images/sub/apply/ico_apply_w.svg) no-repeat center/contain;}
                        &.icoFinger{background:url(../../common/images/sub/apply/ico_finger_w.svg) no-repeat center/contain;}
                        &.icoAlarm{background:url(../../common/images/sub/apply/ico_alarm_w.svg) no-repeat center/contain;}
                    }
                }
            }
        }
    }

    .stapListArea{
        margin-top:20px;
        .stapList{
            display:flex; flex-wrap:nowrap;
            & > li{
                position:relative; padding:30px 24px; width:100%; min-height:266px; text-align:center; border-radius:14px; background:var(--bg1);
                & + li{
                    margin-left:36px;
                    &:before{position:absolute; top:50%; left:-18px; margin-top:-8px; margin-left:-8px; content:'';display:block; width:16px; height:16px; background:url(../../common/images/sub/apply/img_step_arrow.svg) no-repeat center/contain; }
                }
                b{display:block; line-height:24px; font-size:16px; font-weight:700; color:var(--prm1);}
                strong{
                    position:relative; display:block; padding-top:102px; line-height:24px; font-size:16px; font-weight:700; color:var(--prm3); word-break: keep-all;
                    &:before{position:absolute; top:14px; left:50%; transform:translateX(-50%);content:'';display:block;width:74px;height:74px; border-radius:50%; background-color:var(--bg3); background-size:32px; background-repeat: no-repeat; background-position: center;}
                    &.imgFileWheel:before{background-image:url(../../common/images/sub/apply/img_step_file_wheel.svg); }
                    &.imgFile:before{background-image:url(../../common/images/sub/apply/img_step_file.svg);}
                    &.imgMoney:before{background-image:url(../../common/images/sub/apply/img_step_money.svg);}
                    &.imgText:before{background-image:url(../../common/images/sub/apply/img_step_text.svg);}
                    &.imgRecommend:before{background-image:url(../../common/images/sub/apply/img_step_recommend.svg);}
                    &.imgHouse:before{background-image:url(../../common/images/sub/apply/img_step_house.svg);}
                    &.imgPeople3:before{background-image:url(../../common/images/sub/apply/img_step_people3.svg);}
                    &.imgEarth:before{background-image:url(../../common/images/sub/apply/img_step_earth.svg);}
                    &.imgPeople1:before{background-image:url(../../common/images/sub/apply/img_step_people1.svg);}
                    &.imgFileUp:before{background-image:url(../../common/images/sub/apply/img_step_file_up.svg);}
                    &.imgMedal:before{background-image:url(../../common/images/sub/apply/img_step_medal.svg);}
                    &.imgStar3:before{background-image:url(../../common/images/sub/apply/img_step_people_star3.svg);}
                    &.imgEdu:before{background-image:url(../../common/images/sub/apply/img_step_edu.svg);}
                    &.imgTv:before{background-image:url(../../common/images/sub/apply/img_step_tv.svg);}
                    &.imgMentor:before{background-image:url(../../common/images/sub/apply/img_step_mentor.svg);}
                    &.imgResult:before{background-image:url(../../common/images/sub/apply/img_step_result.svg);}
                    &.imgCalendar:before{background-image:url(../../common/images/sub/apply/img_step_calendar.svg);}
                    &.imgPeopleFrame:before{background-image:url(../../common/images/sub/apply/img_step_people_frame.svg);}
                    &.imgFileWheel:before{background-image:url(../../common/images/sub/apply/img_step_file_wheel.svg);}
                    &.imgCheck:before{background-image:url(../../common/images/sub/apply/img_step_check.svg);}
                    &.imgAdjust36:before{background-image:url(../../common/images/sub/apply/img_step_adjust_36.svg); background-size:36px;}
                }
                p{margin-top:8px; line-height:24px; font-size:16px; color:var(--prm3);}
            }
        }
    }
    
    .copyrightTextArea {
        display:flex; justify-content: end; margin-top:60px; padding-top:20px; border-top:1px solid var(--lbg1);
        .txt{display:block; margin-right:12px; line-height:19.6px; font-size:14px;}
    }

    /* tablet02 1160px */
    @include media('tablet02') {
        .applyListWrap{
            .applyListArea .list{width:calc(50% - 20px);}
        }
    }

    /* tablet 1023px */
    @include media('tablet') {
    }

    /* mobile 767px */
    @include media('mobile') {
        .applyListWrap{
            .applyListArea .list{width:100%;}
        }

        .bannerArea {
            padding:25px;
            .bannerTop{
                padding-right:0;
                .status{margin-bottom:6px;}
                .tit{line-height:26px; font-size:20px;}
                .txt{line-height:22px; margin-top:6px; font-size:16px;}
            }
            .bannerList{
                flex-wrap:wrap; flex-direction: column; margin-top:20px; padding-top:20px;
                li{
                    & + li{margin:20px 0 0 0;}
                    &:before{width:50px; height:50px; background-size:20px;}
                    padding-left:70px;
                }
            }
            &.addBtn {
                .bannerTop{padding-right:0 !important;}
                .comButton{position:relative; top:unset; right:unset; margin-top:30px; }
            }
        }

        .stapListArea{
            .stapList{
                flex-direction: column;
                & > li{
                    padding:20px; min-height:auto;
                    strong{
                        padding-top:80px;
                        &:before{top:0;}
                    }
                    p{margin-top:4px;}
                    & + li{
                        margin:30px 0 0 0;
                        &:before{top:-16px; left:50%; margin-top:-6px; transform:rotate(90deg); }
                    }
                }
            }
        }
    }

}

/* 신청.안내 - 신청하기 페이지 cptApplyCreate */
.cptApplyCreate{
    /* pc */
    .applyTit{margin-bottom:40px;}
    .cptTable{
        /* col 사이즈  */
        .colMdTh{width:160px !important;}
        .colMdTd{width:calc(100% - 160px) !important;}

        th{border-bottom:1px solid var(--lbg1);}
    }

    .applyTit{line-height:33.4px; font-size:24px; font-weight:800; }
    .tbArea{
        & + .tbArea{margin-top:40px;}
        .tbTitArea{
            display:flex; justify-content: space-between; align-items: center; margin-bottom:16px; 
            .tit{display:inline-block; line-height:25px; font-size:18px; font-weight:700;}
        }
    }

    /* mobile 767px */
    @include media('mobile') {
        .cptTable{
            /* col 사이즈  */
            .colMdTh{width:110px !important;}
            .colMdTd{width:calc(100% - 110px) !important;}

            table.tbInfo.type02 {
                tbody tr th{width:110px;}
                tbody tr td{width:calc(100% - 110px);}
            }
        }
    }
}

/* 공통 : 레이아웃 - max-width:1280, width:100%  */
.layoutCont.wide{
    width:100% !important;
}

/* 부가정보 */
.cptTerms{
    padding:40px 0 120px; background:var(--bg1);
    .termsArea{
        margin:0 auto; max-width:1200px;

        /* 공통스타일 초기화 */
        .cptMember-process{max-width:unset;}
        .cptMember{max-width:unset;}
        .cptAccordion {
            .cptForm .frmChk {padding-right:30px; width:auto; text-align:left; }
            .inner > ul > li > .answerBox .answer {font-size:16px; color:var(--t1); font-weight:400; line-height:1.7; word-break:break-all; padding-right:8px;}
        }

        .cptTable {
            .left{text-align: left !important;}
            th,td{background:#fff !important; }
            thead th{border-bottom:1px solid var(--lbg1) !important;}
            tbody th:first-child{border-right:1px solid var(--lbg1) !important;}
        }

        .termsPartList{
            display:flex; flex-wrap:wrap; margin-bottom:30px;
            .list{
                display:flex; width:50%;
                .listTit{
                    position:relative; display:block; padding-right:14px; line-height:32px; font-size:16px;
                    &:focus-visible {
                        outline:0; font-weight:600;
                        &:after{position:absolute; bottom:6px; left:0; content:'';display:block;width:calc(100% - 10px);height:2px;background:black;}
                    }
                }
            }
        }

        .termSection{
            & + .termSection{margin-top:30px;}
        }

        .secTit{margin-bottom:14px; line-height:32px; font-size:18px; font-weight:700; }
        .partTit{line-height:32px; font-size:16px; font-weight:700; }
        .partTxt{margin-bottom:14px; line-height:32px; font-size:16px; font-weight:400; }

    }

    /* mobile 767px */
    @include media('mobile') {
        .termsPartList .list{width:100% !important;}
    }
}

.cptCopyright{
    .txt{line-height:27px; font-size:18px; font-weight:500; }
    .roundBox{margin-top:20px;}
    .imgBox{
        display:inline-block; margin-top:0;
        img{width:152px;}
    }
}

/* 공통 탭 */
.tabArea{
    .inner{
        & > ul{
            display:flex; justify-content: center;
            & > li{
                min-width:220px; height:42px;
                & + li {margin-left:8px;}
                & > a{display:flex; justify-content: center; align-items: center; height:42px; font-size:16px; font-weight:500; border:1px solid var(--lbg2); border-radius:90px; }
                &.active > a{border:1px solid var(--prm1); background:var(--prm1); color:var(--bg3); font-weight:700;}
            }
        }
    }

    .tabCont{
        .contBox{display:none;}
        .contBox.active{display:block;}
    }

    @include media('mobile') {
        .inner > ul > li {min-width:50%; max-width:220px;}
    }
}

/* 팝업 내부 탭 (평가점수 및 지급기준) */
.cptPopTabArea{
    .tabCont{padding-top:20px;}
    .tbTitArea{
        display:flex; justify-content: space-between; align-items: center; margin-bottom:16px;
        .tit{display:inline-block; line-height:25px; font-size:18px; font-weight:700; }
        .unit{line-height:19.6px; font-size:14px; font-weight:500; color:var(--tbg1);}
    }
    .scrollArea{height:auto; max-height:calc(100vh - 340px); overflow-y:auto;}
}

/* loading */
.loadingArea{
    z-index:10000; position:fixed; top:0; left:0; right:0; bottom:0;

    .loadingBox{
        position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
        /* loading */
        .loading {
            position: relative;display: block;box-sizing: border-box;font-size: 0;width: 32px;height: 32px;
            color: #2C99F2;
            > div {
                position: absolute;top: 50%;left: 50%;margin-top: -4px;margin-left: -4px;width: 8px;height: 8px;border-radius: 100%;
                background-color: currentColor;
                border: 0 solid currentColor;
                animation: loading-ani 2s infinite linear;

                &:nth-child(1) {top: 5%;left: 50%;animation-delay: -0.875s;}
                &:nth-child(2) {top: 18.18%;left: 81.82%;animation-delay: -0.75s;}
                &:nth-child(3) {top: 50%;left: 95%;animation-delay: -0.625s;}
                &:nth-child(4) {top: 81.82%;left: 81.82%;animation-delay: -0.5s;}
                &:nth-child(5) {top: 95%;left: 50%;animation-delay: -0.375s;}
                &:nth-child(6) {top: 81.9%;left: 18.2%;animation-delay: -0.25s;}
                &:nth-child(7) {top: 50%;left: 5%;animation-delay: -0.125s;}
                &:nth-child(8) {top: 18.18%;left: 18.18%;animation-delay: 0s;}
            }

            &.la-sm {
                width: 16px;height: 16px;
                > div {margin-top: -2px;margin-left: -2px;width: 4px;height: 4px;}
            }

            &.la-2x {
                width: 64px;height: 64px;
                > div {margin-top: -8px;margin-left: -8px;width: 16px;height: 16px;}
            }

            &.la-3x {
                width: 96px;height: 96px;
                > div {margin-top: -12px;margin-left: -12px;width: 24px;height: 24px;}
            }
        }
        /* loading Animation */
        @-webkit-keyframes loading-ani {
            50% {
                // opacity: .25;
                -webkit-transform: scale(.5);
                        transform: scale(.5);
            }
            100% {
                // opacity: 1;
                -webkit-transform: scale(1);
                        transform: scale(1);
            }
        }
        @-moz-keyframes loading-ani {
            50% {
                // opacity: .25;
                -moz-transform: scale(.5);
                    transform: scale(.5);
            }
            100% {
                // opacity: 1;
                -moz-transform: scale(1);
                    transform: scale(1);
            }
        }
        @-o-keyframes loading-ani {
            50% {
                // opacity: .25;
                -o-transform: scale(.5);
                transform: scale(.5);
            }
            100% {
                // opacity: 1;
                -o-transform: scale(1);
                transform: scale(1);
            }
        }
        @keyframes loading-ani {
            50% {
                // opacity: .25;
                -webkit-transform: scale(.5);
                -moz-transform: scale(.5);
                    -o-transform: scale(.5);
                        transform: scale(.5);
            }
            100% {
                // opacity: 1;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                    -o-transform: scale(1);
                        transform: scale(1);
            }
        }
    }
}