<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb02.ejs', {
                            depth2:1,
                            depth3:7,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->
                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <!--2025.01.09 모바일전용 메뉴 추가-->
                        <%- include('../ejs/lnb02Sub.ejs', {
                            depth3:7,
                            url: "../../",
                        }) %>

                        <!-- 콘텐츠 영역 하위 레이아웃 : 윗간격 60  -->
                        <div class="sectionArea cptApply">
                            <div class="sectionPart">
                                <div class="bannerArea">
                                    <div class="bannerTop">
                                        <h4 class="tit">보험지원금</h4>
                                        <p class="txt">
                                            국가대표 선수 및 지도자에게 보험가입에 따른 보험료를 지원합니다.
                                        </p>
                                    </div>

                                    <ul class="bannerList">
                                        <li class="applyTarget">
                                            <strong class="tit">지원대상</strong>
                                            <p class="txt">국제경기대회 혹은 이를 위한 훈련에 참가하는 국가대표 선수·지도자</p>
                                        </li>
                                        <li class="applyText">
                                            <strong class="tit">지원내용</strong>
                                            <p class="txt">상해·질병 보험료, 해외여행자 보험료</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">지원대상</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">국제대회에 참가하거나 국제대회 참가를 위한 훈련에 참여하는 국가대표 선수·지도자</p>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">지원내용</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">상해·질병 보험료, 해외여행자 보험료</p>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">지급기준</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">보험 가입에 따른 보험료 지원(1년 단위 가입)</p>
                                    <p class="bulletSign">보험가입 및 사업 추진은 대한체육회, 대한장애인체육회에서 수행</p>
                                </div>
                                <div class="partFooter">

                                    <!-- 2024.12.26 출처표시 문구 추가 : 기획 확정x -->
                                    <div class="copyrightTextArea">
                                        <span class="txt">
                                            본 저작물은 “공공누리 제1유형 : 출처표시” <br>
                                            조건에 따라 이용할 수 있습니다.
                                        </span>
                                        <div class="imgBox">
                                            <img src="../../common/images/sub/img_term_1.svg" alt="OPEN, 출처표시, 공공누리, 공공지적물 자유이용허락">
                                        </div>
                                    </div>
                                    
                                    <div class="comButton">
                                        <button type="button" class="btn h56 l-g">복지 전체보기</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

 