<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb02.ejs', {
                            depth2:1,
                            depth3:12,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->
                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <!--2025.01.09 모바일전용 메뉴 추가-->
                        <%- include('../ejs/lnb02Sub.ejs', {
                            depth3:12,
                            url: "../../",
                        }) %>

                        <!-- 콘텐츠 영역 하위 레이아웃 : 윗간격 60  -->
                        <div class="sectionArea cptApply">
                            <div class="sectionPart">
                                <div class="bannerArea addBtn">
                                    <div class="bannerTop">
                                        <!-- 페이지 개발시 '접수상태'별 클래스명 추가적용
                                        * 클래스명 [status]에 분류에 따라 더블클래스 추가
                                        [알림예약 - alarm] [상시접수 - always] [접수중 - ing] [종료 - end]
                                        -->
                                        <span class="status ing">접수중</span>
                                        <!-- 
                                        <span class="status alarm">알림예약</span>
                                        <span class="status ing">접수중</span>
                                        <span class="status always">상시접수</span>
                                        <span class="status ing">접수중</span>
                                        <span class="status end">종료</span> 
                                        -->
                                        <!--// 페이지 개발시 '접수상태'별 클래스명 추가적용 -->

                                        <h4 class="tit">체육인 창업지원</h4>
                                        <p class="txt">
                                            창업지원을 통해 은퇴체육인의 직업전환을 지원합니다.
                                        </p>
                                    </div>

                                    <ul class="bannerList">
                                        <li class="applyTarget">
                                            <strong class="tit">지원대상</strong>
                                            <p class="txt">은퇴(예정) 체육인 중 경력전환 희망자</p>
                                        </li>
                                        <li class="applyText">
                                            <strong class="tit">지원내용</strong>
                                            <p class="txt">창업교육 및 컨설팅 지원, 사업화지원금 지원 등</p>
                                        </li>
                                    </ul>

                                    <div class="comButton">
                                        <button type="button" class="btn h56 f-b ico" onclick="locMove()">
                                            <span class="txt">온라인 신청하기</span>
                                            <span class="ico icoFinger"><span class="hidden">검지손가락 모양 아이콘 이미지</span></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">지원대상</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">은퇴(예정) 체육인 중 창업을 통한 경력전환 희망자</p>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">지원내용</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">창업씨앗과정</p>
                                    <ul class="bulletList">
                                        <li>
                                            창업기본지식 획득을 위한 창업 교육 및 상버 구체화 지원
                                        </li>
                                    </ul>
                                    <p class="bulletTxt light">창업새싹과정</p>
                                    <ul class="bulletList">
                                        <li>
                                            준비된 사업계획 바탕 창업보육 및 사업화지원금 지원
                                        </li>
                                    </ul>
                                    <p class="bulletTxt light">창업열매과장</p>
                                    <ul class="bulletList">
                                        <li>
                                            기 창업자 중 사업현황에 따라 정체·어려움이 있는 사업의 맞춤형 컨설팅 지원
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sectionPart">
                                <div class="partHeader">
                                    <h4 class="partTit">지원일정</h4>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">창업씨앗과정</p>
                                    <div class="stapListArea">
                                        <ul class="stapList">
                                            <li>
                                                <b>STEP 01</b>
                                                <strong class="imgStar3">희망자 모집/선발</strong>
                                                <p>5~6월</p>
                                            </li>
                                            <li>
                                                <b>STEP 02</b>
                                                <strong class="imgEdu">창업교육</strong>
                                                <p>6~12월</p>
                                            </li>
                                            <li>
                                                <b>STEP 03</b>
                                                <strong class="imgResult">우수성과자 선정</strong>
                                                <p>1월</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">창업새싹과정</p>
                                    <div class="stapListArea">
                                        <ul class="stapList">
                                            <li>
                                                <b>STEP 01</b>
                                                <strong class="imgStar3">희망자 모집/선발</strong>
                                                <p>5~6월</p>
                                            </li>
                                            <li>
                                                <b>STEP 02</b>
                                                <strong class="imgEdu">창업보육 및 초기지원</strong>
                                                <p>6~8월</p>
                                            </li>
                                            <li>
                                                <b>STEP 03</b>
                                                <strong class="imgTv">중간평가 및 차등지원</strong>
                                                <p>9월</p>
                                            </li>
                                            <li>
                                                <b>STEP 04</b>
                                                <strong class="imgResult">결과보고</strong>
                                                <p>1월</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="partContainer">
                                    <p class="bulletTxt light">창업열매매과정</p>
                                    <div class="stapListArea">
                                        <ul class="stapList">
                                            <li>
                                                <b>STEP 01</b>
                                                <strong class="imgStar3">희망자 모집/선발</strong>
                                                <p>5~6월</p>
                                            </li>
                                            <li>
                                                <b>STEP 02</b>
                                                <strong class="imgEdu">창업맞춤형 컨설팅 실시</strong>
                                                <p>6~12개월</p>
                                            </li>
                                            <li>
                                                <b>STEP 03</b>
                                                <strong class="imgResult">우수사례선정</strong>
                                                <p>1월</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="partFooter">

                                    <!-- 2024.12.26 출처표시 문구 추가 : 기획 확정x -->
                                    <div class="copyrightTextArea">
                                        <span class="txt">
                                            본 저작물은 “공공누리 제1유형 : 출처표시” <br>
                                            조건에 따라 이용할 수 있습니다.
                                        </span>
                                        <div class="imgBox">
                                            <img src="../../common/images/sub/img_term_1.svg" alt="OPEN, 출처표시, 공공누리, 공공지적물 자유이용허락">
                                        </div>
                                    </div>
                                    
                                    <div class="comButton">
                                        <button type="button" class="btn h56 l-g">복지 전체보기</button>
                                        <button type="button" class="btn h56 f-dg" onclick="locMove()">온라인 신청하기</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>
<!--임시 스크립트 실 개발 시 삭제바람-->
<script>
    function locMove() {
        location.href = "rbsApply.html";
    }
</script>
<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

 