/* ---------------------------------------- 기본 레이아웃 ---------------------------------------- */

.lytLayout{
    width:100%;
    /*로그인 및 회원가입 배경 설정*/
    &.member {
        background:var(--bg1);

        .subContArea {
            display:block !important; max-width:100% !important; margin:120px auto !important;
            @include media ('mobile') {
                margin:60px auto !important;
            }
        }

        .layoutCont {
            width:100% !important;
        }
    }
    .layoutArea {
        width:100%;

        .mainLayout {
            background:#F5F6F8;
        }
        .layoutTop{
            width:100%;
        }

        .layoutContainer {
            width:100%;

            .layoutMainCont{
                width:100%;
            }
            .layoutSubVisual{
                width:100%;
            }
            .layoutSubCont{
                width:100%;
            }
            .subContArea{
                width:100%; max-width:1280px; margin:60px auto 120px; display:flex; flex-flow :row nowrap; align-items: flex-start; justify-content: flex-start; gap:50px;
                @include media ('tablet'){
                    display:block; max-width:100%; margin:0 auto 120px;
                }
            }
            .layoutNav{
                width:260px; position:relative;
                @include media ('tablet') {
                    width:100%;
                }
            }
            .layoutCont{
                width:calc(100% - 310px); position:relative;
                @include media ('tablet') {
                    width:calc(100% - 40px); margin: 0 auto;

                    > div:nth-of-type(2) {margin-top:0;}
                }
            }
            .layoutFloat {

            }
        }
        .layoutFooter{
            
        }
    }
}

/*--------------------------------- 레이어팝업 --------------------------------*/
.modPopup {
    width: 100%; height: 100vh; position: fixed; top: 0;left: 0;right: 0;bottom: 0; display: flex; align-items: center; justify-content: center; z-index: 999; display: none;

    // 팝업동작 기본설정
    .popupDim {width: 100%; height: 100vh; font-size: 0; background: rgba(0,0,0,0.75); position: absolute; top: 0;left: 0;right: 0; bottom: 0; opacity: 0;}
    .popupBox {
        width: 100%; margin: 0 auto; position: relative; display: flex; flex-flow: column; z-index: 1;
        @include media ('tablet'){
            width:90.75%;
        }
        & > * {opacity: 0;}
        &::before {display: block; content: ""; width: 0; height: 0;background: var(--bg3); position: absolute; top: 50%; left: 50%; z-index: -1;}
    }
    
    // 팝업동작 기본설정 - 팝업 열림 동작
    &.popOpen {
        display: flex;
        .popupDim {opacity: 1;}
        .popupBox {
            &::before {animation: popOut 0.15s linear 1 forwards;}
            & > * {animation: opaci1 0.15s linear 0.15s 1 forwards;}
        }
    }
    @keyframes popOut {
        from {width: 0; height: 0;top: 50%; left: 50%;}
        to {width: 100%; height: 100%;top: 0; left: 0;}
    }
    @keyframes opaci1 {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    //알럿창
    &.typeAlert {
        .popupBox {
            max-height: 95%; border-radius: 20px; padding:30px;
            &::before {border-radius: 20px;} 
                                
            .popTitArea {
                width: 100%; margin-bottom:10px; display: flex; justify-content: space-between; align-items: center;
                .tit {
                    font-size:20px; color:var(--t1);
                    b {color: #005ce6;}
                }
                .closeBtn {margin-left: auto; width: 12px; height: 12px; font-size: 0; background: url(../../images/common/ico_pop_close.svg) center no-repeat;}

                &.type02 {border-bottom:0;}
            }
            
            .alertTxt {
                font-size:16px; color:var(--t1); font-weight:500; line-height:1.5; text-align:center; word-break:keep-all;
            }

            .popBtnArea {
                width: 100%; padding-top: 30px; display: flex; justify-content: center; align-items: center; column-gap: 8px;
                .popBtn {
                    display:inline-block; padding: 0 40px; height:42px; line-height:42px; border-radius: 76px; font-size: 16px; text-align: center;
                    &.main { background:var(--prm3); color:var(--bg3);}
                    &.sub { background:var(--bg3); color:var(--t1); border:1px solid var(--lbg2); padding: 0 26px;}
                }

            }
            &.sm {max-width:340px;}
        }
    }
    
    &.type01 {
        .popupBox {
            max-height: 95%; border-radius: 20px; padding:30px 40px;
            &::before {border-radius: 20px;} 

            .popTitArea {
                width: 100%; margin-bottom:20px; display: flex; justify-content: space-between; align-items: center;
                .tit {
                    font-size:20px; color:var(--t1); font-weight:700;
                    b {color: #005ce6;}
                }
                .closeBtn {margin-left: auto; width: 24px; height: 24px; font-size: 0; background: url(../../images/common/ico_pop_close.svg) center no-repeat;}

                &.type02 {border-bottom:0;}
            }

            .popContArea {
                > p {
                    font-size:16px; color:var(--t1); font-weight:500; line-height:1.5; text-align:center; word-break:keep-all; padding:24px 0;
                    @include media ('mobile') {
                        padding:10px; font-size:14px;
                    }
                    &.lt {
                        text-align:left;
                    }

                    &.withBox {
                        border:1px solid var(--l1); border-radius:8px;
                    }
                }

                .frmGroup {
                    gap:10px; align-items: flex-start; min-height:40px;
                    .ipt {
                        width:160px; height:40px;
                        input {
                            height:40px; line-height:40px;
                        }
                    }
                    .simpleTxt {
                        width: calc(100% - 170px); line-height:40px;
                    }

                    & + .frmGroup {
                        margin-top:10px;
                    }
                }
            }

            .popBtnArea {
                width: 100%; padding-top: 30px; display: flex; justify-content: center; align-items: center; column-gap: 8px;
                .popBtn {
                    display:inline-block; padding: 0 40px; height:42px; line-height:42px; border-radius: 76px; font-size: 16px; text-align: center;
                    &.main { background:var(--prm3); color:var(--bg3);}
                    &.sub { background:var(--bg3); color:var(--t1); border:1px solid var(--lbg2); padding: 0 26px;}
                }

            }
            &.sm {max-width:440px;}
            &.lg {max-width:710px;}
        }
    }
}