 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <!-- 메인 콘텐츠 영역 -->

            <div class="payComp">
                <span class="ico"><span class="hidden">결제완료</span></span>

                <p class="tit">결제완료</p>

                <p class="desc">
                    고객님의 광고 청약이 완료 되었습니다.<br>청약 완료 후 광고 심의/승인(최대 3일) 후 최종적으로 광고가 송출됩니다.
                </p>

                <div class="cptBtnForm">
                    <button type="button" class="btn scnd">메인으로 가기</button>
                    <button type="button" class="btn prmy">심사단계 확인하기</button>
                </div>
            </div>

            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

<%- include('../ejs/moBar.ejs', { }) %>