<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb05.ejs', {
                            depth2:5,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->

                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>
                        <div class="cptMyPage">

                            <p class="mpTitle">
                                경기력 성과포상금 지급확인서 발급 신청
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo type02">
                                    <caption>성명, 생년월일, 성별, 종목, 등록구분, 종류, 일시금 지급일자에 관한 표</caption>
                                    <colgroup>
                                        <col style="width:160px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <thead class="thead-hidden">
                                        <tr>
                                            <th scope="col">성명</th>
                                            <th scope="col">생년월일</th>
                                            <th scope="col">성별</th>
                                            <th scope="col">종목</th>
                                            <th scope="col">등록구분</th>
                                            <th scope="col">종류</th>
                                            <th scope="col">일시금 지급일자</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">성명</th>
                                            <td class="left">
                                                홍길동
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">생년월일</th>
                                            <td class="left">
                                                1999.01.01
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">성별</th>
                                            <td class="left">
                                                남
                                            </td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">종목</th>
                                            <td class="left">
                                                <div class="cptForm">
                                                    <div class="frmGroup alingMid">
                                                        <div class="dropDown w155 disabled">
                                                            <button type="button" class="" title="열기">비장애</button>
                                                            <div class="dropDownBox">
                                                                <ul class="ddCont">
                                                                    <li><a href="#none" class="selected">비장애</a></li>
                                                                    <li><a href="#none">장애</a></li>
                                                                    <li><a href="#none">농구</a></li>
                                                                    <li><a href="#none">야구</a></li>
                                                                    <li><a href="#none">축구</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <div class="dropDown mw155">
                                                            <button type="button" class="" title="열기">종목선택</button>
                                                            <div class="dropDownBox">
                                                                <ul class="ddCont">
                                                                    <li><a href="#none" class="selected">태권도</a></li>
                                                                    <li><a href="#none">하키</a></li>
                                                                    <li><a href="#none">농구</a></li>
                                                                    <li><a href="#none">야구</a></li>
                                                                    <li><a href="#none">축구</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">등록구분</th>
                                            <td class="left">
                                                <div class="cptForm">
                                                    <div class="dropDown w155 error"> <!--2025.01.20 error case 추가-->
                                                        <button type="button" class="" title="열기">선수</button>
                                                        <div class="dropDownBox">
                                                            <ul class="ddCont">
                                                                <li><a href="#none" class="selected">선수</a></li>
                                                                <li><a href="#none">지도자</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!--2025.01.20 오류 시 문구 추가 -->
                                                    <span class="ico">등록구분을 올바르게 선택해주세요.</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">종류</th>
                                            <td class="left">
                                                <div class="cptForm">
                                                    <div class="dropDown w155">
                                                        <button type="button" class="" title="열기">선택</button>
                                                        <div class="dropDownBox">
                                                            <ul class="ddCont">
                                                                <li><a href="#none" class="selected">선택</a></li>
                                                                <li><a href="#none">선택</a></li>
                                                                <li><a href="#none">선택</a></li>
                                                                <li><a href="#none">선택</a></li>
                                                                <li><a href="#none">선택</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">일시금 지급일자</th>
                                            <td class="left">
                                                <div class="cptForm">
                                                    <div class="dropDown w155">
                                                        <button type="button" class="" title="열기">지급일자선택</button>
                                                        <div class="dropDownBox">
                                                            <ul class="ddCont">
                                                                <li><a href="#none" class="selected">1일</a></li>
                                                                <li><a href="#none">2일</a></li>
                                                                <li><a href="#none">3일</a></li>
                                                                <li><a href="#none">4일</a></li>
                                                                <li><a href="#none">5일</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <span class="infoTxt">
                                                    ※ 일시금을 지원 받은 대상인 경우 선택할 수 있습니다. (지급 받은 이력이 없는 경우 선택값이 표시되지 않습니다.
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="comButton">
                                <button type="button" class="btn h56 l-g">취소</button>
                                <button type="button" class="btn h56 f-dg">신청</button>
                            </div>
                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
