<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb05.ejs', {
                            depth2:5,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->

                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <div class="modTab calDiv1 stb pcType">
                            <div class="inner">
                                <ul>
                                    <li><a href="#none">경기력 성과포상금 지급확인서</a></li>
                                    <li class="active"><a href="#none">체육장학증서</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tabType ">
                            <div class="cptForm">
                                <div class="dropDown">
                                    <button type="button" class="" title="열기">경기력 성과포상금 지급확인서</button>
                                    <div class="dropDownBox">
                                        <ul class="ddCont">
                                            <li><a href="#none" class="selected">경기력 성과포상금 지급확인서</a></li>
                                            <li><a href="#none">체육장학증서</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cptMyPage">
                            <div class="certInfo cert02">
                                <p class="title">체육장학증서</p>
                                <p class="desc">
                                    체육인 복지사업의 ‘체육장학금’을 지급받은 본인(또는 보호자)에게 장학 증서를 발급하여 드립니다.<br>
                                    증명서발급 신청 버튼을 클릭한 후 본인인증을 거쳐 신청이 가능합니다.<br>
                                    (본인인증 시, 입력하신 정보는 암호화되어 처리됩니다.)
                                </p>
                                <p class="caution">
                                    ※ 본 체육장학금은 ‘체육인재 장학지원 사업’의 장학금 바우처와 다른 별개의 장려금이므로, 증서 신청 시 발급대상<br>&nbsp;&nbsp;&nbsp;&nbsp;여부를 다시 한 번 확인하여 주시기 바랍니다.<br>
                                    <span>※ 증명서 발급이 안 되거나, 인증이 되지 않는 경우 체육인복지팀(02-410-1622)으로 문의하시기 바랍니다.</span>
                                </p>
                                <div class="comButton">
                                    <button type="button" class="btn h42 f-b">증명서 발급 신청</button>
                                </div>
                            </div>

                            <p class="mptbTitle">
                                온라인 발급신청
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo">
                                    <colgroup>
                                        <col style="width:300px">
                                        <col style="width:100px">
                                        <col style="width:100px">
                                        <col style="width:100px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>신청대상</th>
                                            <th>신청자격</th>
                                            <th>수수료</th>
                                            <th>처리기간</th>
                                            <th>
                                                증명서 출력
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="mTit">신청대상</span>
                                                <span>체육장학금을 받은 이력이 있는 사람</span>
                                            </td>
                                            <td> 
                                                <span class="mTit">신청자격</span>
                                                <span>본인 (또는 보호자)</span>
                                            </td>
                                            <td>
                                                <span class="mTit">수수료</span>
                                                <span>무료</span>
                                            </td>
                                            <td>
                                                <span class="mTit">처리기간</span>
                                                <span>즉시</span>
                                            </td>
                                            <td>
                                                <span class="mTit">증명서 출력</span>
                                                <span>체육장학증서</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->
<script>
    //datepicker
    var datepicker = new tui.DatePicker('#wrapper1', {
        date: new Date(),
        input: {
            element: '#datepicker-input1',
            format: 'yyyy-MM-dd'
        }
    });
    var datepicker = new tui.DatePicker('#wrapper2', {
        date: new Date(),
        input: {
            element: '#datepicker-input2',
            format: 'yyyy-MM-dd'
        }
    });
</script>
<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
