<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb05.ejs', {
                            depth2:5,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->

                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <div class="modTab calDiv1 stb pcType">
                            <div class="inner">
                                <ul>
                                    <li class="active"><a href="#none">경기력 성과포상금 지급확인서</a></li>
                                    <li><a href="#none">체육장학증서</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tabType ">
                            <div class="cptForm">
                                <div class="dropDown">
                                    <button type="button" class="" title="열기">경기력 성과포상금 지급확인서</button>
                                    <div class="dropDownBox">
                                        <ul class="ddCont">
                                            <li><a href="#none" class="selected">경기력 성과포상금 지급확인서</a></li>
                                            <li><a href="#none">체육장학증서</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cptMyPage">
                            <div class="certInfo">
                                <p class="title">경기력 성과포상금 지급확인서</p>
                                <p class="desc">
                                    경기력 성과포상금을 받으시는 분께서 온라인으로 직접 경기력 성과포상금 증서를 발급 받으실 수 있는 서비스입니다.<br>
                                    온라인에서 발급되는 체육인 증명서는 자격확인용으로만 사용할 수 있으며, 법적인 효력을 갖는 문서발급을<br>
                                    위해서는 직접 방문하여 증명서를 발급받으셔야 합니다.
                                </p>
                                <p class="caution">
                                    ※ 증명서 발급이 안 되거나, 인증이 되지 않는 경우 체육인복지팀(02-410-1622)으로 문의하시기 바랍니다.
                                </p>
                                <div class="comButton">
                                    <button type="button" class="btn h42 f-b">증명서 발급 신청</button>
                                </div>
                            </div>

                            <p class="mptbTitle">
                                온라인 발급신청
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo">
                                    <caption>신청대상, 신청자격, 수수료, 처리기간, 경기력 성과포상금증서(지급내역포함여부선택)에 관한 표</caption>
                                    <colgroup>
                                        <col style="width:300px">
                                        <col style="width:100px">
                                        <col style="width:100px">
                                        <col style="width:100px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">신청대상</th>
                                            <th scope="col">신청자격</th>
                                            <th scope="col">수수료</th>
                                            <th scope="col">처리기간</th>
                                            <th scope="col">
                                                경기력 성과포상금 증서(지급내역 포함여부 선택)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="mTit">신청대상</span>
                                                <span>경기력 성과포상금을 받고 있는 사람</span>
                                            </td>
                                            <td>
                                                <span class="mTit">신청자격</span>
                                                <span>본인</span>
                                            </td>
                                            <td>
                                                <span class="mTit">수수료</span>
                                                <span>무료</span>
                                            </td>
                                            <td>
                                                <span class="mTit">처리기간</span>
                                                <span>즉시</span>
                                            </td>
                                            <td class="flex-col">
                                                <span class="mTit">경기력 성과포상금 증서(지급내역 포함여부 선택)</span>
                                                <span>체육인 경기력 성과포상금 증명서,<br>체육인 경기력 성과포상금 지급내역 증명서</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="mptbTitle">
                                경기력 성과포상금 증서 방문 신청 안내
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo">
                                    <caption>방문안내, 방문신청 시 구비서류에 관한 표</caption>
                                    <colgroup>
                                        <col style="width:50%">
                                        <col style="width:50%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">방문안내</th>
                                            <th scope="col">방문신청 시 구비서류</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="flex-col">
                                                <span class="mTit">방문안내</span>
                                                <span>
                                                    주소 : 서울시 송파구 올림픽로424 올림픽회관 신관<br>
                                                    문의 : 체육인 복지팀(02-410-1622)
                                                </span>
                                            </td>
                                            <td class="flex-col">
                                                <span class="mTit">방문신청 시 구비서류</span>
                                                <span>
                                                    본인 : 신분증 사본<br>
                                                    대리인 : 신청대상자 신분증 사본, 위임장, 대리인 신분증 사본
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->
<script>
    //datepicker
    var datepicker = new tui.DatePicker('#wrapper1', {
        date: new Date(),
        input: {
            element: '#datepicker-input1',
            format: 'yyyy-MM-dd'
        }
    });
    var datepicker = new tui.DatePicker('#wrapper2', {
        date: new Date(),
        input: {
            element: '#datepicker-input2',
            format: 'yyyy-MM-dd'
        }
    });
</script>
<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
