<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb05.ejs', {
                            depth2:6,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->

                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>
                        <div class="cptMyPage">

                            <p class="mptbTitle">
                                기본정보
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo type02">
                                    <caption>아이디, 비밀번호, 이름, 성별, 생년월일, 휴대전화, 주소에 관한 표</caption>
                                    <colgroup>
                                        <col style="width:160px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <thead class="thead-hidden">
                                        <tr>
                                            <th scope="col">아이디</th>
                                            <th scope="col">비밀번호</th>
                                            <th scope="col">이름</th>
                                            <th scope="col">성별</th>
                                            <th scope="col">생년월일</th>
                                            <th scope="col">휴대전화</th>
                                            <th scope="col">주소</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">아이디</th>
                                            <td class="left">memberId123</td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">비밀번호</th>
                                            <td class="left">
                                                <div class="comButton alignL">
                                                    <button type="button" class="btn h36 l-g" onclick="popOpen('chgPw', event)">비밀번호 변경</button> <!-- 2025.01.03 팝업오픈 이벤트 객체 추가 -->
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">이름</th>
                                            <td class="left">홍길동</td>
                                        </tr>
                                        <!-- 2024.12.20 미사용 처리 -->
                                        <!-- <tr>
                                            <th scope="row">성별</th>
                                            <td class="left">남자</td>
                                        </tr> -->
                                        <tr>
                                            <th scope="row">생년월일</th>
                                            <td class="left">1990.05.05</td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">휴대전화</th>
                                            <td class="left">
                                                <!--2024.12.05 만 14세 이상 case-->
                                                <span>010-1234-1234</span>

                                                <!--2024.12.05 만 14세 미만 case-->
                                                <div class="cptForm">
                                                    <div class="frmGroup alingMid">
                                                        <div class="ipt w155">
                                                            <input type="text" title="휴대전화번호 앞 세자리" placeholder="010">
                                                        </div>
                                                        <div class="Deco">-</div>
                                                        <div class="ipt w155">
                                                            <input type="text" title="휴대전화번호 중간 세자리 혹은 네자리" placeholder="0000">
                                                        </div>
                                                        <div class="Deco">-</div>
                                                        <div class="ipt w155">
                                                            <input type="text" title="휴대전화번호 마지막 세자리" placeholder=0000>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- 2024.12.20 신규 추가 -->
                                        <tr class="combine">
                                            <th scope="row">이메일</th>
                                            <td class="left">
                                                <div class="cptForm">
                                                    <div class="frmGroup alingMid">
                                                        <div class="ipt w155">
                                                            <input type="text" title="이메일 아이디 입력" placeholder="이메일 아이디를 입력하세요" value="spowell">
                                                        </div>
                                                        <div class="Deco">@</div>
                                                        <div class="ipt w155">
                                                            <input type="text" title="이메일 주소 입력" placeholder="이메일 주소를 입력하세요" value="naver.com">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cptForm">
                                                    <div class="dropDown w345">
                                                        <button type="button" class="" title="열기">naver.com</button>
                                                        <div class="dropDownBox">
                                                            <ul class="ddCont">
                                                                <li><a href="#none" class="selected">naver.com</a></li>
                                                                <li><a href="#none">hanmail.net</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">주소</th>
                                            <td class="left">
                                                <div class="cptForm">
                                                    <div class="frmGroup alingMid">
                                                        <div class="ipt w155">
                                                            <input type="text" title="우편번호 입력창" />
                                                        </div>
                                                        <div class="comButton alignL">
                                                            <button type="button" class="btn h36 l-g">주소검색</button>
                                                        </div>
                                                    </div>
                                                    <div class="frmGroup alingMid">
                                                        <div class="ipt">
                                                            <input type="text" title="주소 1 입력창" />
                                                        </div>
                                                        <p class="simpleTxt">
                                                            기본주소
                                                        </p>
                                                    </div>
                                                    <div class="frmGroup alingMid">
                                                        <div class="ipt">
                                                            <input type="text" title="상세주소 입력창" />
                                                        </div>
                                                        <p class="simpleTxt">
                                                            상세주소
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="mptbTitle">
                                보호자(법정대리인)
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo type02">
                                    <caption>이름, 휴대전화에 관한 표</caption>
                                    <colgroup>
                                        <col style="width:160px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <thead class="thead-hidden">
                                        <tr>
                                            <th scope="col">이름</th>
                                            <th scope="col">휴대전화</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">이름</th>
                                            <td class="left">홍길동</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">휴대전화</th>
                                            <td class="left">
                                                010-1234-1234
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="mptbTitle">
                                체육인복지 정보
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo type02">
                                    <caption>체육인 구분, 종목에 관한 표</caption>
                                    <colgroup>
                                        <col style="width:160px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <thead class="thead-hidden">
                                        <tr>
                                            <th scope="col">체육인구분</th>
                                            <th scope="col">종목</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">체육인 구분</th>
                                            <td class="left">선수,지도자</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">종목</th>
                                            <td class="left">
                                                테권도
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 2025.01.07 탈퇴버튼 추가 -->
                                <div class="comButton alignR mT24">
                                    <button type="button" class="btn txt">회원탈퇴하기</button>
                                </div>
                                <!-- //2025.01.07 탈퇴버튼 추가 -->
                            </div>

                            <div class="comButton">
                                <button type="button" class="btn h56 l-g">취소</button>
                                <button type="button" class="btn h56 f-dg">수정</button>
                            </div>
                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->
<div class="modPopup type01" id="chgPw">
    <div class="popupDim">딤 영역</div>
    <div class="popupBox sm"><!--2024.09.24 팝업사이즈 표기 필수 sm (작은사이즈), lg(큰사이즈)-->
        <!-- 팝업 타이틀 -->
        <div class="popTitArea">
            <div class="tit">비밀번호 변경 안내</div>
            <button class="closeBtn" onclick="popClose('chgPw')">팝업 닫기</button>
        </div>

        <!-- 팝업 컨텐츠 -->
        <div class="popContArea">
            <div class="cptForm">
                <div class="frmGroup alingMid">
                    <div class="ipt">
                        <input type="text" title="현재비밀번호 입력란" placeholder="기존 비밀번호">
                    </div>
                    <p class="simpleTxt">현재 사용중인 비밀번호 입력</p>
                </div>
                <div class="frmGroup alingMid">
                    <div class="ipt">
                        <input type="text" title=" 입력란" placeholder="신규 비밀번호">
                    </div>
                    <p class="simpleTxt">8~12자리 영문,숫자,특수기호 조합</p>
                </div>
                <div class="frmGroup alingMid">
                    <div class="ipt">
                        <input type="text" title=" 입력란" placeholder="신규 비밀번호 확인">
                    </div>
                    <p class="simpleTxt">새 비밀번호 다시 한번 입력</p>
                </div>
            </div>
        </div>

        <!-- 팝업 버튼 -->
        <div class="popBtnArea">
            <button type="button" class="popBtn sub" onclick="popClose('chgPw')">다음에 변경</button>
            <button type="button" class="popBtn main" onclick="popClose('chgPw')">변경완료</button>
        </div>
    </div>
</div>
<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
