<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb05.ejs', {
                            depth2:2,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->

                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>
                        <div class="cptMyPage">

                            <p class="mpTitle">
                                국외유학 교육지원금 신청현황
                            </p>

                            <p class="mptbTitle">
                                신규 신청 정보
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo type02">
                                    <caption>
                                        신청일, 신청상태, 신청복지, 종목, 체육인구분, 은행계좌, 학교, 대학원, 과정, 전공, 체육전공 , 지원기간, 총지원학기, 신청학기, 신청금액, 제출서류에 관한표
                                    </caption>
                                    <colgroup>
                                        <col style="width:160px">
                                        <col style="width:auto">
                                        <col style="width:160px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <thead class="thead-hidden">
                                        <th scope="col">신청일</th>
                                        <th scope="col">신청상태</th>
                                        <th scope="col">신청복지</th>
                                        <th scope="col">종목</th>
                                        <th scope="col">체육인구분</th>
                                        <th scope="col">은행계좌</th>
                                        <th scope="col">학교</th>
                                        <th scope="col">대학원</th>
                                        <th scope="col">과정</th>
                                        <th scope="col">전공</th>
                                        <th scope="col">체육전공</th>
                                        <th scope="col">지원기간</th>
                                        <th scope="col">총지원학기</th>
                                        <th scope="col">신청학기</th>
                                        <th scope="col">신청금액</th>
                                        <th scope="col">제출서류</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">신청일</th>
                                            <td class="left">
                                                2025.03.15
                                            </td>
                                            <th scope="row">신청상태</th>
                                            <td class="left">
                                                선정
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">신청 복지</th>
                                            <td class="left">
                                                국외유학  교육지원금
                                            </td>
                                            <th scope="row">종목</th>
                                            <td class="left">
                                                태권도
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">체육인 구분</th>
                                            <td class="left">
                                                선수
                                            </td>
                                            <th scope="row">은행계좌</th>
                                            <td class="left">
                                                국민은행 000000-00-000000
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">학교</th>
                                            <td class="left">
                                                한국체육대학교
                                            </td>
                                            <th scope="row">대학원</th>
                                            <td class="left">
                                                일반 대학원
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">과정</th>
                                            <td class="left">
                                                석사
                                            </td>
                                            <th scope="row">전공</th>
                                            <td class="left">
                                                체육학과
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">체육전공</th>
                                            <td class="left">
                                                예
                                            </td>
                                            <th scope="row">지원기간</th>
                                            <td class="left">
                                                2025년 상반기 ~ 2026년 하반기
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">총 지원학기</th>
                                            <td class="left">
                                                5학기
                                            </td>
                                            <th scope="row">신청학기</th>
                                            <td class="left">
                                                1학기
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">신청금액</th>
                                            <td class="left" colspan="3">
                                                <span>1,000,000</span>원
                                            </td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">제출서류</th>
                                            <td colspan="3" class="left" >
                                                <a href="#none" class="download">신청서.hwp</a>
                                                <a href="#none" class="download">개인정보수집이용동의서.hwp</a>
                                                <a href="#none" class="download">국가대표 선수 확인서.hwp</a>
                                                <a href="#none" class="download">통장사본.jpg</a>
                                                <a href="#none" class="download">합격통지서.hwp</a>
                                                <a href="#none" class="download">합격통지서.hwp</a>
                                                <a href="#none" class="download">등록금고지서.hwp</a>
                                                <a href="#none" class="download">학업연구계획서.hwp</a>
                                                <a href="#none" class="download">경기실정증명서.hwp</a>
                                                <a href="#none" class="download">기타.hwp</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <p class="mptbTitle">
                                회차별 지원신청
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo type02">
                                    <caption>신청일, 신청상태, 지원학기, 지원신청기간, 신청금액, 제출서류에 관한표</caption>
                                    <colgroup>
                                        <col style="width:160px">
                                        <col style="width:auto">
                                        <col style="width:160px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <thead class="thead-hidden">
                                        <th scope="col">신청일</th>
                                        <th scope="col">신청상태</th>
                                        <th scope="col">지원신청 학기</th>
                                        <th scope="col">지원신청 기간</th>
                                        <th scope="col">신청금액</th>
                                        <th scope="col">제출서류</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">신청일</th>
                                            <td class="left">
                                                2025.03.15
                                            </td>
                                            <th scope="row">신청상태</th>
                                            <td class="left">
                                                승인
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">지원신청 학기</th>
                                            <td class="left">
                                                2학기
                                            </td>
                                            <th scope="row">지원신청 기간</th>
                                            <td class="left">
                                                2025년 하반기
                                            </td>
                                        </tr>
                                        <tr class="combine alignM">
                                            <th scope="row">신청금액</th>
                                            <td class="left" colspan="3">
                                                <span>1,000,000</span>원
                                            </td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">제출서류</th>
                                            <td colspan="3" class="left" >
                                                <a href="#none" class="download">등록금영수증.hwp</a>
                                                <a href="#none" class="download">성적증명서.hwp</a>
                                                <a href="#none" class="download">기타.hwp</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--2024.12.05 종료관련 1차사업에서 진행하지 않음-->
                            <!-- <p class="mptbTitle">
                                지원종료 신청
                            </p>

                            <div class="cptTable">
                                <table class="tbInfo type02">
                                    <caption>신청일, 신청상태, 제출서류에 관한 표</caption>
                                    <colgroup>
                                        <col style="width:160px">
                                        <col style="width:auto">
                                        <col style="width:160px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <thead class="thead-hidden">
                                        <th scope="col">신청일</th>
                                        <th scope="col">신청상태</th>
                                        <th scope="col">제출서류</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">신청일</th>
                                            <td class="left">
                                                2025.03.15
                                            </td>
                                            <th scope="row">신청상태</th>
                                            <td class="left">
                                                승인
                                            </td>
                                        </tr>
                                        <tr class="combine">
                                            <th scope="row">제출서류</th>
                                            <td colspan="3" class="left" >
                                                <a href="#none" class="download">성적증명서.hwp</a>
                                                <a href="#none" class="download">수료증명서.hwp</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                            <!-- //2024.12.05 종료관련 1차사업에서 진행하지 않음-->

                            <div class="comButton">
                                <button type="button" class="btn h56 l-g">목록</button>
                            </div>
                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
