<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb05.ejs', {
                            depth2:2,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->

                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>
                        <div class="cptMyPage">

                            <div class="completeInner">
                                <p class="title">
                                    국내대학원 교육지원금 기존 대상자 신청 완료
                                </p>
                                <p class="desc">
                                    국내대학원 교육지원금 기존 대상자 신청이 완료되었습니다.<br>
                                    신청결과는 <span>마이페이지 > 복지신청현황</span>에서 확인하실 수 있습니다.
                                </p>
                                <div class="icoBox">
                                    <img src="../../images/common/ico_applyDone01.svg" alt="문서 모양의 아이콘 이미지">
                                </div>
                            </div>

                            <div class="comButton">
                                <button type="button" class="btn h56 f-dg">복지신청현황 바로가기</button>
                            </div>
                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
