
<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<button type="button" onclick="popOpen('clause01')" style="border:1px solid #dfdfdf; border-radius:5px; line-height:35px; padding:0 20px; text-align:center; font-size:14px; font-weight:bold;">국제대회 평가점수 및 지급기준</button>

<div class="modPopup type01" id="clause01">
    <div class="popupDim">딤 영역</div>
    <div class="popupBox lg"><!--2024.09.24 팝업사이즈 표기 필수 sm (작은사이즈), lg(큰사이즈)-->
        <!-- 팝업 타이틀 -->
        <div class="popTitArea">
            <div class="tit">국제대회 평가점수 및 지급기준</div>
            <button class="closeBtn" onclick="popClose('clause01')">팝업 닫기</button>
        </div>

        <!-- 팝업 컨텐츠 -->
        <div class="popContArea">
            <!-- 컨텐츠 내용 -->
             <div class="cptPopTabArea">
                <!-- 탭 -->
                <div class="tabArea">
                    <div class="inner">
                        <ul>
                            <li class="active"><a href="javascript:void(0)">국제대회 평가점수</a></li>
                            <li><a href="javascript:void(0)">지급기준</a></li>
                        </ul>
                    </div>
                    
                    <div class="tabCont">
                        <div class="contBox active">
                            <div class="tbTitArea">
                                <strong class="tit">국제대회 평가점수</strong>
                                <span class="unit">단위 : 점</span>
                            </div>

                            <!-- 스크롤영역 내부스타일로 직접 조절 -->
                            <div class="scrollArea">
                                <div class="cptTable">
                                    <table class="tbMoType">
                                        <caption>국제대회 평가점수에 대한 표로써 구분, 금메달, 은메달, 동메달, 4위, 5위, 6위 등으로 구성됨</caption>
                                        <colgroup>
                                            <col style="width:20%">
                                            <col style="width:20%">
                                            <col style="width:10%">
                                            <col style="width:10%">
                                            <col style="width:10%">
                                            <col style="width:10%">
                                            <col style="width:10%">
                                            <col style="width:10%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th scope="col" colspan="2">구분</th>
                                                <th scope="col">금메달</th>
                                                <th scope="col">은메달</th>
                                                <th scope="col">동메달</th>
                                                <th scope="col">4위</th>
                                                <th scope="col">5위</th>
                                                <th scope="col">6위</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    올림픽대회 <br>
                                                    장애인올림픽대회
                                                </td>
                                                <td>90</td>
                                                <td>70</td>
                                                <td>40</td>
                                                <td>8</td>
                                                <td>4</td>
                                                <td>2</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">농아인올림픽대회</td>
                                                <td>90</td>
                                                <td>70</td>
                                                <td>40</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">세계선수권대회</td>
                                                <td>4년 주기</td>
                                                <td>45</td>
                                                <td>12</td>
                                                <td>7</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>2~3년 주기</td>
                                                <td>30</td>
                                                <td>7</td>
                                                <td>5</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>1년 주기</td>
                                                <td>20</td>
                                                <td>5</td>
                                                <td>2</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">장애세계선수권대회</td>
                                                <td>4년 주기</td>
                                                <td>30</td>
                                                <td>8</td>
                                                <td>5</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>2~3년 주기</td>
                                                <td>15</td>
                                                <td>4</td>
                                                <td>3</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td>1년 주기</td>
                                                <td>7</td>
                                                <td>2</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    세계대학경기대회 <br>
                                                    아시아경기대회 <br>
                                                    장애인아시아경기대회 <br>
                                                    세계군인체육대회
                                                </td>
                                                <td>10</td>
                                                <td>2</td>
                                                <td>1</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                        <div class="contBox">
                            <div class="tbTitArea">
                                <strong class="tit">지급기준</strong>
                            </div>

                            <!-- 스크롤영역 내부스타일로 직접 조절 -->
                            <div class="scrollArea">
                                <div class="partContainer">
                                    <div class="cptTable">
                                        <table class="tbMoType">
                                            <caption>지급기준에 대한 표로써 구분, 평가점수, 산출방식, 비고 등으로 구성됨</caption>
                                            <colgroup>
                                                <col style="width:14%">
                                                <col style="width:18%">
                                                <col style="width:18%">
                                                <col style="width:50%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">구분</th>
                                                    <th scope="col">평가점수</th>
                                                    <th scope="col">산출방식</th>
                                                    <th scope="col">비고</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td rowspan="4">월정금</td>
                                                    <td>10~30점</td>
                                                    <td>10점당 15만원</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>31~100점</td>
                                                    <td>10점당 7.5만원</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>101점~110점</td>
                                                    <td>10점당 2.5만원</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>(최대)110점</td>
                                                    <td>100만원</td>
                                                    <td>올림픽 금메달은 평가점수가 90점이어도 100만원 지급</td>
                                                </tr>
                                                <tr>
                                                    <td>일시장려금</td>
                                                    <td>110점 초과</td>
                                                    <td>10점당 150만원</td>
                                                    <td>초과점수가 올림픽 금메달인 경우 10점당 500만원</td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="2">일시금</td>
                                                    <td>1~30점</td>
                                                    <td>1점당 112만원</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>30점 초과</td>
                                                    <td>1점당 56만원</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>특별장려금</td>
                                                    <td colspan="2">
                                                        아시아경기대회, 세계대학경기대회 등에서 금메달 1개를 획득한 선수 중 평가점수가 20점 미만인 경우
                                                    </td>
                                                    <td>일시금 450만원 지급</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="tableOutTxt">
                                            <p>※ 평가점수 20점 이상 시, 월정금 또는 일시금 중 본인이 선택하여 수령 가능.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <!--// 컨텐츠 내용 -->
            
            <!-- 팝업 버튼 -->
            <div class="popBtnArea">
                <button type="button" class="popBtn main" onclick="popClose('clause01')">확인</button>
            </div>
        </div>
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>