 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <!-- 메인 콘텐츠 영역 -->
            <!-- KB 2024.10.24 수정 -->
            <div class="comSubTitle mypageM">
                <h3 class="standard">마이페이지</h3>
                <div class="mypageMTxt">
                    <div>
                        <span class="mobileImg"><img src="../../images/common/ico_user_p.svg" alt=""></span>
                        나의정보
                        <span class="mobileImg2"><img src="../../images/common/ico_infoDown.svg" alt=""></span>
                    </div>
                </div>
            </div>
            <!--// KB 2024.10.24 수정 -->

            <div class="cptInfoTop">
                <div class="top">
                    <div class="title"><span class="name">홍길동</span>님 반갑습니다.</div>
                    <!-- KB 2024.10.24 수정 -->
                    <div class="more"><a href="#">광고리포트 보기 <span><img src="../../images/common/ico_infoArrow.svg" alt="광고효과보기 바로가기"></span></a></div>
                    <div class="moreMobile"></div>
                </div>
                <div class="boxWrap">
                    <div class="boxArea">
                        <div class="box box1">
                            <div class="item">
                                <p class="txt">보유 포인트</p>
                                <p class="score"><span>10,000</span>P</p>
                            </div>
                            <div class="item">
                                <p class="txt">쿠폰</p>
                                <p class="score"><span>100</span>개</p>
                            </div>
                        </div>
                        <div class="box box2">
                            <div class="item">
                                <p class="txt">심사중</p>
                                <p class="score"><span>1</span>건</p>
                            </div>
                            <div class="item">
                                <p class="txt">심사반려</p>
                                <p class="score"><span>1</span>건</p>
                            </div>
                            <div class="item">
                                <p class="txt">집행중</p>
                                <p class="score"><span>1</span>건</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cptInfoBottom">
                <!-- KB 2024.10.24 수정 -->
                <ul class="left">
                    <li class="myInfo myInfoFir"><span class="myInfoImg"><img src="../../images/common/ico_user_b.svg" alt=""></span>나의정보
                        <ul>
                            <li><a href="#">회원정보</a></li>
                            <li><a href="#">비밀번호 변경</a></li>
                        </ul>
                    </li>
                    <li class="myInfo myInfoSec active"><span class="myInfoImg"><img src="../../images/common/ico_benefit_p.svg" alt=""></span>나의 혜택/광고관리
                        <!-- kb 2024.10.29 수정 -->
                        <ul> 
                            <li><a href="#">프로모션 정보</a></li>
                            <li class="myInfoItem"><a href="#">포인트 현황</a></li>
                            <li><a href="#">쿠폰 현황</a></li>
                            <li><a href="#">비즈니스 관리</a></li>
                        </ul>
                    </li>
                    <li class="myInfo myInfoThi"><span class="myInfoImg"><img src="../../images/common/ico_money_b.svg" alt=""></span>결제 정보
                        <ul>
                            <li><a href="#">결제내역</a></li>
                        </ul>
                    </li>
                </ul>
                <!--// KB 2024.10.24 수정 -->
                <div class="right">
                    <div class="comSubTitle mypageTit">
                        <h5 class="mypageTitle">포인트 현황</h5>
                    </div>

                    <!-- 포인트 보유 현황 -->
                    <div class="cptPoint">
                        <ul class="pointArea">
                            <li class="item">보유 포인트 <span class="pt ptFirst">10,000P</span></li>
                            <li class="item">적립 포인트 <span class="pt">3,000P</span></li>
                            <li class="item">사용 포인트 <span class="pt">3,000P</span></li>
                        </ul>
                    </div>
                    <!--// 포인트 보유 현황 -->

                    <!-- 테이블 선택 -->
                    <div class="tableTop">
                        <div class="cptForm d-flex">
                            <div class="frmCombo">
                                기본 & focus effect
                                <div class="drpCov">
                                    <button type="button" class="drpBtn">전체</button>
                                    <!-- KB 2024.10.24 수정 -->
                                    <div class="listBox">
                                        <ul class="drpList height">
                                            <li><a href="#none">1개월</a></li>
                                            <li><a href="#none">3개월</a></li>
                                            <li><a href="#none">6개월</a></li>
                                            <li><a href="#none">9개월</a></li>
                                            <li><a href="#none">12개월</a></li>
                                        </ul>
                                    </div>
                                    <!--// KB 2024.10.24 수정 -->
                                </div>
                            </div>
                        </div>
                        <ul class="pointChk">
                            <li class="chkItem active"><span><img src="../../images/common/ico_chk_p.svg" alt=""></span>전체</li>
                            <li class="chkItem"><span><img src="../../images/common/ico_chk_b.svg" alt=""></span>적립</li>
                            <li class="chkItem"><span><img src="../../images/common/ico_chk_b.svg" alt=""></span>사용</li>
                        </ul>
                    </div>
                    <!--// 테이블 선택 -->

                    <!-- 포인트 현황 테이블 -->
                    <div class="cptTable"> 
                        <table>
                            <colgroup>
                                <col style="width:5%" />
                                <col style="width:15%" />
                                <col style="width:auto" />
                                <col style="width:15%" />
                                <col style="width:15%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th><span>순번</span></th>
                                    <th><span>날짜</span></th>
                                    <th><span>적립/사용내역</span></th>
                                    <th><span>적립/사용</span></th>
                                    <th><span>포인트잔액</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 조회 된 목록이 없을때 주석처리 -->
                                <!-- <tr>
                                    <td class="noList" colspan="5">
                                        <span class="ico"><span class="hidden">목록없음</span></span>
                                        <p>결제된 광고 캐페인 목록이 없습니다.</p>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>2</td>
                                    <td class="date"><span>2024.06.01</span></td>
                                    <td class="title"><span>SK PAY 결제</span></td>
                                    <td class="add"><span>+1,000</span></td>
                                    <td><span>10,000P</span></td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td class="date"><span>2024.06.01</span></td>
                                    <td class="title"><span>SK PAY 결제</span></td>
                                    <td class="subtract"><span>-1,000</span></td>
                                    <td><span>10,000P</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--// 포인트 현황 테이블 -->

                    <!-- pagination -->
                    <div class="comPagination">
                        <a href="#" class="start"></a>
                        <a href="#" class="prev"></a>
                        <ul class="numList">
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <a href="#" class="next">
                            <img src="../../images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘">
                        </a>
                        <a href="#" class="end"></a>
                    </div>
                    <!--// pagination -->

                </div>
            </div>
            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %> 
<%- include('../ejs/moBar.ejs', { }) %>