 <!-- Header -->
 <%- include('../ejs/top.ejs', {
    title: "sk우리동네광고",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <!-- 메인 콘텐츠 영역 -->  
             <!-- KB 2024.10.24 수정 -->
            <div class="comSubTitle mypageM">
                <h3 class="standard">마이페이지</h3>
                <div class="mypageMTxt">
                    <div>
                        <span class="mobileImg"><img src="../../images/common/ico_user_p.svg" alt=""></span>
                        나의정보
                        <span class="mobileImg2"><img src="../../images/common/ico_infoDown.svg" alt=""></span>
                    </div>
                </div>
            </div>
            <!--// KB 2024.10.24 수정 -->

            <div class="cptInfoTop">
                <div class="top">
                    <div class="title"><span class="name">홍길동</span>님 반갑습니다.</div>
                    <!-- KB 2024.10.24 수정 -->
                    <div class="more"><a href="#">광고리포트 보기 <span><img src="../../images/common/ico_infoArrow.svg" alt="광고효과보기 바로가기"></span></a></div>
                    <div class="moreMobile"></div>
                </div>
                <div class="boxWrap">
                    <div class="boxArea">
                        <div class="box box1">
                            <div class="item">
                                <p class="txt">보유 포인트</p>
                                <p class="score"><span>10,000</span>P</p>
                            </div>
                            <div class="item">
                                <p class="txt">쿠폰</p>
                                <p class="score"><span>100</span>개</p>
                            </div>
                        </div>
                        <div class="box box2">
                            <div class="item">
                                <p class="txt">심사중</p>
                                <p class="score"><span>1</span>건</p>
                            </div>
                            <div class="item">
                                <p class="txt">심사반려</p>
                                <p class="score"><span>1</span>건</p>
                            </div>
                            <div class="item">
                                <p class="txt">집행중</p>
                                <p class="score"><span>1</span>건</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cptInfoBottom">
                <!-- KB 2024.10.24 수정 -->
                <ul class="left">
                    <li class="myInfo myInfoFir"><span class="myInfoImg"><img src="../../images/common/ico_user_b.svg" alt=""></span>나의정보
                        <ul>
                            <li><a href="#">회원정보</a></li>
                            <li><a href="#">비밀번호 변경</a></li>
                        </ul>
                    </li>
                    <li class="myInfo myInfoSec active"><span class="myInfoImg"><img src="../../images/common/ico_benefit_p.svg" alt=""></span>나의 혜택/광고관리
                        <!-- kb 2024.10.29 수정 -->
                        <ul> 
                            <li class="myInfoItem"><a href="#">프로모션 정보</a></li>
                            <li><a href="#">포인트 현황</a></li>
                            <li><a href="#">쿠폰 현황</a></li>
                            <li><a href="#">비즈니스 관리</a></li>
                        </ul>
                    </li>
                    <li class="myInfo myInfoThi"><span class="myInfoImg"><img src="../../images/common/ico_money_b.svg" alt=""></span>결제 정보
                        <ul>
                            <li><a href="#">결제내역</a></li>
                        </ul>
                    </li>
                </ul>
                <!--// KB 2024.10.24 수정 -->
                <div class="right">
                    <div class="comSubTitle mypageTit">
                        <h5 class="mypageTitle">프로모션 정보</h5>
                    </div>

                    <!-- 프로모션정보 테이블 -->
                    <div class="cptTable">
                        <table>
                            <colgroup>
                                <col style="width:5%" />
                                <col style="width:10%" />
                                <col style="width:auto" />
                                <col style="width:10%" />
                                <col style="width:10%" />
                                <col style="width:10%" />
                                <col style="width:8%" />
                                <col style="width:8%" />
                                <col style="width:8%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th><span>순번</span></th>
                                    <th><span>캠페인명</span></th>
                                    <th><span>소재정보</span></th>
                                    <th><span>최초 생성일</span></th>
                                    <th><span>수정일</span></th>
                                    <th><span>결제일</span></th>
                                    <th><span>프로모션 정보</span></th>
                                    <th><span>노출여부</span></th>
                                    <th><span>광고효과</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 조회 된 목록이 없을때 주석처리 -->
                                <!-- <tr>
                                    <td class="noList" colspan="9">
                                        <span class="ico"><span class="hidden">목록없음</span></span>
                                        <p>결제된 광고 캐페인 목록이 없습니다.</p>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td>10</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td class="thumb">
                                        <span>
                                            <img src="../../images/temp/tableThumb.png" alt="">
                                        </span>
                                    </td>
                                    <td class="title"><span>소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보소재정보 소재정보 소재정보 소재정보 소재정보 소재정보 소재정보</span></td>
                                    <td class="date"><span>2024. 06.01</span></td><!--최초생성일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--수정일-->
                                    <td class="date"><span>2024. 06.01</span></td><!--결제일-->
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">수정</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">미노출</button>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="cptBtnForm">
                                            <button type="button" class="btn scnd mini">보기</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--// 프로모션정보 테이블 -->

                    <!-- 결제 된 광고 캠페인 목록이 없을때 주석처리 -->
                    <!-- <div class="cptNoData">
                        <div class="noImg">
                            <img src="../../images/common/ico_warning.svg" alt="경고 아이콘">
                        </div>
                        <p class="noTxt">결제된 광고 캠페인 목록이 없습니다.</p>
                    </div> -->
                    <!--// 결제 된 광고 캠페인 목록이 없을때 주석처리 -->

                    <!-- pagination -->
                    <div class="comPagination">
                        <a href="#" class="start"></a>
                        <a href="#" class="prev"></a>
                        <ul class="numList">
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                        <a href="#" class="next">
                            <img src="../../images/common/ico_pagArrRight.svg" alt="오른쪽 방향 아이콘">
                        </a>
                        <a href="#" class="end"></a>
                    </div>
                    <!--// pagination -->

                </div>
            </div>
            <!-- //메인 콘텐츠 영역 -->
        </div>
        <!-- //중단영역 -->

        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

        <!-- 상단영역 -->
        <div class="layoutQuick">
            <!-- Top -->
            <%- include('../ejs/quick.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->
    </div>
</div>


<!-- 프로모션 정보 팝업 -->
<div class="modPopup type01 popOpen" id="clause02">
    <div class="popupDim">딤 영역</div>
    <div class="popupBox lg"><!--2024.09.24 팝업사이즈 표기 필수 sm (작은사이즈), lg(큰사이즈)-->
        <!-- 팝업 타이틀 -->
        <div class="popTitArea">
            <div class="tit">프로모션 정보</div>
            <button class="closeBtn" onclick="popClose('clause02')">팝업 닫기</button>
        </div>

        <!-- KB 2024.10.24 수정 -->
        <!-- 팝업 컨텐츠 -->
        <div class="popContArea promotionPop">
            <div class="comClause">
                <div class="popTop">
                    <p class="popTitle">영상 타이틀</p>
                    <div class="popImg">
                        <img src="../../images/temp/preview_temp.png" alt="임시 이미지">
                    </div>
                </div>       
                <div class="cptForm promotionFrm">
                        
                    <div class="frmIpt">
                        <label for="ppIpt01">상호명 <span class="required">*</span>
                            <div class="tooltip">
                                <span class="tooltipTrig"><span class="hidden">설명열기</span></span>
                                <div class="toolBox">
                                    <span class="relCov">
                                        <a href="#none"><span class="hidden">닫기</span></a>
                                        사업자명, 우리가게 이름을 알려주세요.
                                    </span>
                                </div>
                            </div>
                        </label>
                        <input type="text" placeholder="업체명을 입력해주세요." id="ppIpt01" />
                    </div>

                    <div class="frmIpt">
                        <label for="ppIpt02">업종 <span class="required">*</span>
                            <div class="tooltip">
                                <span class="tooltipTrig"><span class="hidden">설명열기</span></span>
                                <div class="toolBox">
                                    <span class="relCov">
                                        <a href="#none"><span class="hidden">닫기</span></a>
                                        서비스 분야, 우리가게 서비스에 어울리는 업종을 알려주세요.
                                    </span>
                                </div>
                            </div>
                        </label>
                        <div class="frmCombo">
                            error case
                            <div class="drpCov">
                                <button type="button" class="drpBtn">text</button>
                                <div class="listBox">
                                    <ul class="drpList">
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="frmIpt">
                        <label for="ppIpt03">하위업종
                            <div class="tooltip">
                                <span class="tooltipTrig"><span class="hidden">설명열기</span></span>
                                <div class="toolBox">
                                    <span class="relCov">
                                        <a href="#none"><span class="hidden">닫기</span></a>
                                        서비스 분야, 우리가게 서비스에 어울리는 업종을 알려주세요.
                                    </span>
                                </div>
                            </div>
                        </label>
                        <div class="frmCombo">
                            error case
                            <div class="drpCov">
                                <button type="button" class="drpBtn">text</button>
                                <div class="listBox">
                                    <ul class="drpList">
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                        <li><a href="#none">text</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="frmIpt withBtn">
                        <label for="ppIpt04">주소 <span class="required">*</span>
                            <div class="tooltip">
                                <span class="tooltipTrig"><span class="hidden">설명열기</span></span>
                                <div class="toolBox">
                                    <span class="relCov">
                                        <a href="#none"><span class="hidden">닫기</span></a>
                                        우리 가게의 정확한 위치를 알려주세요.
                                    </span>
                                </div>
                            </div>
                        </label>
                        <div class="iptArea">
                            <input type="text" placeholder="00000" id="ppIpt04" />
                            <div class="cptBtnForm">
                                <button type="button" class="btn scnd">주소검색</button>
                            </div>
                        </div>
                        <div class="frmIpt promotioAddr">
                            <input type="text" placeholder="상세주소" id="ppIpt04" />
                        </div>
                        <div class="frmIpt">
                            <input type="text" placeholder="상세주소" id="ppIpt04" />
                        </div>
                    </div>

                    <div class="frmIpt">
                        <label for="ppIpt05">가게 연락처
                            <div class="tooltip">
                                <span class="tooltipTrig"><span class="hidden">설명열기</span></span>
                                <div class="toolBox">
                                    <span class="relCov">
                                        <a href="#none"><span class="hidden">닫기</span></a>
                                        우리가게의 연락처를 알려주세요.
                                    </span>
                                </div>
                            </div>
                        </label>
                        <input type="tel" placeholder="010-0000-0000" id="ppIpt05" />
                    </div>

                    <div class="frmIpt">
                        <label for="ppIpt06">가게 소개
                            <div class="tooltip">
                                <span class="tooltipTrig"><span class="hidden">설명열기</span></span>
                                <div class="toolBox">
                                    <span class="relCov">
                                        <a href="#none"><span class="hidden">닫기</span></a>
                                        우리가게의 이벤트나 정보를 널리 알려주세요.
                                    </span>
                                </div>
                            </div>
                        </label>
                        <textarea id="ppIpt06" name="가게소개" placeholder="입력해주세요." class="ppTxtArea"></textarea>
                    </div>

                    <div class="frmIpt">
                        <label for="ppIpt07">가게 이미지
                            <div class="tooltip">
                                <span class="tooltipTrig"><span class="hidden">설명열기</span></span>
                                <div class="toolBox">
                                    <span class="relCov">
                                        <a href="#none"><span class="hidden">닫기</span></a>
                                        우리가게의 멋진 모습을 등록해주세요.
                                    </span>
                                </div>
                            </div>
                            <span class="required">jpg, png 형식 가능, 용량제한 30mb 이하</span>
                        </label>
                        <ul class="ppAddImg">
                            <li>
                                <ul class="addClick">
                                    <li class="addImg"><img src="../../images/common/ico_imgAdd.svg" alt="이미지 추가 아이콘" /></li>
                                    <li class="addTxt">이미지 추가</li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="img"><img src="../../images/temp/miniThumb.png" alt=""></li>
                                    <li class="addClose"><img src="../../images/common/ico_imgClose.svg" alt="추가 된 이미지"></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="img"><img src="../../images/temp/miniThumb.png" alt=""></li>
                                    <li class="addClose"><img src="../../images/common/ico_imgClose.svg" alt="추가 된 이미지"></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="img"><img src="../../images/temp/miniThumb.png" alt=""></li>
                                    <li class="addClose"><img src="../../images/common/ico_imgClose.svg" alt="추가 된 이미지"></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="img"><img src="../../images/temp/miniThumb.png" alt=""></li>
                                    <li class="addClose"><img src="../../images/common/ico_imgClose.svg" alt="추가 된 이미지"></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="img"><img src="../../images/temp/miniThumb.png" alt=""></li>
                                    <li class="addClose"><img src="../../images/common/ico_imgClose.svg" alt="추가 된 이미지"></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="img"><img src="../../images/temp/miniThumb.png" alt=""></li>
                                    <li class="addClose"><img src="../../images/common/ico_imgClose.svg" alt="추가 된 이미지"></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="img"><img src="../../images/temp/miniThumb.png" alt=""></li>
                                    <li class="addClose"><img src="../../images/common/ico_imgClose.svg" alt="추가 된 이미지"></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="img"><img src="../../images/temp/miniThumb.png" alt=""></li>
                                    <li class="addClose"><img src="../../images/common/ico_imgClose.svg" alt="추가 된 이미지"></li>
                                </ul>
                            </li>
                        <ul/>
                    </div>

                    <!-- <div class="cptBtnForm d-flex gap10 showBtn">
                        <button type="button" class="popBtn firBtn">노출</button>
                        <button type="button" class="popBtn secBtn">미노출</button>
                    </div> -->

                    <div class="frmIpt adDuration">
                        <div class="inner">
                            <div>
                                <input type="radio" name="durateChk" checked id="second01">
                                <label for="second01">15초</label>
                            </div>
                            <div>
                                <input type="radio" name="durateChk" id="second02">
                                <label for="second02">30초</label>
                            </div>
                        </div>
                    </div>

                </div>              
            </div>
        </div>
        <!--// KB 2024.10.24 수정 -->

        <!-- 팝업 버튼 -->
        <div class="popBtnArea">
            <button type="button" class="popBtn white" onclick="popClose('clause02')">취소</button>
            <button type="button" class="popBtn blue" onclick="popClose('clause02')">수정</button>
        </div>
    </div>
</div>


<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
<%- include('../ejs/moBar.ejs', { }) %>