<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="subContArea">

                    <!-- 좌측 메뉴 영역 -->
                    <div class="layoutNav">
                        <!-- Left Menu -->
                        <%- include('../ejs/lnb05.ejs', {
                            depth2:2,
                            depth3:0,
                            url: "../../",
                        }) %>
                    </div>
                    <!-- //좌측 메뉴 영역 -->

                    <!-- 콘텐츠 영역 -->
                    <div class="layoutCont">
                        <%- include('../ejs/subTop.ejs', {
                            url: "../../",
                        }) %>

                        <div class="cptMyPage">
                            <!-- 2024.12.20 데이터 有 -->
                            <div class="cptTable">
                                <table class="tbInfo">
                                    <caption>신청복지, 신청일, 신청상태, 비고에 관한 표</caption>
                                    <colgroup>
                                        <col style="width:auto">
                                        <col style="width:120px">
                                        <col style="width:120px">
                                        <col style="width:220px">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">신청복지</th>
                                            <th scope="col">신청일</th>
                                            <th scope="col">신청 상태</th>
                                            <th scope="col">비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="tit">
                                                <a href="#none">스포츠클럽 창업지원</a>
                                            </td>
                                            <td>
                                                <span class="mTit">신청일</span>
                                                <span>2025.03.15</span>
                                            </td>
                                            <td class="badge">처리중</td>
                                            <td class="noData">
                                                -
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tit">
                                                <a href="#none">국내외 지도자 현장연수</a>
                                            </td>
                                            <td>
                                                <span class="mTit">신청일</span>
                                                <span>2025.03.15</span>
                                            </td>
                                            <td class="badge">선정</td>
                                            <td class="noData">
                                                -
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tit">
                                                <a href="#none">인턴십 지원</a>
                                            </td>
                                            <td>
                                                <span class="mTit">신청일</span>
                                                <span>2025.03.15</span>
                                            </td>
                                            <td class="badge">미선정</td>
                                            <td class="noData">
                                                -
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tit">
                                                <a href="#none">국내대학원 교육지원금</a>
                                            </td>
                                            <td>
                                                <span class="mTit">신청일</span>
                                                <span>2025.03.15</span>
                                            </td>
                                            <td class="badge">선정</td>
                                            <td class="btnType">
                                                <span class="mTit">비고</span>
                                                <div>
                                                    <div class="comButton">
                                                        <button type="button" class="btn h36 l-g">기존 대상자 지원 신청</button>
                                                    </div>
                                                    <span class="date">2025.07.20 ~ 2025.08.20</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tit">
                                                <a href="#none">국외유학 교육지원금</a>
                                            </td>
                                            <td>
                                                <span class="mTit">신청일</span>
                                                <span>2025.03.15</span>
                                            </td>
                                            <td class="badge">선정</td>
                                            <td class="btnType">
                                                <span class="mTit">비고</span>
                                                <div>
                                                    <div class="comButton">
                                                        <button type="button" class="btn h36 l-g">기존 대상자 지원 신청</button>
                                                    </div>
                                                    <span class="date">2025.07.20 ~ 2025.08.20</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tit">
                                                <a href="#none">생활지원금</a>
                                            </td>
                                            <td>
                                                <span class="mTit">신청일</span>
                                                <span>2025.03.15</span>
                                            </td>
                                            <td class="badge">선정</td>
                                            <td class="noData">
                                                -
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tit">
                                                <a href="#none">경기력 성과포상금(선수)</a>
                                            </td>
                                            <td>
                                                <span class="mTit">신청일</span>
                                                <span>2025.03.15</span>
                                            </td>
                                            <td class="badge">선정</td>
                                            <td class="noData">
                                                -
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- 2024.12.20 데이터 無 -->
                            <div class="cptNoDataList">
                                <span class="ico">
                                    <img src="../../common/images/common/ico_noData.svg" alt="데이터가 없음을 안내하는 아이콘 이미지" />
                                </span>
                                <span class="infoTxt">
                                    복지신청 내역이 없습니다.
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- //콘텐츠 영역 -->
                </div>
            </div>

        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>

 