<!-- Header -->
<%- include('../ejs/top.ejs', {
    title: "체육인복지지원",
    url: "../../"
}) %>

<!-- 레이아웃 -->
<div class="lytLayout">
    <div class="layoutArea">

        <!-- 상단영역 -->
        <div class="layoutTop">
            <!-- Top -->
            <%- include('../ejs/header.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //상단영역 -->

        <!-- 중단영역 -->
        <div class="layoutContainer" id="container">
            <div class="layoutSubCont">
                <div class="cptTerms">
                    <div class="termsArea">
                        <div class="cptMember-process">
                            <ul>
                                <li class="complete"><!--해당 단계 완료시 'complete' 클래스 추가-->
                                    <span class="step">1</span>
                                    <span>약관동의</span>
                                </li>
                                <li class="ongoing"><!--해당 단계 진행시 'ongoing' 클래스 추가-->
                                    <span class="step">2</span>
                                    <span>체육인 자격조회</span>
                                </li>
                                <li>
                                    <span class="step">3</span>
                                    <span>정보입력</span>
                                </li>
                                <li>
                                    <span class="step">4</span>
                                    <span>가입완료</span>
                                </li>
                            </ul>
                        </div>
                        <div class="cptMember">
                            <p class="title">약관동의</p>
                            <p class="desc">
                                서비스 이용을 위해 확인 후 동의해주세요.<br>개인정보 수집 및 이용에 관한 동의는 거부할 수 있으며, 동의하지 않는 경우 회원가입이 불가합니다.
                            </p>
    
                            <div class="cptForm">
                                <div class="frmChk">
                                    <input type="checkbox" id="chkAll" checked />
                                    <label for="chkAll">전체 동의</label>
                                </div>
                            </div>
    
                            <div class="cptAccordion">
                                <div class="inner">
                                    <ul>
                                        <!-- 1. 회원약관 동의 -->
                                        <li>
                                            <button type="button">
                                                <div class="cptForm">
                                                    <div class="frmChk">
                                                        <input type="checkbox" id="chk01" checked />
                                                        <label for="chk01">
                                                            <span class="required">[필수]</span> 회원약관 동의
                                                        </label>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="answerBox">
                                                <div class="ansInner" tabindex="0">
                                                    <div class="answer">
                                                        <!-- 
                                                            2024.12.30 수정사항 : .termTargetScroll 클래스 추가, .termsPartList 마크업 위치변경
                                                            항목(.listTit) 클릭시 항목내용(termPart)으로 스크롤 이동기능 있을경우 .termTargetScroll 추가 
                                                         -->
                                                        <div class="termSection termTargetScroll">
                                                            <div class="termsPartList">
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 1조 (목적)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 2조 (약관의 효력과 변경)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 3조 (용어의 정의)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 4조 (이용계약의 성립 및 탈퇴)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 5조 (회원정보 사용에 대한 동의)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 6조 (사용자의 정보 보안)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 7조 (서비스의 중지)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 8조 (서비스의 변경 및 해지)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 9조 (게시물의 저작권)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 10조 (KSPO홈페이지의 의무)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 11조 (회원의 의무)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 12조 (양도금지)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 13조 (손해배상)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 14조 (면책조항)</a></div>
                                                                <div class="list"><a href="javascript:void(0)" class="listTit" title="약관조항 상세설명으로 초점이동">제 15조 (재판관할)</a></div>
                                                            </div>

                                                            <h4 class="secTit">제 1 장 총칙</h4>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 1 조 (목적)</h5>
                                                                <p class="partTxt">
                                                                    본 약관은 국민체육진흥공단과 그 연계 홈페이지인 올림픽공원 홈페이지, 국민건강체조 홈페이지(이하 "KSPO홈페이지")가 공동으로 제공하는 모든 서비스(이하 "서비스")의 이용조건 및 절차, 이용자와 KSPO홈페이지의 권리, 의무, 책임사항과 기타 필요한 사항을 규정함을 목적으로 합니다.
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 2 조 (약관의 효력과 변경)</h5>
                                                                <p class="partTxt">
                                                                    1. KSPO홈페이지는 귀하가 본 약관 내용에 동의하는 경우, KSPO홈페이지의 서비스 제공 행위 및 귀하의 서비스 사용 행위에 본 약관이 우선적으로 적용됩니다. <br>
                                                                    2. KSPO홈페이지는 본 약관을 사전 고지 없이 변경할 수 있으며, 변경된 약관은 KSPO홈페이지 내에 공지하거나 e-mail을 통해 회원에게 공지하며, 공지와 동시에 그 효력이 발생됩니다. <br>
                                                                    3. 회원이 변경된 약관에 동의하지 않는 경우, 본인의 회원등록을 취소(회원탈퇴)할 수 있으며 계속 사용의 경우는 약관 변경에 대한 동의로 간주됩니다. <br>
                                                                    4. 본 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 정보통신윤리위원회 심의규정, 정보통신 윤리강령, 프로그램보호법 및 기타 관련 법령의 규정에 의합니다.
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 3 조 (약관의 효력과 변경)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 4조 (이용계약의 성립 및 탈퇴)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 5조 (회원정보 사용에 대한 동의)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 6조 (사용자의 정보 보안)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 7조 (서비스의 중지)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 8조 (서비스의 변경 및 해지)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 9조 (게시물의 저작권)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 10조 (KSPO홈페이지의 의무)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 11조 (회원의 의무)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 12조 (양도금지)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 13조 (손해배상)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 14조 (면책조항)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제 15조 (재판관할)</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- 2. 개인정보의 수집 · 이용 내역 -->
                                        <li>
                                            <button type="button">
                                                <div class="cptForm">
                                                    <div class="frmChk">
                                                        <input type="checkbox" id="chk02" checked />
                                                        <label for="chk02">
                                                            <span class="required">[필수]</span> 개인정보의 수집 · 이용 내역
                                                        </label>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="answerBox">
                                                <div class="ansInner" tabindex="0">
                                                    <div class="answer">
                                                        <div class="termSection">
                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <p class="partTxt">
                                                                    체육인복지지원시스템 회원서비스 제공에 필요한 개인정보의 수집 · 이용을 위하여 귀하의 동의를 받고자 합니다. 
                                                                </p>

                                                                <div class="cptTable">
                                                                    <table class="tbMoType">
                                                                        <caption>개인정보의 수집 · 이용 내역에 대한 표로써 구분, 개인정보의 수집ㆍ이용 목적, 개인정보의 수집ㆍ이용 항목, 개인정보의 보유ㆍ이용기간, 수집ㆍ이용 동의 거부에 따른 불이익 등으로 구성됨</caption>
                                                                        <colgroup>
                                                                            <col style="width:10%;">
                                                                            <col style="width:20%;">
                                                                            <col style="width:25%;">
                                                                            <col style="width:20%;">
                                                                            <col style="width:25%;">
                                                                        </colgroup>
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col"><span class="hidden">구분</span></th>
                                                                                <th scope="col">개인정보의 수집ㆍ이용 목적</th>
                                                                                <th scope="col">개인정보의 수집ㆍ이용 항목</th>
                                                                                <th scope="col">개인정보의 보유ㆍ이용기간</th>
                                                                                <th scope="col">수집ㆍ이용 동의 거부에 따른 불이익</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th scope="row">필수항목</th>
                                                                                <td>
                                                                                    체육인복지지원시스템 회원서비스 제공 (신청, 카드발급, 정산 및 서비스 안내)
                                                                                </td>
                                                                                <td class="left">
                                                                                    <b>필수항목</b><br>
                                                                                    신청자 : 성명, 수급정보, 휴대전화번호, 홈페이지ID, 주소, 비밀번호, 원패스 사용자키(USER_KEY), CI/DI(본인식별정보 및 중복가입확인정보), 세대주 : 성명, 카드발급자 : 성명, 휴대전화번호, 신청자와의 관계, 주소, 동일정보선택(기존 카드발급자, 세대주, 신청자, 기타 여부), 원패스 사용자키(USER_KEY), CI/DI(본인식별정보 및 중복가입확인정보)
                                                                                </td>
                                                                                <td>
                                                                                    <p class="txtRed">5년</p>
                                                                                    「보조금 관리에 관한 법률」 제25조에 의거
                                                                                </td>
                                                                                <td>
                                                                                    귀하는 개인정보 수집ㆍ이용에 대한 동의를 거부할 권리가 있으며 필수항목 미동의 시 체육인복지지원시스템 회원 서비스 제공 신청이 불가합니다.
                                                                                </td>
                                                                            </tr>
                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- 3. 민감정보의 수집 · 이용 내역 -->
                                        <li>
                                            <button type="button">
                                                <div class="cptForm">
                                                    <div class="frmChk">
                                                        <input type="checkbox" id="chk03" checked />
                                                        <label for="chk03">
                                                            <span class="required">[필수]</span> 민감정보의 수집 · 이용 내역
                                                        </label>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="answerBox">
                                                <div class="ansInner" tabindex="0">
                                                    <div class="answer">
                                                        <div class="termSection">
                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <p class="partTxt">
                                                                    체육인복지지원시스템 회원서비스 제공에 필요한 개인정보의 수집 · 이용을 위하여 귀하의 동의를 받고자 합니다. 
                                                                </p>

                                                                <div class="cptTable">
                                                                    <table class="tbMoType">
                                                                        <caption>민감정보의 수집 · 이용 내역에 대한 표로써 구분, 민감정보 수집∙이용 목적, 민감정보 수집∙이용 항목, 민감정보 보유∙이용 기간, 수집ㆍ이용 동의 거부에 따른 불이익, 민감정보의 수집∙이용 동의 등으로 구성됨 </caption>
                                                                        <colgroup>
                                                                            <col style="width:10%;">
                                                                            <col style="width:20%;">
                                                                            <col style="width:25%;">
                                                                            <col style="width:20%;">
                                                                            <col style="width:25%;">
                                                                        </colgroup>
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col"><span class="hidden">구분</span></th>
                                                                                <th scope="col">민감정보 수집∙이용 목적</th>
                                                                                <th scope="col">민감정보 수집∙이용 항목</th>
                                                                                <th scope="col">민감정보 보유∙이용 기간</th>
                                                                                <th scope="col">수집ㆍ이용 동의 거부에 따른 불이익</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th scope="row">민감정보의 수집∙이용 동의</th>
                                                                                <td>
                                                                                    체육인복지지원시스템 수혜자격 확인
                                                                                </td>
                                                                                <td class="left">
                                                                                    <b>필수항목</b><br>
                                                                                    신청자 : <span class="txtRed">장애정보(정도, 유형)</span>
                                                                                </td>
                                                                                <td>
                                                                                    <p class="txtRed">5년</p>
                                                                                    「보조금 관리에 관한 법률」 제25조에 의거
                                                                                </td>
                                                                                <td>
                                                                                    귀하는 민감정보 수집∙이용에 대한 동의를 거부할 권리가 있으며 미동의 시 체육인복지지원시스템권 회원서비스 제공 신청이 불가합니다.
                                                                                </td>
                                                                            </tr>
                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- 4. 개인정보 제3자 정보제공 내역 -->
                                        <li>
                                            <button type="button">
                                                <div class="cptForm">
                                                    <div class="frmChk">
                                                        <input type="checkbox" id="chk04" />
                                                        <label for="chk04">
                                                            <span class="required">[필수]</span> 개인정보 제3자 정보제공 내역
                                                        </label>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="answerBox">
                                                <div class="ansInner" tabindex="0">
                                                    <div class="answer">
                                                        <div class="termSection">

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <p class="partTxt">
                                                                    개인정보의 제3자 제공을 위하여 귀하의 동의를 받고자 합니다.
                                                                </p>

                                                                <div class="cptTable">
                                                                    <table class="tbMoType">
                                                                        <caption>개인정보 제3자 정보제공 내역에 대한 표로써 구분, 제공받는 자, 개인정보 제공 목적, 제공하는 개인정보 항목, 제공받는 자의 개인정보 보유∙이용 기간, 제3자 제공 동의 거부에 따른 불이익, 필수항목 등으로 구성됨 </caption>
                                                                        <colgroup>
                                                                            <col style="width:10%;">
                                                                            <col style="width:10%;">
                                                                            <col style="width:15%;">
                                                                            <col style="width:20%;">
                                                                            <col style="width:20%;">
                                                                            <col style="width:25%;">
                                                                        </colgroup>
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col" width="10%" ><span class="hidden">구분</span></th>
                                                                                <th scope="col" width="20%" >제공받는 자</th>
                                                                                <th scope="col" width="25%" >개인정보 제공 목적</th>
                                                                                <th scope="col" width="20%" >제공하는 개인정보 항목</th>
                                                                                <th scope="col" width="25%" >제공받는 자의 개인정보 보유∙이용 기간</th>
                                                                                <th scope="col" width="25%" >제3자 제공 동의 거부에 따른 불이익</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <th scope="row" rowspan="2">필수항목</th>
                                                                                <td>
                                                                                    하나카드
                                                                                </td>
                                                                                <td>
                                                                                    카드발급 및 정산
                                                                                </td>
                                                                                <td class="left">
                                                                                    카드발급자:
                                                                                    <p class="txtRed">
                                                                                        주민등록번호, 성명, 휴대전화번호, 신청자와의 관계, 주소
                                                                                    </p>
                                                                                </td>
                                                                                <td>
                                                                                    <p class="txtRed">탈퇴 시 삭제</p>
                                                                                </td>
                                                                                <td>
                                                                                    귀하는 개인정보 제공에 대한 동의를 거부할 권리가 있으며 미동의 시 카드발급이 불가합니다.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <span class="txtRed">가맹시설</span>
                                                                                </td>
                                                                                <td>
                                                                                    수강신청자 확인, 강좌운영 서비스 제공
                                                                                </td>
                                                                                <td class="left">
                                                                                    카드발급자:
                                                                                    <p class="txtRed">
                                                                                        성명, 홈페이지ID, 휴대전화번호
                                                                                    </p>
                                                                                </td>
                                                                                <td>
                                                                                    <p class="txtRed">5년</p>
                                                                                    「보조금 관리에 관한 법률」 제25조에 의거
                                                                                </td>
                                                                                <td>
                                                                                    귀하는 개인정보 제공에 대한 동의를 거부할 권리가 있으며 미동의 시 체육인복지지원시스템 회원서비스 제공 신청이 불가합니다.
                                                                                </td>
                                                                            </tr>
                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <!-- 5. 신한카드 개인회원 약관 승인 및 준수 동의 -->
                                        <li>
                                            <button type="button">
                                                <div class="cptForm">
                                                    <div class="frmChk">
                                                        <input type="checkbox" id="chk05" />
                                                        <label for="chk05">
                                                            <span class="required">[필수]</span> 신한카드 개인회원 약관 승인 및 준수 동의
                                                        </label>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="answerBox">
                                                <div class="ansInner" tabindex="0">
                                                    <div class="answer">
                                                        <div class="termSection">
                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <p class="partTxt">
                                                                    본인은 아래의 기재된 내용이 사실과 다름이 없음을 확인하고, 신한카드 개인회원 약관 승인 및 준수할 것을 확약하며 카드발급을 신청함에 동의합니다. <br>
                                                                    개인신용정보 제공•활용 및 조회 동의서
                                                                </p>

                                                                <p class="partTxt">
                                                                    신한카드㈜ 귀중 <br>
                                                                    이 계약과 관련하여 귀사(신한비씨 카드의 경우 비씨카드(주) 포함. 이하 같음)가 본인으로부터 취득하거나 만들어낸 개인신용정보는 신용정보의 이용 및 보호에 관한 법률 제32조1항, 제33조 및 제34조의 규정에 따라 타인에게 제공ㆍ활용하거나 영업목적으로 이용시 본인의 동의를 얻어야 하는 정보입니다. 이에 본인은 귀사가 개인신용정보를 신용정보집중기관, 신용조회회사, 신용정보제공이용자 및 제휴카드 관련 제휴기관 등에 제공하여, 본인의 신용을 판단하기 위한 자료 및 공공기관에서 정책자료로서 활용하거나 금융상품소개 등의 영업목적으로 사용하는 등 본인이 동의한 목적에 제공ㆍ활용하는데 동의합니다.
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제공ㆍ이용ㆍ조회할 신용정보</h5>
                                                                <p class="partTxt">
                                                                    개인식별정보(성명, 주민등록번호, 주소, 전화번호, 직업, e메일, 결제계좌번호 등)(본인이 거래하는 비씨카드 회원사간 식별정보의 교환포함), 신용거래정보(본 동의 이전•이후의 대출현황, 담보 및 채무보증현황, 신용카드 발급 및 해지, 신용카드 한도 및 이용정보 등과 이에 따른 실적을 포함한 거래내용), 채무불이행정보(연체, 대위변제, 대지급, 부도, 관련인 발생사실 등), 신용능력정보(직업, 재산•채무•소득의 총액, 납세실적 등), 공공기관보유정보(개인회생•파산•면책•채무불이행자등재 등 법원의 재판•결정정보, 각종 체납정보, 출생•사망•이민•부재•주민등록번호 및 성명의 변경 등 주민등록관련정보, 공공보험•공공요금관련 정보 등), 다른 기관의 신용정보 조회기록, 신용등급 및 평점 등 기타 본인의 신용을 판단할 수 있는 신용정보
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">정보 조회ㆍ제공ㆍ활용 목적</h5>
                                                                <p class="partTxt">
                                                                    본인의 신용을 판단하기 위한 자료로 활용하거나 공공기관에서 정책자료로 활용, 제휴서비스(무이자, 할인, 무료입장, 자동이체 서비스, 부가세 환급 지원 등) 및 각종 포인트(항공, 자동차, 정유 등)의 제공 정산, 각종 판촉행사, 시장조사 및 상품개발연구, 카드배송, 우편물/e메일/SMS 발송업무, 전화상담업무, 채권추심업무, 인터넷관련 서비스 업무, 외부업체 업무위탁, 신용관련 분석, 신용카드 거래와 관련한 업무목적(매출표 접수, 반송업무, 회원과 가맹점간의 분쟁해결, 가맹점대금 정산업무) 등 귀사의 카드 관련 업무, 카드상품소개, 카드가입 및 이용권유, 금융서비스의 제공, 금융상품소개 및 판매, 통신관련 서비스 소개 및 판매, 보험대리점 업무(보험TM포함) 등 귀사의 영업목적 업무, 공공기관의 개인정보보호에 관한 법률 제 10조 규정에 따른 개인 해외 출입국 정보 확인 및 활용
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">제휴카드 관련 제휴기관 : 문화체육관광부, 국민체육진흥공단, 프로스포츠구단 및 경기단체</h5>
                                                                <p class="partTxt">
                                                                    ※ 위 사항에 동의하셔야 귀하가 신청하신 카드(대출)의 정상 접수ㆍ발급(승인) 가능합니다. <br>
                                                                    ※ 카드가 재발급되거나 회원의 카드유효기간이 만료되어 갱신발급시에도 이 동의서는 유효합니다. <br>
                                                                    ※ 당사로부터 정보를 제공받는 자의 정보보유 및 이용기간은 귀하와 당사간 금융거래 소멸시까지입니다. <br>
                                                                    ※ 채무불이행 정보(연채, 대위변제, 대지급, 부도 관련인 발생사실 등) 및 신용조회정보(신용조회에 따라 신용정보 업자가 신용정보를 제공한 사실 등)는 본 동의와 관계없이 신용정보 집중기관(은행연합회, 여신금융협회 등), 신용조회회사((주)한국신용정보, (주)한국신용평가정보, (주)한국개인신용 등), 신용정보제공이용자(은행, 카드사, 캐피탈 등)에게 제공됩니다. <br>
                                                                    ※ 당사가 신용조회회사를 통하여 귀하의 개인신용정보를 조회하는 경우 귀하의 신용등급이 하락할 수 있습니다. <br>
                                                                    ※ 본인은 본 동의서에 관하여 충분히 설명을 듣고 이해하여 동의합니다.
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <!-- 6. Sample -->
                                        <li>
                                            <button type="button">
                                                <div class="cptForm">
                                                    <div class="frmChk">
                                                        <input type="checkbox" id="chk06" />
                                                        <label for="chk06">
                                                            약관명
                                                        </label>
                                                    </div>
                                                </div>
                                            </button>
                                            <div class="answerBox">
                                                <div class="ansInner" tabindex="0">
                                                    <div class="answer">
                                                        <div class="termSection">
                                                            <h4 class="secTit">약관 타이틀</h4>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">1. 약관 항목 타이틀</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                            <!-- part -->
                                                            <div class="termPart">
                                                                <h5 class="partTit">2. 약관 항목 타이틀</h5>
                                                                <p class="partTxt">
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                    내용 <br>
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
    
                            <div class="comButton mT50">
                                <button type="button" class="btn h56 l-g">이전</button>
                                <button type="button" class="btn h56 f-dg">다음</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //중단영역 -->


        <!-- 하단영역 -->
        <div class="layoutFooter">
            <!-- Footer -->
            <%- include('../ejs/footer.ejs', {
                url: "../../"
            }) %>
        </div>
        <!-- //하단영역 -->

    </div>
</div>

<!-- 팝업이 들어오는 영역 -->

<!-- Bottom -->
<%- include('../ejs/bottom.ejs', { }) %>
