/*========================================================================================*/
/*=====================================PUB GUIDE==========================================*/
/*========================================================================================*/

/*==================================== FORM ====================================*/

.cptForm {
    width:100%; position:relative;
    > input[type="text"] {
        width:100%; border:1px solid var(--lbg1); background:var(--bg3); border-radius:6px; padding:0 16px; 
        line-height:50px; height:50px; font-size:16px; font-weight:400; color:var(--t1);
        
        &::-webkit-input-placeholder {
            color:var(--tbg3);
        }

        &:focus {
            outline:none;
            border:2px solid var(--prm2);
        }

        &.error {
            border:2px solid var(--snd3);
            & + span {
                position:relative; display:inline-block; padding-left:23px; font-size:14px; color:var(--snd3); font-weight:400; margin-top:8px;
                &::before {
                    content:''; position:absolute; top:50%; left:0; width:20px; height:20px; transform: translateY(-50%); background: url(../../images/common/ico_error.svg)50% 50% no-repeat;
                }
            }
        }

        &.success {
            border:2px solid var(--prm2);
            & + span {
                position:relative; display:inline-block; padding-left:23px; font-size:14px; color:var(--prm2); font-weight:400; margin-top:8px;
                &::before {
                    content:''; position:absolute; top:50%; left:0; width:20px; height:20px; transform: translateY(-50%); background: url(../../images/common/ico_success.svg)50% 50% no-repeat;
                }
            }
        }

        &:disabled {
            border:1px solid var(--lbg1); background: var(--bg2); color:var(--tbg3);
            &::-webkit-input-placeholder {
                color:var(--tbg3);
            }
        }
    }

    > .dropDown {
        width:100%; position:relative; border:1px solid var(--lbg1); border-radius:6px; padding: 0 16px;
        > button {
            width:100%; font-size:16px; color:var(--t1); font-weight:500; height:50px; line-height:50px; text-align:left; position:relative;
            &::after {
                content:''; position:absolute ;top:50%; right:10px; width:16px; height:16px; transform:translateY(-50%); background:url(../../images/common/ico_dropdown.svg)50% 50% no-repeat;
            }
            &.active {
                border-bottom:1px solid var(--lbg1);
                &::after {
                    transform:translateY(-50%) rotate(180deg);
                }   
            }
        }

        > .ddCont {
            width:100%; margin:10px 0 20px; max-height: 120px; overflow-y:scroll;
            &::-webkit-scrollbar {
                width: 6px;
                background:var(--bg2);
            }
            
            &::-webkit-scrollbar-thumb {
                background: var(--prm1);
                border-radius: 8px;
            }
            > li {
                margin-bottom:10px;
                > a {
                    display:block; width:max-content; font-size:16px; color:var(--prm3); font-weight:400; line-height:1.4;
                    &.selected {
                        border-bottom:1px solid var(--prm1); color:var(--prm1); font-weight:600;
                    }
                }
                &:last-of-type {
                    margin-bottom:0;
                }
            }
        }

        &.disabled {
            background: var(--bg2); color:var(--tbg3);
            > button {
                background: var(--bg2); color:var(--tbg3);
            }
            > .ddCont {display:none;}
        }
    }
}
/*==================================== 버튼 ====================================*/

.comButton {
    display:flex; flex-flow: row nowrap; align-items: center; justify-content: center; gap:10px; margin-top:40px;
    &.alignL {justify-content: flex-start;}
    &.alignR {justify-content: flex-end;}

    button {
        /*공통*/
        &.btn {
            border-radius:90px; text-align:center; transition:all 0.3s;
        }

        &.ico {
            display:flex; flex-flow: row nowrap; align-items: center; justify-content: center; gap:4px;
            > .ico01 {display:block; width:22px; height:22px; background:url(../../images/common/ico_btn_more.svg)50% 50% no-repeat;}/*더보기 아이콘*/
            > .ico02 {display:block; width:20px; height:20px; background:url(../../images/common/ico_btn_dl.svg)50% 50% no-repeat;}/*엑셀다운로드 아이콘*/

            &:disabled {
                background:var(--bg2); color:var(--tbg3); border:1px solid var(--lbg2);
                > .ico01 {background:url(../../images/common/ico_btn_more_disabled.svg)50% 50% no-repeat;}
            }
        }

        /*filled with dark-gray*/
        &.f-dg {
            background:var(--prm3); color:var(--bg3);
            &:hover {
                background:#636D7B;
            }
            &:disabled {
                background:var(--bg2); color:var(--tbg3);
            }
        }
        
        &.f-g {
            background:#F1F2F4; color:var(--prm3);
            &:hover {
                background:#D7D9DC;
            }
            &:disabled {
                background:var(--bg2); color:var(--tbg3);
            }
        }

        &.l-g {
            background:var(--bg3); border:1px solid var(--lbg2); color:var(--prm3);
            &:hover {
                background:var(--bg1);
            }
            &:disabled {
                background:var(--bg2); color:var(--tbg3); border:1px solid var(--lbg2);
            }
        }

        &.l-b {
            border:1px solid var(--prm-color); color:var(--prm-color); 
            &:hover {
                background:#F5F9FF;
            }
            &:disabled {
                background:var(--bg2); color:var(--tbg3); border:1px solid var(--lbg2);
            }
        }

        &.f-b {
            background:var(--prm-color); color:var(--bg3);
            &:hover {
                background:#1B3275;
            }
        }

        &.st01 {
            padding: 0 26px !important;
        }

        /*높이 56 버튼*/
        &.h56 {
            height:56px; line-height:56px; padding: 0 50px; font-size:18px; font-weight:600;
        }
        /*높이 50 버튼*/
        &.h50 {
            height:50px; line-height:50px; padding: 0 16px; font-size:16px; font-weight:600; border-radius:6px;
        }
        /*높이 42 버튼*/
        &.h42 {
            height:42px; line-height:42px; padding: 0 40px; font-size:16px; font-weight:600;
        }
        /*높이 36 버튼*/
        &.h36 {
            height:36px; line-height:36px; padding: 0 14px; font-size:14px; font-weight:500; border-radius:6px;
        }
        /*높이 32 버튼*/
        &.h32 {
            height:32px; line-height:32px; padding: 0 18px; font-size:14px; font-weight:600;
        }
        /*텍스트 버튼*/
        &.txt {
            font-size:16px; color:var(--tbg1); font-weight:400; border-bottom:1px solid var(--tbg1); border-radius:0; line-height:1;
        }
    }
}

/*==================================== 검색 / 조회 ====================================*/

.cptFormSearch {
    .inner {
        width:100%; position:relative; display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between; padding:14px 20px; background:var(--bg1); margin-top:40px; border-radius:10px;

        > .leftArea {
            .stat {
                font-size:18px; color:var(--prm3); font-weight:400; line-height:1.4;
                > span {
                    color:var(--prm-color); font-weight:700;
                }
            }
        }

        > .rightArea {
            > .formCover {
                border:1px solid var(--lbg1); border-radius:6px; background:var(--bg3); display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start;

                > .dropDown {
                    width:max-content; position:relative;
                    > button {
                        width:max-content; padding:9px 34px 9px 16px; font-size:16px; color:var(--t1); font-weight:500; line-height:1.4; position:relative;
                        &::after {
                            content:''; position:absolute ;top:50%; right:10px; width:16px; height:16px; transform:translateY(-50%); background:url(../../images/common/ico_dropdown.svg)50% 50% no-repeat;
                        }
                        &.active {
                            &::after {
                                transform:translateY(-50%) rotate(180deg);
                            }   
                        }
                    }

                    > .ddCont {
                        position:absolute; top:calc(100% + 5px); left:0; width:max-content; padding:14px; border:1px solid var(--prm3); border-radius:6px; background:var(--bg3); z-index:1;
                        > li {
                            margin-bottom:10px;
                            > a {
                                display:block; width:max-content; font-size:16px; color:var(--prm3); font-weight:400; line-height:1;
                                &.selected {
                                    border-bottom:1px solid var(--prm-color); color:var(--prm-color); font-weight:600;
                                }
                            }
                            &:last-of-type {
                                margin-bottom:0;
                            }
                        }
                    }
                }

                >.iptArea {
                    position:relative; width:250px; padding:9px 16px;
                    > input {
                        width:calc(100% - 20px); line-height:22px; height:22px; font-size:16px; color:var(--t1); font-weight:500; padding-right:16px;  border:0;

                        &::-webkit-input-placeholder {font-size:16px; color:var(--tbg3);}
                    }
                    > a {
                        position:absolute; top:50%; right:16px; width:20px; height:20px; transform:translateY(-50%); background:url(../../images/common/ico_scope.svg)50% 50% no-repeat;
                    }
                }
            }
        }
    }
}

/*==================================== 페이징 처리 ====================================*/

.comPagination {
    width:100%; position:relative; display:flex; flex-flow: row nowrap; align-items: center; justify-content: center;  gap:12px; margin-top:40px;
    
    > a {
        display:inline-block; width:36px; height:36px; background:var(--bg3); position:relative;

        > img {
            position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
        }
    }

    > .numList {
        display:flex; flex-flow: row nowrap; align-items: center; justify-content: center; gap:12px;

        > li {
            width:36px; height:36px;

            > a {
                display:block; width:100%; height:100%; font-size:18px; color:var(--tbg3); font-weight:500; line-height:36px; text-align:center;

                &.active {
                    background:var(--prm3); border-radius:50%; color:var(--bg3);
                }
            }
        }
    }
}

/*==================================== 게시판 목록 ====================================*/

.cptBoardList {
    width:100%; position:relative; margin-top:40px; border-top:2px solid var(--prm-color);

    > .inner {
        width:100%; position:relative;

        > .list {
            > ul {
                > li {
                    position:relative; border-bottom:1px solid var(--lbg1);
                    > .listCont {
                        display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;
                        > * {
                            padding:30px 0;
                        }
                        > .number {
                            width:90px; font-size:20px; color:var(--t1); font-weight:700; line-height:1.4; text-align:center;

                            > .fix {
                                padding:6px 14px; background:var(--snd2); border-radius:90px; color:var(--bg3); font-size:14px; font-weight:800;
                            }
                        }

                        > .contInfo {
                            width:calc(100% - 338px); padding: 30px;
                            > p.title {
                                font-size:20px; color:var(--t1); font-weight:700; line-height:1.4; width:max-content; max-width:100%;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-right:30px; position:relative;

                                &.new {
                                    &::after {
                                        content:''; position:absolute; top:50%; right:0; width:26px; height:20px; background:url(../../images/common/ico_new.svg)50% 50% no-repeat; transform:translateY(-50%);
                                    }
                                }  
                            }
                            > p.dtView {
                                display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:14px; margin-top:10px;
                                > span {
                                    font-size:16px; color:var(--tbg2); font-weight:400; display:inline-block; position:relative;
                                    &.date {
                                        padding-right:14px;
                                        &::after {
                                            content:''; position:absolute; top:50%; right:0; width:1px; height:14px; background:var(--lbg1); transform:translateY(-50%);
                                        }
                                    }
                                }
                            }
                        }

                        > .file {
                            width:124px; position:relative;
                            &.hvFile {
                                &::after { content:''; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:30px; height:30px; background:url(../../images/common/ico_board_file.svg)50% 50% no-repeat; }
                            }
                        }

                        > .goDetail {
                            width:124px; display:block; padding: 30px; position:relative;
                            &::after {
                                content:''; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); width:30px; height:30px; background:url(../../images/common/ico_board_deatil.svg)50% 50% no-repeat; 
                            }
                        }
                    }
                }
            }
        }
    }
}

/*==================================== 게시판 상세 ====================================*/

.cptBoardDetail {
    width:100%; position:relative; border-top:2px solid var(--prm-color); margin-top:40px;

    > .inner {
        width:100%; 

        > .titleArea {
            width:100%; position:relative; padding:30px; border-bottom:1px solid var(--lbg1);
            
            > p.title {
                font-size:20px; color:var(--t1); font-weight:700; line-height:1.4; width:max-content; max-width:100%;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-right:30px; position:relative;
            }
            > p.dtView {
                display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:14px; margin-top:10px;
                > span {
                    font-size:16px; color:var(--tbg2); font-weight:400; display:inline-block; position:relative;
                    &.date {
                        padding-right:14px;
                        &::after {
                            content:''; position:absolute; top:50%; right:0; width:1px; height:14px; background:var(--lbg1); transform:translateY(-50%);
                        }
                    }
                }
            }
        }

        > .detailCont {
            padding:40px 30px; font-size:16px; color:var(--t1); font-weight:400; line-height:1.7; letter-spacing:-0.32px; border-bottom:1px solid var(--lbg1);
        }

        > .fileBox {
            width:100%; padding:24px 30px; border-bottom:1px solid var(--lbg1); display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start;

            > p {
                width:120px; font-size:16px; color:var(--tbg1); font-weight:400; text-align:center;
            }
            > div {
                > ul {
                    display:flex; flex-flow: column; align-items: flex-start; justify-content: flex-start; padding-left:30px;
                    > li {
                        > a{
                            position:relative; display:block; width:max-content; padding-right:30px; max-width:100%; overflow:hidden; text-overflow:ellipsis; white-space: nowrap; font-size:16px; color:var(--t1); font-weight:400; line-height:1.5;
                            &::after {
                                content:''; position:absolute; width:24px; height:24px; top:50%; right:0; transform:translateY(-50%); background:url(../../images/common/ico_download.svg)50% 50% no-repeat;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*========================================================================================*/
/*=====================================header=============================================*/
/*========================================================================================*/
.cptHeader {
    width:100%; position:relative; z-index:6;

    .headerTop {
        width:100%; border-bottom:1px solid var(--l1);
        > .inner {
            width:100%; max-width:1280px; margin:0 auto; display:flex; flex-flow:row nowrap; align-items: center; justify-content: space-between;
            @include media ('tablet'){
                max-width:auto; padding: 8px 20px;
            }
            > .kspoLogo {
                padding:13px 0;
                @include media ('tablet'){
                    padding:0;
                }
                .pcLogo {
                    @include media ('mobile') {
                        display:none;
                    }
                }
                .moLogo {
                    display:none;
                    @include media ('mobile') {
                        display:block;
                    }
                }
            }
            > .siteOption {
                @include media ('tablet'){
                    display:none;
                }
                display:flex; flex-flow :row nowrap; align-items: center; justify-content: flex-start; gap:12px;
                > .member {
                    > .beforeLogin {
                        display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start;
                        > a {
                            display:block; width:max-content; font-size:15px; color:var(--t1); font-weight:400;
                            &:first-of-type {
                                position:relative; margin-right:12px; padding-right:12px;
                                &::after {
                                    content:''; position:absolute; top:50%; right:0; width:1px; height:14px; background:var(--l2); transform:translateY(-50%);
                                }
                            }
                        }
                    }
                }
                > .ratio {
                    display:flex; flex-flow :row nowrap; align-items: center; justify-content: flex-start; gap:5px;
                    > a {
                        display:block; width:20px; height:20px;
                        &.minus {background:url(../../images/common/minus.svg)50% 50% no-repeat;}
                        &.plus {background:url(../../images/common/plus.svg)50% 50% no-repeat;}
                    }
                    > span.ratioRate {font-size:15px; color:var(--t1); font-weight:400;}
                }
            }
        }
    }

    .headerBot {
        position:relative; border-bottom:1px solid var(--l2);
        > .inner {
            width:100%; max-width:1280px; margin:0 auto; display:flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;
            @include media ('tablet'){
                max-width:auto; padding: 24px 20px;
            }
            .spowellLogo {
                .pcLogo {
                    @include media ('mobile') {
                        display:none;
                    }
                }
                .moLogo {
                    display:none;
                    @include media ('mobile') {
                        display:block;
                    }
                }
            }
            .menu {
                @include media ('tablet'){
                    display:none;
                }
                > ul {
                    display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:50px;

                    > li {
                        padding:38px 0;
                        > p {
                            position:relative; font-size:20px; color:var(--t1); font-weight:500;
                            &::after {
                                content:''; width:0; background:var(--snd1); height:5px; position:absolute; bottom:-42px; left:50%; transform:translateX(-50%); transition:all 0.2s;
                            }
                        }
                        .depth02 {
                            display:none; position:absolute; top:101%; left:0; width:100%; background:linear-gradient(to right, var(--prm-color) 50%, var(--bg3) 50%); box-shadow:0px 20px 20px 0px rgba(0,0,0,0.1);
                            > .inner {
                                width:100%; max-width:1280px; margin:0 auto; display:flex; flex-flow: row nowrap; align-items: flex-start; justify-content: flex-start;

                                > .leftArea {
                                    width:266px; padding:40px 0; background:var(--prm-color); position:relative; min-height:212px;
                                    > p.title {
                                        font-size:32px; color:var(--bg3); font-weight:800;
                                    }
                                    &.ico {
                                        &::after {
                                            content:''; position:absolute; bottom:40px; right:40px; width:70px; height:70px;
                                        }
                                        &.ico01 {
                                            &::after {
                                                background:url(../../images/common/hMenu_ico01.svg)50% 50% no-repeat;
                                            }
                                        }
                                        &.ico02 {
                                            min-height:396px;
                                            &::after {
                                                background:url(../../images/common/hMenu_ico02.svg)50% 50% no-repeat;
                                            }
                                        }
                                        &.ico03 {
                                            &::after {
                                                background:url(../../images/common/hMenu_ico03.svg)50% 50% no-repeat;
                                            }
                                        }
                                        &.ico04 {
                                            &::after {
                                                background:url(../../images/common/hMenu_ico04.svg)50% 50% no-repeat;
                                            }
                                        }
                                        &.ico05 {
                                            &::after {
                                                background:url(../../images/common/hMenu_ico05.svg)50% 50% no-repeat;
                                            }
                                        }
                                        
                                    }
                                }

                                > .rightArea {
                                    width:calc(100% - 266px); min-height:212px; background:var(--bg3); padding:40px 0 40px 60px;
                                    > ul {
                                        display:flex; flex-flow: row wrap; align-items: flex-start; justify-content: flex-start; gap:16px;
                                        > li {
                                            width:100%; max-width:469px;
                                            &.type02 {
                                                max-width:287.33px;
                                            }
                                            > a {
                                                position:relative; display:block; width:100%; height:100%; padding:14px 20px; font-size:18px; color:var(--t1); font-weight:500; border:1px solid var(--lbg1); border-radius:0 12px; transition:all 0.4s;
                                                &::after { 
                                                    content:''; position:absolute; top:50%; right:20px; width:20px; height:20px; background:url(../../images/common/depth02Arrow.svg)50% 50% no-repeat; transform:translateY(-50%);
                                                }
                                                &:hover {
                                                    border:1px solid var(--prm-color); color:var(--prm-color); font-weight:700;
                                                    &::after { 
                                                        background:url(../../images/common/depth02Arrow_on.svg)50% 50% no-repeat;
                                                    }
                                                }
                                            }

                                            > .depth03 {
                                                margin-top:20px; padding: 0 14px;
                                                > ul {
                                                    display:flex; flex-flow :row wrap; align-items: center; justify-content: flex-start; gap:12px 27px;

                                                    > li {
                                                        width:calc(50% - 14px);
                                                        > a {
                                                            position:relative; width:max-content; padding-left:9px; font-size:16px; color:var(--prm3); font-weight:500; 
                                                            &::before {
                                                                content:''; position:absolute; top:50%; left:0; width:4px; height:4px; background:var(--lbg1); border-radius:50%; transform:translateY(-50%);
                                                            } 
                                                            &::after {
                                                                display:none; content:''; width:100%; height:3px; background:var(--prm-color); position:absolute; bottom:-3px; left:0;
                                                            }
                                                            &:hover {
                                                                color:var(--prm-color); 

                                                                &::before {
                                                                    background:var(--prm-color);
                                                                }   
                                                                &::after{
                                                                    display:block;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &:hover, &:focus {
                            > p {
                                font-weight:bold;
                                &::after {
                                    width:calc(100% + 32px);
                                }
                            }
                            
                            > .depth02 {display:block;}
                        }

                        &:last-of-type {
                            &::after {display:none;}
                        }

                        &.allMenu {
                            a {
                                display:block; width:22px; height:18px; background:url(../../images/common/ico_allMenu.svg)50% 50% no-repeat;
                            }
                            &:hover {
                                > a {
                                    &::after {display:none;}
                                }
                                > .depth02 {display:none;}
                            }
                        }
                    }
                }
            }
            /*모바일메뉴 영역*/
            .moMenu {
                display:none; 
                @include media('tablet'){
                    display:block;
                }
                > ul {
                    display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:20px;
                    > li {
                        &:first-of-type {
                            width:20px; height:20px;
                            > a {
                                display:block; width:100%; height:100%;
                                > img {
                                    display:block; width:100%; height:100%;
                                }
                            }
                        }
                        > .menu-wrap { 
                            display:block; position: relative; width: 20px; height: 16px;
                            .line { 
                                position: absolute; width: 100%; height: 2px; border-radius: 2px; background: #222; left: 0; text-indent:-99999px;
                                &:first-child { top: 0; transform-origin: 25% 50%; transition: .3s;}
                                &:nth-child(2) { top: calc(50% - 1px);}
                                &:last-child { bottom: 0; transform-origin: 25% 50%; transition: .3s;}
                            }
                            &.open {
                                .line {
                                    &:first-child { transform: rotate(45deg) translateX(10%);}
                                    &:nth-child(2) { opacity: 0;}
                                    &:last-child { transform: rotate(-45deg) translateX(10%);}
                                }       
                            }
                        }
                    }
                }
            }
        }  
    }
}

/*========================================================================================*/
/*=====================================FOOTER=============================================*/
/*========================================================================================*/
.cptFooter {
    position:relative; width:100%;

    > .footerTop {
        border-top:1px solid var(--lbg1); padding:18px 0; background:var(--bg1);
        @include media('tablet02') {

        }

        .inner {
            width:100%; max-width:1280px; margin:0 auto;
            .affArea {
                > ul {
                    display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:81px;

                    > li {}
                }
            }
        }
    }

    > .footerBot {
        background:#1F2835; padding:30px 0 70px;
        @include media('tablet02') {
            padding:30px 20px 50px;
        }
        .inner {
            width:100%; max-width:1280px; margin:0 auto;
            @include media('tablet02') {
                max-width:auto;
            }
            .linkArea {
                display:flex; flex-flow:row nowrap; align-items: center; justify-content: space-between; padding-bottom:21px; border-bottom:1px solid #3E4958;
                @include media('tablet02') {
                    flex-flow:column;  border-bottom:none; padding-bottom:0; margin-bottom:20px;
                }
                .leftArea {
                    display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:30px;
                    @include media('tablet02') {
                        flex-flow:column; gap:10px; padding-bottom:24px; margin-bottom:24px; border-bottom:1px solid #3E4958;
                    }
                    > p {font-size:18px; color:var(--bg3); font-weight:400;}
                    > ul {
                        display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:30px;
                        @include media ('tablet') {
                            flex-flow:row wrap; justify-content: center; gap:5px 30px;
                        }
                        > li {
                            > a {
                                position:relative; display:block; width:max-content; font-size:16px; color:#ccc; font-weight:400; padding-right:30px;
                                &::after {
                                    content:''; position:absolute; top:50%; right:0; width:1px; height:12px; background:#8B8B8B; transform:translateY(-50%);
                                }
                            }
                            &:last-of-type {
                                > a {
                                    &::after {
                                        display:none;
                                    }
                                }
                            }
                        }
                    }
                }
                .rightArea {
                    .twoTab {
                        margin-top:60px;
                        &.diff {
                            margin-top:31px;
                        }
                    }
                    > ul {
                        display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:40px;
                        @include media ('tablet02') {
                            gap:20px;
                        }
                        > li {
                            > a {
                                position:relative; display:block; width:max-content; font-size:16px; color:#cbcbcb; font-weight:400; padding-right:30px;
                                &::after {
                                    content:''; position:absolute; top:50%; right:5px; width:12px; height:7px; background:url(../../images/common/footerArrow.png)50% 50% no-repeat; transform:translateY(-50%);
                                }
                                &.on {
                                    &::after {
                                        transform:translateY(-50%) rotate(180deg);
                                    }
                                }
                            }
                            > .dropTopBox {
                                display:none; position:absolute; bottom:calc(100% - 76px); left:0; width:100%; background:#1F2835; padding-top:30px;
                                > ul {
                                    width:100%; max-width:1280px; margin:0 auto; display:flex; flex-flow: row nowrap; align-items: flex-start; justify-content: flex-start;
                                    > li {
                                        width:25%;
                                        > p {
                                            font-size:18px; color:var(--bg3); font-weight:400; margin-bottom:10px;
                                        }
                                        > ul {
                                            display:flex; flex-flow: column; align-items: flex-start; justify-content: flex-start; gap:5px;
                                            > li {
                                                > a {
                                                    display:block; width:max-content; font-size:16px; color:#ccc; font-weight:400;
                                                }
                                            }
                                        }
                                    }
                                }

                                &.half {
                                    > ul {
                                        > li {
                                            width:50%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .infoArea {
                display:flex; flex-flow:row nowrap; align-items: flex-start; justify-content: space-between;
                @include media ('tablet02'){
                    flex-flow:column; justify-content: center; align-items: center;
                }
                > .infoBox {
                    position:relative; width:100%;
                    > .inLink {
                        padding:21px 0 29px;
                        @include media ('tablet02') {
                            padding: 0; margin-bottom:30px;
                        }
                        > ul {
                            display:flex; flex-flow:row nowrap; align-items: center; justify-content: flex-start; gap:24px;
                            @include media ('tablet02') {
                                flex-flow:row wrap; justify-content: center; gap:5px 24px;
                            }
                            li {
                                > a {
                                    position:relative; display:block; width:max-content; padding-right:24px; font-size:16px; color:#ccc; font-weight:400;
                                    &::after {
                                        content:''; position:absolute; top:50%; right:0; width:1px; height:12px; background:#8B8B8B; transform:translateY(-50%);
                                    }
                                }
                                &:last-of-type {
                                    > a {
                                        &::after {
                                            display:none;
                                        }
                                    }
                                }
                                &.effect {
                                    > a {
                                        color:#91c4ed;
                                    }
                                }
                            }
                        }
                    }

                    > .infoPart {
                        > ul {
                            display:flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start; gap:19px;
                            @include media ('tablet02'){
                                flex-flow:row wrap; align-items: center; justify-content: center;
                            }
                            > li {
                                position:relative; display:block; width:max-content; padding-right:19px; font-size:16px; color:#ccc; font-weight:400;

                                &::after {
                                    content:''; position:absolute; top:50%; right:0; width:1px; height:12px; background:#8B8B8B; transform:translateY(-50%);
                                }
                                
                                &:last-of-type {
                                    &::after {
                                        display:none;
                                    }
                                }
                            }
                        }

                        > p {
                            margin-top:20px; font-size:16px; color:#888; font-weight:400;
                            @include media ('tablet02') {
                                text-align:center;
                            }
                        }
                    }
                }

                > .authArea {
                    padding-top:50px;
                }
            }
        }
    }
}

/*========================================================================================*/
/*=====================================QUICK MENU=========================================*/
/*========================================================================================*/
.cptQuick {
    position:fixed; top:210px; right:34px; z-index:5;
    .apply {
        width:120px; height:120px; position:relative; border-radius:50%; background:linear-gradient(131deg, #4AAEFF 9.68%, #0088F8 77.22%); padding:19px; overflow:hidden; margin:0 auto;
        > a {
            display:block; width:100%; height:100%; position:relative;
            &::after {
                content:''; position:absolute; bottom:-21px; left:50%; transform:translateX(-50%); width:54px; height:48px;  background:url(../../images/common/quickbg01.png)50% 50% no-repeat;
            }
            > p {
                text-align:center; font-size:14px; color:var(--bg3); font-weight:700; line-height:1.2;
            }
            > span {
                font-size:10px; color:var(--bg3); font-weight:400; display:block; text-align:center;
            }
        }
    }
    .quickMenu {
        padding:28px 18px; background:var(--bg3); box-shadow:5px 10px 27px 10px rgba(145,155,175,0.1); border-radius:20px; margin:16px 0;
        > ul {
            display:flex; flex-flow:column; align-items: flex-start; justify-content: flex-start; gap:24px;
            
            > li {

                > a {
                    display:block; width:100%; padding-left:26px; position:relative; font-size:15px; color:var(--t1); font-weight:400; 

                    &::after {
                        content:''; position:absolute; top:50%; left:0; width:20px; height:20px; transform:translateY(-50%);
                    }

                    &.ico01{
                        &::after {background:url(../../images/common/ico_quick01.svg)center center no-repeat;}
                    }
                    &.ico02{
                        &::after {background:url(../../images/common/ico_quick02.svg)center center no-repeat;}
                    }
                    &.ico03{
                        &::after {background:url(../../images/common/ico_quick03.svg)center center no-repeat;}
                    }
                    &.ico04{
                        &::after {background:url(../../images/common/ico_quick04.svg)center center no-repeat;}
                    }
                    &.ico05{
                        &::after {background:url(../../images/common/ico_quick05.svg)center center no-repeat;}
                    }

                }
            }
        }
    }
    .top {
        width:80px; height:80px; position:relative; background:linear-gradient(324deg, #FF8000 3.51%, #FFB348 92.03%); border-radius:50%; margin:0 auto; padding:23px;

        > a {
            display:block; width:100%; height:100%; text-align:center; font-size:14px; color:var(--bg3); font-weight:bold; padding-top:20px;
            &::before {
                content:''; position:absolute; top:23px; left:50%; transform:translateX(-50%); width:16px; height:16px; background:url(../../images/common/quickTop.svg)50% 50% no-repeat;
            }
        }
    }
}